<%= link_to 'Search', search_marketing_dashboard_users_path, :class => 'btn btn-primary' %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>MobileNumber</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Company</th>
      <th>Amount</th>
      <th>Avail Amount</th>
      <th>Ops</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <% %w(id name email mobile_number first_name last_name company amount avail_amount).each do |v| %>
          <td> <%= u.send v %> </td>
        <% end %>
        <td>
          <%= link_to 'Recharge', marketing_dashboard_user_recharge_path(u.id) %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>
