<h3>XXX价格配置</h3>

<hr>

<form action="" class="form-horizontal">
  <h4>注册</h4>
  <div class="form-group">
    <label for="" class="col-sm-3 control-label">注册奖励：</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" class="form-control" id="" placeholder="">
        <div class="input-group-addon">元</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-3 control-label">邀请好友奖励：</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" class="form-control" id="" placeholder="">
        <div class="input-group-addon">元</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-3 control-label">注册成功管理员奖励：</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" class="form-control" id="" placeholder="">
        <div class="input-group-addon">元</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-3 control-label">首次任务奖励：</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" class="form-control" id="" placeholder="">
        <div class="input-group-addon">元</div>
      </div>
    </div>
  </div>

  <h4>活动</h4>
  <div class="form-group">
    <label for="" class="col-sm-3 control-label">KOL单价比例：</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" class="form-control" id="" placeholder="">
        <div class="input-group-addon">%</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-3 control-label">管理员抽成比例：</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" class="form-control" id="" placeholder="" readonly="readonly">
        <div class="input-group-addon">%</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-3 control-label">师傅抽成比例：</label>
    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" class="form-control" id="" placeholder="">
        <div class="input-group-addon">%</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-3">
      <button type="submit" class="btn btn-primary">提 交</button>
    </div>
  </div>
</form>
