<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>App Version</th>
      <th>Platform</th>
      <th>OS Version</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |f| %>
      <% %w(id app_version app_platform os_version content).each do |v| %>
        <td> <%= f.send v %> </td>
      <% end %>
    <% end %>
  </tbody>

</table>
