<script id="wyihtml5-extract-button" type="text/template">
  <li><a class="btn btn-default btn-sm" id="extract_url" title='Grab release from URL'><i class="fa fa-cloud-download font-12"></i></a></li>
</script>
<script id="wyihtml5-insert-link" type="text/template">
  <li><a class="btn btn-default btn-sm" id="insert_link" title="Insert link"><i class="fa fa-external-link font-12"></i></a></li>
</script>
<script id="wyihtml5-word-button" type="text/template">
  <li><a class="btn btn-default btn-sm" title="Grab release from DOCX document " onclick="document.getElementById('upload').click(); return false" id="extract_word"><i class="fa fa-file-word-o font-12"></i></a></li>
</script>
<script id="wyihtml5-direct-image-button" type="text/template">
  <div class="btn-group">
    <a class="btn btn-default btn-sm" id="direct-image-upload" title="Insert image by uploading"><i class="fa fa-file-image-o font-12"></i></a>
    <a class="btn btn-default btn-sm" id="url-image-upload" title="Insert image by url"><i class="fa fa-upload font-12"></i></a>
  </div>
</script>
<script id="wyihtml5-direct-video-button" type="text/template">
  <div class="btn-group">
    <a class="btn btn-default btn-sm" id="direct-video-upload" title="Insert video by uploading"><i class="fa fa-file-video-o font-12"></i></a>
    <a class="btn btn-default btn-sm" id="url-video-upload" title="Insert video by url"><i class="fa fa-upload font-12"></i></a>
  </div>
</script>
<input type="file" id="upload" name="upload" accept=".docx" style="visibility: hidden; width: 1px; height: 1px" />
<div class="col-lg-12">
  <div class="panel panel-default panel-toolbar">
    <div class="panel-body">
      <div class="pull-right toolbar releases-toolbar">
        <div class="ui-select">
          <select disabled='true' class="form-control" id="newsroom_filter" name="by_news_room">
            <option value="">All Newsrooms</option>
          </select>
        </div>
        <!-- <button class="btn btn-default"><i class="fa fa-rocket"></i> <strong>5 SmartReleases</strong> Remaining</button> -->
        <button class="btn btn-success" id='new_release'> <i class="fa fa-plus"></i> New Release </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade edit-release" id='release_form' role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <% if(release.news_room_id) {%>
            <h4 class="modal-title truncate"> Edit <%= release.title%> </h4>
          <% } else {%>
            <h4 class="modal-title"> Create Release </h4>
          <% } %>
        </div>
        <div class="modal-body">
          <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#release-company" aria-controls="home" role="tab" data-toggle="tab">Basic</a></li>
              <li role="presentation"><a href="#website" aria-controls="home" role="tab" data-toggle="tab">Website</a></li>
              <li role="presentation"><a href="#media" aria-controls="settings" role="tab" data-toggle="tab">Media</a></li>
            </ul>

            <!-- Tab panes -->
            <form role="form" id="releaseForm" onsubmit="return false;">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="release-company">
                  <div class="form-group">
                      <label>Newsroom</label>
                      <div class="ui-select">
                        <select disabled='true' id="news_room_id" class="form-control" name="news_room_id">
                          <option value="">Select...</option>
                        </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Release title</label>
                      <input class="form-control" id="release-title-input" name="title" type="text" value="" placeholder="Enter title...">
                  </div>
                  <div class="form-group">
                      <label>Release text</label>
                      <textarea class="form-control widearea wysihtml5" rows="10" placeholder="Paste your press release here..." name="text" data-widearea="enable" data-widearea-id="1"></textarea>
                  </div>
                  <div id="release-characteristics"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="website">
                  <br>
                  <div class="form-group">
                    <label for="icheckbox_flat" class="control-label" style="margin-right: 5px;" >Make this release private: </label>
                    <span><input type="checkbox" class='private-checkbox' id="icheckbox_flat" name="is_private" ></span>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="media">
                  <b>Please, select a logo for your release:</b>
                  <div class="logo"></div>
                  <br><hr><br>
                  <b>Here you can upload additional media files:</b>
                  <div class='images_region'></div>
                  <div class='videos_region'></div>
                  <div class='files_region'></div>
                </div>
            </div>
            </form>

          </div>
        </div>
        <div class="modal-footer">
          <% var windowUrl = location.host.split('.') %>
          <% var windowLocation = windowUrl.length == 3 ? _.last(windowUrl, 2).join('.') : location.host %>
          <div id="delete-container">
            <% if(release.id) { %>
              <button type="button" class="btn btn-danger" id="delete_release"><i class="fa fa-trash"></i> Delete Release</button>
            <% } %>
          </div>
          <div id="alert-container">
              <div id="public-alert" class="alert alert-warning" role="alert" style="display:none;">
                This release won't be publicly displayed while the parent Newsroom remains unpublished. 
                <b><button id="make-public">Publish the newsroom!</button></b>
              </div>
          </div>
          <div id="release-buttons">
            <button type="button" class="btn btn-primary smart-release-button" id='smart_release' ><i class="fa fa-rocket"></i> Next</button>
            <button type="button" class="btn btn-success" id="save_release"><i class="fa fa-save"></i> Save draft</button>
          </div>
        </div>
    </div>
  </div>
</div>
