.pmes-page {
}

.btn-pmes-reg-submit {
  border-radius: 22px;
}

.put-balance-card {
  height: 180px;
  margin: 15px;
  background: image_url('mobile/blockchain_pmes/balance_card.jpg') no-repeat center;
  background-size: cover;
}

.put-trend-card {
  height: 280px;
  margin: 15px;
  background-color: #fff;
}
