<h1>定价设置</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>名称</th>
      <th>值</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>充值最低金额</td>
      <td><%= text_field_tag :recharge_min_budget, MySettings.recharge_min_budget %>
          <%= link_to "提交修改",  "#" , class: 'update-value', 'data-key': 'recharge_min_budget', confirm: "确定更改吗？" %>
      </td>
    </tr>
    <tr>
      <td>活动最低金额</td>
      <td><%= text_field_tag :campaign_min_budget, MySettings.campaign_min_budget %>
        <%= link_to "提交修改",  "#" , class: 'update-value', 'data-key': 'campaign_min_budget', confirm: "确定更改吗？" %>
      </td>
    </tr>
  </tbody>
</table>


<script type="text/javascript">
  $(function(){
    $(".update-value").click(function(e){
      e.preventDefault();

    })
  })
</script>
