<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'wechat_campaign' %>
  </head>
  <body>
    <div class="dia-content" style="text-align: center">
      <% unless request.user_agent =~ /MicroMessenger/ %>
        <h2 class="title-ro">截图后去微信扫一扫！</h2>
        <%= raw RQRCode::QRCode.new(params[:url], size: 12, level: :h).as_svg(module_size: 3) %>
      <% else %>
        <% if @campaign_invite.try(:azb_shared) %>
          <h2 class="title-ro">再次分享可以获得更多点击</h2>
        <% else %>
          <h2 class="title-ro">点击右上角即可分享到朋友圈</h2>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
