<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Campaign ID</th>
      <th>Kol ID</th>
      <th>openid</th>
      <th>ips源</th>
      <th>Cookies</th>
      <th>IP</th>
      <th>Time</th>
      <th>是否有效</th>
      <th>Agent</th>
      <th>remark</th>
      <th>Referer</th>
      <th>其他</th>
    </tr>
  </thead>
  <tbody>
    <% @campaign_shows.each do |c| %>
      <tr>
        <% %w(id campaign_id kol_id openid  proxy_ips visitor_cookie visitor_ip visit_time status_CN visitor_agent remark_CH visitor_referer other_options).each do |v| %>
          <td><%= c.send v %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @campaign_shows %>
