<!DOCTYPE html>
<html>
<head>
  <title>Robin8</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= javascript_include_tag 'jquery' %>
</head>
<body>

</body>
<%=render :partial => "shared/tongji"%>
</html>
<script type="text/javascript">
  $(document).ready(function() {
    setTimeout(function(){
      window.location.href = '<%= @campaign.url %>';
    },100)
  });
</script>
