<div class='discover-header'>
  <h3>Discover</h3>
</div>
<div class="discover-body-container row">
  <ul>

  </ul>
  <img id='loadingSvg' src="<%= AppAssets.path('loaders/puff.svg') %>" style='display: block;margin: 0 auto;'>
</div>
