<html>
<body>
<pre>
<font style="font-family:Helvetica;font-size:15;font-weight:60;">
Hello,

You have received new quote, please check: <font style="#505050;font-weight:10;"><%= @url %></font>

If you have additional questions about account security, please visit <font color="#2fccd1">brand.robin8.net</font>.

Thanks for visiting Robin8!
</font>
</pre>
</body>
</html>