<html>
<body>
<pre>
<font style="font-family:Helvetica;font-size:15;font-weight:60;">
Hello,

We noticed that there was an attempt to sign in to your Robin8 account. If you were prompted for a verification code, please
enter the following to complete your sign-in.

Your verification code is: <font color="#2fccd1"><%= @valid_code %></font> (<font style="#505050;font-weight:10;">This code will expire in 10 minutes</font>)

If you did not try to sign in to your account, please change your password immediately by visiting your account settings on Robin8.

If you have additional questions about account security, please visit <font color="#2fccd1">robin8.net</font>.

Thanks for visiting Robin8!
</font>
</pre>
</body>
</html>
