<html>
<body>
Hello <%=@subscription.user.name%>

<p>
  You have been successfully subscribed to our <%=@subscription.package.name%>. <br/>
  Thank you and have a great day.
  <br/>

  Regards, <br/>
  Team, Robin8
</p>
</body>
</html>