.put-open-panel {
  width: 900px;
  margin: 60px auto 0;
}

.put-open-panel .panel-body {
  padding-top: 30px;
}

.mnemonic-modal-text {
  padding: 30px 0;
  text-align: center;
}

.pmestoken-modal-text {
  padding: 30px 0;
  word-break: break-all;
}
