.mnemonic-modal-text {
  padding: 30px 0;
  text-align: center;
}

.pmestoken-modal-text {
  padding: 30px 0;
  word-break: break-all;
}

.wallet-detail-publickey {
  margin-bottom: 10px;
  word-break: break-all;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}
