<div id="recommendations-nav" class="row"></div>
<div id="recommendations-container"></div>

<div id="more-recommendation-row" class="row get-more-recommendation-row">
    <div id="more-recommendations" class="get-more-recommendations" style="display:none;">
       Loading More Recommendations...
    </div>
</div>

<div id="no-more-recommendation-row" class="row get-more-recommendation-row">
    <div id="no-more-recommendations" class="get-more-recommendations" style="display:none;">
       No more right now, check back later!
    </div>
</div>

