<div id="loading-recommendation">
    <h3>Loading Recommendations</h3>  
    <p>
        Hold on to your horses, this could take us a little while...
    </p>
    <br>
    <div class="recommendations-loading-container">
    </div>  
    
</di>