<div id="new-recommendation">
    <div class="redcommendation-instructions">
        <h3>Welcome to Recommendations</h3>
        <p class="redcommendation-explanation">
        Since this is your first time using Recommendations, we would like to ask you a few quick questions:
        </p>
           <form role="form">     
              <div class="form-group">
                <label for="categories-select">1. Please select the industry you are most interested in:</label>
                  <select id="category-select" class="releases form-control">
                    <option value="01000000">Arts, culture and entertainment</option>
                    <option value="02000000">Crime, law and justice </option>
                    <option value="03000000">Disaster and accident </option>
                    <option value="04000000">Economy, business and finance</option>
                    <option value="05000000">Education</option>
                    <option value="06000000">Environmental issue</option>
                    <option value="07000000">Health</option>
                    <option value="08000000">Human interest</option>
                    <option value="09000000">Labour</option>
                    <option value="10000000">Lifestyle and leisure</option>
                    <option value="11000000">Politics</option>
                    <option value="12000000">Religion and belief</option>
                    <option value="13000000">Science and technology</option>
                    <option value="14000000">Social issue</option>
                    <option value="15000000">Sport</option>
                    <option value="16000000">Unrest, conflicts and war</option>
                    <option value="17000000">Weather</option>
                  </select>
                  </select>  
              </div>
              <br />
              <div class="form-group">
                <label for="topics-select">2. Please select 5 major things you care about most: <br /> (this could be notable companies, people, places, etc)</label>
                <input id="topics-select" type="text" class="form-control input-sm stream-input" placeholder="Start typing to get suggestions...">
              </div>
              <br />
              <div class="form-group">
                <label for="topics-select">3. Connect your Twitter account</label>
                <p class="redcommendation-explanatory-text">Robin8 Recommendations get better and smarter by looking at what you or your company share on Twitter.
              </div>
              <br />
              <div class="form-group">
              <button class="btn btn-lg btn-success" id="insert-user-tastes"  title="">Let's Go</button>
              </div>
          </form>
    </div>
</div>

