
<div class="col-sm-12" style="width: 99%">
  <div class="dashboard-btns">
    <div class="row">
      <h5>Recommended reading by key influencers</h5>
      <p>
        No content just yet ... we need you to work a little harder!
      </p>
      <p>
        Everytime you make a smart release, like, read or share recommended content or monitor a new stream, we update your profile and provide timely recommendations from the relevent authors.
      </p>
    </div>
  </div>
</div>

