<div id="no-recommendation">
  <div class="redcommendation-instructions">
    <p class="redcommendation-explanation">
       You have no influence-based recommendations yet...
    </p>
   </div>
</div>

