<div class="panel panel-default panel-toolbar">
    <div class="panel-body">
          <div class="pull-right toolbar">
                <a id="content-recommendations" class="rec-nav btn btn-default active" href="#"><i class="glyphicon glyphicon-book"></i> Content</a>
                <a id="influence-recommendations" class="rec-nav btn btn-default " href="#"><i class="fa fa-users"></i> Influencers</a>
                <a id="both-recommendations" class="rec-nav btn btn-default" href="#"><i class="glyphicon glyphicon-book"></i> <i class="fa fa-users"></i> Both</a>
          </div>
    </div>
</div>

