<div class="col-sm-12" style="width: 99%">
  <div class="dashboard-btns">
    <div class="row">
      <h5>Coming soon...</h5>
      <p>
        Robin8 is personalized to your digital profile. Each time you use Robin8, it learns your preferences, gets smarter and generates the best results for your campaign.
      </p>
      <p>
        Robin8's proprietary intelligent Recommender System (RS) will monitor your activity and based on your interests, provide you real time suggestions for what to read, share and who to know and pitch to.
      </p>
    </div>
  </div>
</div>