<div class="scanner-wrap">
  <div class="form-wrap">
    <%= render partial: "users/shared/alert" %>
    <div class="container">
      <h3>APP用户扫码登录</h3>
      <div class="scanner-step-wrap">
        <ul class="scan-steps">
          <li><i>1</i> 打开 Robin8 APP</li>
          <li><i>2</i> 进入 ［我的］</li>
          <li><i>3</i> 点击 ［扫一扫］</li>
        </ul>
      </div>
      <div class="scanner-cont">
        <img />
      </div>
      <div class="scanner-bottom">
        <a href="/login" class="back-btn">
          <i class="l-arraw-left"></i> 返回账号登录
        </a>
      </div>
    </div>
  </div>
</div>