<nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="#">
        <img src="<%= AppAssets.path('robin8-fixedlogo.png') %>" height="35">
      </a>
      <!-- <form class="navbar-form navbar-left">
        <a href="#"><span class="badge badge-danger badge-lg">2</span></a>
      </form> -->
      <div class="collapse navbar-collapse" id='say-something' style='float: right;'></div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-cart"></i><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" data-toggle="modal" data-target="#shopping-cart"><i class="fa fa-shopping-cart"></i> View Cart</a></li>
            <li><a href="#"><i class="fa fa-dollar"></i> Check Out</a></li>
          </ul>
        </li> -->
        <li class="dropdown">
          <a href="#" id="userDropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa fa-user"></i> <span class='text'> Anonymous</span> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <!-- <li><a href="#"><i class="fa fa-cog"></i> Account Settings</a></li> -->
            <li><a href="#billing"><i class="fa fa-dollar"></i> Billing Settings</a></li>
            <li><a href="/#profile"><i class="fa fa-smile-o"></i> Profile</a></li>
            <li class="divider"></li>
            <li><a href='/users/sign_out'><i class="fa fa-sign-out"></i> Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>


<div id="wrapper" class="active">
  <!-- Sidebar -->
  <div id="sidebar-wrapper"></div>
  <!-- Page content -->
  <div id="page-content-wrapper">
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset" id='page-content'></div>
  </div>
</div>

<div class="modal fade" id="shopping-cart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog bs-example-modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Shopping cart</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-sm-8 col-md-6">
                    <div class="media">
                        <a class="pull-left" href="#"> <img class="media-object" 
                          src="<%= AppAssets.path('product-icon.png') %>" 
                          style="width: 72px; height: 72px;"> </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Press release blast</a></h4>
                            <small>Send your release to up to 100 journalists.</small>
                        </div>
                    </div></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                    <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>$50.00</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>$150.00</strong></td>
                    <td class="col-sm-1 col-md-1">
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button></td>
                </tr>
                <tr>
                    <td class="col-md-6">
                    <div class="media">
                        <a class="pull-left" href="#"> <img class="media-object" 
                          src="<%= AppAssets.path('product-icon.png') %>" 
                          style="width: 72px; height: 72px;"> </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Robin seats</a></h4>
                            <small>Send your release to up to 100 journalists.</small>
                        </div>
                    </div></td>
                    <td class="col-md-1" style="text-align: center">
                    <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                    </td>
                    <td class="col-md-1 text-center"><strong>$4.99</strong></td>
                    <td class="col-md-1 text-center"><strong>$9.98</strong></td>
                    <td class="col-md-1">
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h5>Subtotal</h5></td>
                    <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h5>Tax</h5></td>
                    <td class="text-right"><h5><strong>$6.94</strong></h5></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong>$31.53</strong></h3></td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">
          Close
        </button>
        <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-shopping-cart"></span> Checkout
        </button>
      </div>
    </div>
  </div>
</div>


    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
