<div  class="signup">
  <header class="formheader">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="logo">Robin8</h1>
        <h2 class="signup-tag"></h2> 
      </div>
    </div> 
  </header>

  <div class="form-step"> 
  </div>

  <footer>
    <div class="row">
      <div class="small-12 medium-3 columns ft-logo right"> 
        <img src="<%= AppAssets.path('ROBIN8-logo.png') %>" /> 
      </div>
      <div class="small-12 medium-9 columns left"> 
        &copy;2015 MyPRGenie, LLC. All rights reserved. <br class="show-for-small-only" /> <a class="ft-link privacy">Privacy</a><a class="ft-link privacy">Terms</a>
      </div>
    </div> 
  </footer>
</div>
