<table class="table table-bordered">
  <thead>
  <tr>
    <th>日期</th>
    <th>新增测试分数人数</th>
    <th>今日转发文章人数</th>
    <th>今日接活动人数</th>
  </tr>
  </thead>
  <tbody>
  <% @collect.each do | record |  %>
    <tr>
      <td><%= record[:date] %></td>
      <td><%= record[:value] %></td>
      <td><%= record[:article] %></td>
      <td><%= record[:campaign] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
