<table border="1">
  <tr>
    <th>ID</th>
    <th>kol id</th>
    <th>真实姓名</th>
    <th>提现金额</th>
    <th>收款渠道</th>
    <th>支付宝帐号</th>
    <th>银行名称</th>
    <th>银行卡号</th>
    <th>提现状态</th>
  </tr>
  <% @withdraws.each do |w| %>
    <tr>
      <% %w(id kol_id real_name credits withdraw_type alipay_no bank_name bank_no status).each do |v| %>
        <td> <%= multi_send w, v %> </td>
      <% end %>
    </tr>
  <% end %>
</table>
