<table class="table table-bordered">
  <thead>
    <tr>
      <% StasticData.column_names.each do |v| %>
        <th> <%= v.classify %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @stastic_datas.each do |s| %>
      <tr>
        <% StasticData.column_names.each do |v| %>
          <td> <%= multi_send s, v %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
