<p class="bg-info" style="font-size: 20px;">brand充值记录</p>

<p>
  Download:
  <%= link_to "下载 CSV", download_user_recharge_statistics_marketing_dashboard_stastic_datas_path(format: "csv") %>
  <%= link_to "下载 Excel", download_user_recharge_statistics_marketing_dashboard_stastic_datas_path(format: "xls") %>
</p>
