<h4><i class="fa fa-users"></i> Sign in to Robin</h4>
<p style="font-weight: normal;">
  Please enter your <strong>Email</strong> and <strong>Password</strong> or use <strong>Social Sign-in</strong>.
</p>
<form accept-charset="UTF-8" role="form" class="form-signin">
  <fieldset>
    <label class="panel-login">
      <div class="login_result"></div>
    </label>
    <input class="form-control" placeholder="Email" name='email' id="email" type="text" />
    <input class="form-control" placeholder="Password" name='password' id="password" type="password" />
    <br>
    <button class="btn btn-lg btn-success btn-block" type="submit"><i class="fa fa-sign-in"></i> Login</button>
    <div class="checkbox">
      <label>
        <input type="checkbox" name='remember_me' id="remember_me"> Remember me
      </label>
    </div>
    <a href="#forgot">Forgot password?</a> &bull;
    <a href="#signup">Register</a>
    </br></br>
    <button class="btn btn-md btn-google-plus btn-block" id="login"><i class="fa fa-google-plus-square"></i> Login using <strong>Google+</strong></button>
    <button class="btn btn-md btn-facebook btn-block" id="login">
      <i class="fa fa-facebook-square"></i> Login using <strong>Facebook</strong>
    </button>
  </fieldset>
</form>



