<div class="card mb-12">
  <div class="card-header">
    <i class="fa fa-line-chart"></i> 用户增长数
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-9 col-lg-9 col-md-9">
        <canvas id="chart4" width="50" height="50"></canvas>
      </div>
    </div>
  </div>
    <div class="card-footer small text-muted" >最后更新 <span id="lastupdate4"></span></div>
</div>


<script>
  $(document).ready(function () {
    
    var chartJson = 
    $.ajax({url: "/partners/dashboard/chart4.json"})
    .done(function(chartJson){
      var ctx = document.getElementById("chart4");
      
      var data = {
            labels: Object.keys(chartJson),
            datasets: [
              {
                label: "用户增长数",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,0.8)",
                highlightFill: "rgba(220,220,220,0.75)",
                highlightStroke: "rgba(220,220,220,1)",
                data: Object.values(chartJson)
              }
            
            ]
            };
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: data
      });
      
      
      $('#lastupdate4').text(moment().subtract(1, 'days').hour(23).minute(59).format("LLL"));
    });
    
    console.log(chartJson);
  });
</script>
