<div class="card mb-12">
  <div class="card-header">
      <h4><i class="fa fa-line-chart" aria-hidden="true"></i> <%= t('partner.dashboard.chart3.title') %></h4>
  </div>
  <div class="card-body">
    <div class="well profile_view card-shadow">
      <div class="col-sm-12">
        <div class="left col-xs-7">
            <h4 id="kol_historical_winner_name">
                <%= t('partner.dashboard.error.msg') %>
            </h4>
            <h3 class="text-success">
                <i class="fa fa-jpy" aria-hidden="true"></i> <span id="cur_historical_winner_price">0</span>
            </h3>
            <br />
        </div>
        <div class="right col-xs-5 text-center">
            <%= image_tag("partners/user.png", alt: "", id: "avatar_url_historical", class: "img-circle img-responsive") %>
            <br />
        </div>
      </div>
      
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var imgSrc3 = $("#avatar_url_historical").attr('src');
    var chartJson = 
    $.ajax({url: "/partners/dashboard/chart3.json"})
    .done(function(chartJson){
      $("#cur_historical_winner_price").text(chartJson.income);
      $("#kol_historical_winner_name").text(chartJson.name);
      $("#avatar_url_historical").attr('src', chartJson.avatar_url).on("error", function(){
        this.src = imgSrc3;
      });
      $('#lastupdate3').text(moment().subtract(1, 'days').hour(1).minute(59).format("LLL"));
    })
    .fail(function(){
      console.log('error in ')
    });
    console.log(chartJson);
  });
</script>