<div style="border: 1px solid #eee" class="card mb-12">
  <div class="text-center card-header">
    <i class="fa fa-bar-chart"></i> <%= t('partner.dashboard.chart6.title') %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 my-auto">
        <canvas id="chart6" width="100" height="100"></canvas>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted"></div>
</div>

<script type="text/javascript">
  $(document).ready(function () {

    var chartJson = $.ajax({url: "/partners/dashboard/chart6.json", async: true}).done(function() {

    console.log(chartJson.responseText);
    //  alert(chartJson.responseText);

    var array = JSON.parse(chartJson.responseText);
    //  alert("array " +array);

    var chartlabels = array.labels;
    //   alert("xxx" + labels);
    console.log(chartlabels);
    var chartData = array.data;
    var ctx = document.getElementById("chart6");
    // alert("chart6" + ctx);
    var myLineChart = new Chart(ctx, {
      //   type: 'bar',
      type: 'horizontalBar',
      data: {
        labels: chartlabels, //["January", "February", "March", "April", "May"],
        datasets: [{
          label: "Tags Distribution",
          //   backgroundColor: "rgba(2,117,216,1)",
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: "rgba(2,117,216,1)",
          data: chartData, //[4215, 5312, 6251, 7841, 9821],
        }],
      },
      options: {
        scales: {
          xAxes: [{
            time: {
              unit: 'percentage'
            },
            gridLines: {
              display: false
            }
            // ticks: {
            //   max: 100,
            //   maxTicksLimit: 6
            // }
          }],
          yAxes: [{
            // ticks: {
            //   min: 0,
            //   max: 15000,
            //   maxTicksLimit: 5
            // },
            gridLines: {
              display: false
            }
          }],
        },
        legend: {
          display: false
        }
      }
    });
    });
  });

</script>
