<div class="card mb-12">
  <div class="card-header">
    
  </div>
  <div class="card-body">
      <div class="well profile_view card-shadow">
          <div class="row">
              <span class="col-sm-8">
                <%= t('partner.dashboard.chart4.title') %>
              </span>
              <span class="col-sm-4">
                  
                  <div class="input-group date" id="datetimepicker4" >  
                      <input type="text" class="form-control" data-date-format="DD-MM-YYYY"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div> 
              </span>
          </div>
        
        <div class="col-sm-12">
          <canvas class="hide" id="chart4" width="100%" height="40"></canvas>
          <div class="no-data-found" id="not-found4">
            <div>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i> <%= t('partner.dashboard.error.msg') %>
            </div>
        </div>
        </div>
        <br />
        
    </div>
    
  </div>
</div>


<script>
  $(document).ready(function () {
    
    var getData = function(){
      var selectedDate = $('#datetimepicker4').data("DateTimePicker").date().format("YYYY-MM-DD")
      $.ajax({
        url: "/partners/dashboard/chart4.json",
        data: {
          date: selectedDate
        }
      })
      .done(function(chartJson){
        if(Object.keys(chartJson).length < 1){
          dataIsFound(false, 4);
          return;
        }
        var ctx = $("#chart4");
        var gradient = ctx.get(0).getContext('2d').createLinearGradient(0, 0, 0, 200);

          gradient.addColorStop(0, 'rgba(2,117,216,0.4)');
          gradient.addColorStop(0.2, 'rgba(2,117,216,0.3)');
          gradient.addColorStop(0.5, 'rgba(2,117,216,0.1)');
          gradient.addColorStop(1, 'rgba(2,117,216,0.0)');
        //var fillPattern = ctx.createPattern(img, 'repeat');
        var data = {
          labels: Object.keys(chartJson),
          lineColor:"red",
          datasets: [
            {
              label: "<%= t('partner.dashboard.chart4.title') %>",
              data: Object.values(chartJson),
              backgroundColor: gradient,
              borderColor: "rgba(44,101,255,1)",
              pointRadius: 5,
              pointBackgroundColor: "rgba(255,255,255,1)",
              pointBorderColor: "rgba(44,101,255,0.8)",
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(44,101,255,1)",
              pointHitRadius: 20,
              pointBorderWidth: 2
            }

          ]
        };
        var myLineChart = new Chart(ctx.get(0), {
          type: 'line',
          data: data,
          options: {
            scales: {
              xAxes: [{

                gridLines: {
                  display: false
                },
              }],
              yAxes: [{
                gridLines: {
                  display: false
                }
              }],
            },
            legend: {
              display: false
            }
          }
        });
        dataIsFound(true, 4);
      })
      .fail(function(){
        dataIsFound(false, 4);
      });
    };
    
    $('#datetimepicker4').datetimepicker({
      viewMode: 'years',
      defaultDate: true
    }).on('dp.hide',getData); 
    $('#datetimepicker4').data("DateTimePicker").date(moment());
    getData();
  });
</script>
