<div class="card mb-12">
  <div class="text-center card-header">
    
  </div>
  <div class="card-body">
      <div class="well profile_view card-shadow">
          <div class="row">
              <span class="col-sm-12 text-center">
                <%= t('partner.dashboard.chart6.title') %>
              </span>
              
          </div>
        
        <div class="col-sm-12">
          <canvas class="hide" id="chart6" width="100" height="100"></canvas>
          <div class="no-data-found" id="not-found6">
            <div>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i> <%= t('partner.dashboard.error.msg') %>
            </div>
        </div>
        </div>
        <br />
        
    </div>
    
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {

    var chartJson = $.ajax({url: "/partners/dashboard/chart6.json", async: true})
    .done(function() {

      var array = JSON.parse(chartJson.responseText);

      var chartlabels = array.labels;
      
      var chartData = array.data;
      if(chartData.length < 1){
        dataIsFound(false, 6);
        return;
      }
      var ctx = document.getElementById("chart6");
      
      var myLineChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: chartlabels, 
          datasets: [{
            label: "<%= t('partner.dashboard.chart6.title') %>",
            backgroundColor: [
              'rgba(147, 116, 255, 1)',
              'rgba(69, 119, 255, 1)',
              'rgba(76, 156, 255, 1)',
              'rgba(82, 224, 255, 1)',
              'rgba(123, 240, 211, 1)',
              'rgba(255, 191, 12, 1)',
              'rgba(255, 140, 88, 1)'
            ],
            data: chartData, 
          }],
        },
        options: {
          tooltips:{
            callbacks:{
              mode: 'single',
              label: function(tooltipItem, data) {
                    var label = data.labels[tooltipItem.index] || '';
                    var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] || '';
                    
                    if (label) {
                        label += ': '+Number(value).toFixed(2)+'%';
                    }
                    return label;
                }
            }
          },
          legend: {
            display: true,
            labels: {
              usePointStyle: true
            },
            position: 'bottom',
            
          },
        }
      });
      dataIsFound(true, 6);
    })
    .fail(function(){
      dataIsFound(false, 6);
    });
  });

</script>
