<h4>审核</h4>
<div class="recommend">
	<div class="row">	
	  <h5>佣金(%):</h5>
	  <div class="col-md-1"><input id="fee_rate" class="form-control"></div>
	</div>
  <div class="row">
    <h5>推荐搜索:</h5>
    <div class="col-md-3">
      <select class="form-control" id='form-type'>
        <option value="1">微博</option>
        <option value="2">微信</option>
      </select>
    </div>
    <div class="col-md-3">
      <input class="form-control" id= "profile_name" placeholder="请输入mingzi">
    </div>
    <input type="submit" value="搜索" class="btn btn-primary col-md-1 search-btn">
  </div>
  <div class="row search-select search-selectbox"></div>
  <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>
<h5>已选择:</h5>
<div class="row search-list"></div>
<input type="submit" value="提交" class="btn btn-primary col-md-1 search-submit">
<style>
  .recommend{
    padding: 10px 30px;
  }
  .s-part{
      margin-bottom: 20px;
  }
  .s-part input {
      float: left;
      margin-top: 40px;
      margin-right: 1%;
  }
  .s-part  .s-part-right{
      float: left;
      width: 90%;
  }
  .s-part  .s-part-right img{
      float: left;
      width: 80px;
      margin-right: 2%;
  }
  .s-part  .s-part-right div{
      padding-top: 20px;
      float: left;
      width: 70%;
  }
  .s-part  .s-part-right div p{
    overflow: hidden;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .search-select{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    min-height: 100px;
    max-height: 340px;
    overflow-y: scroll;
  }
  .search-list .s-part{
    position: relative;
    padding-right: 0px;
  }
  .search-list .s-part .s-part-right{
      /* padding-left: 0px; */
      width:100%;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border: 1px solid #ddd;
  }
  .search-list .s-part i{
    position: absolute;
    color: #ef8989;
    right: 5px;
    top: 2px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
  }
  .search-submit{
    margin-top: 20px;
  }
</style>

<script>
  $(function () {
    var weiboList = [];
    var weiboWeixin = [];
    var formType = document.getElementById('form-type');
    var searchType = 'weixin';
    // 默认调用微博接口
    // 调用微博接口
    // weiboJog(param);
    // searchbtn
    $('.search-btn').on("click", function () {
      if (formType.options[formType.selectedIndex].value === "1") {
        searchType = 'weibo';
      } else {
        searchType = 'weixin';
      }
      Jog({type: searchType, profile_name: $('#profile_name').val(), page_no: 0});
    });
    // top input 点击
    $('.search-selectbox').on('click','input', function () {
      if(formType.options[formType.selectedIndex].value === '1') {
        if($(this).is(':checked')) {
          let listDiv = '<div class="col-md-4 s-part" data="'+ $(this).val() +'">'+
          '<i data-id="1" data="'+ $(this).val() +'" >X</i>'+
          '<div class="s-part-right">'+
            $(this).next().html()
          '</div>'+
          '</div>';
          $('.search-list').append(listDiv);
          weiboList.push($(this).val());
        } else {
          let selectLi = $('.search-list .s-part');
          for (var i = 0; i < selectLi.length; i++) {
            if (selectLi[i].getAttribute('data') === $(this).val()){
              selectLi[i].remove();
            }
          }
          checkout($(this).val(), weiboList);
        }
      } else {
        if($(this).is(':checked')) {
          let listDiv = '<div class="col-md-4 s-part" data="'+ $(this).val() +'">'+
          '<i data-id="2" data="'+ $(this).val() +'" >X</i>'+
          '<div class="s-part-right">'+
            $(this).next().html()
          '</div>'+
          '</div>';
          $('.search-list').append(listDiv);
          weiboWeixin.push($(this).val());
        } else {
          let selectLi = $('.search-list .s-part');
          for (var i = 0; i < selectLi.length; i++) {
            if (selectLi[i].getAttribute('data') === $(this).val()){
              selectLi[i].remove();
            }
          }
          checkout($(this).val(), weiboWeixin);
        }
      }
    });
    
    // 已选中close
    $('.search-list').on('click','i', function () {
      $(this).parents('.s-part').remove();
      let inputList = $('.search-selectbox input');
      for (var i = 0; i < inputList.length; i++) {
        if (inputList[i].value === $(this).attr('data')){
          $('.search-selectbox input').eq(i).prop('checked',false);
        }
      }
      if ($(this).attr('data-id') === '1') {
        checkout($(this).attr('data'), weiboList);
      } else {
        checkout($(this).attr('data'), weiboWeixin);
      }
    })
    // 提交按钮
    $('.search-submit').on('click', function(){
      console.log(weiboList);
      console.log(weiboWeixin);
    });
  })
  function checkout(val, type) {
    for(var i = 0; i < type.length; i++) {
      if (val === type[i]) {
        type.splice(i, 1);
        // console.log(type);
      }
    }
  }
  function SelectBox(name) {
    let obj = document.getElementsByName(name);
    let check_val = [];
    for (k in obj) {
      if (obj[k].checked)
        check_val.push(obj[k].value);
    }
    alert(check_val);
  }
  // 微博接口
  function Jog(params) {
    $.ajax({
      url: '/marketing_dashboard/creations/search_kols',
      // contentType: "application/json;charset=utf-8",
      type: 'GET',
      dataType: 'json',
      data: params,
      success: function (data) {
        weiboList = data.data.data;
        var html = "";
        $('.search-selectbox').html('');
        for (var i = 0; i < data.data.total_record_count; i++) {
          html +=
            '<div class="col-md-4 s-part">' +
            '<input type="checkbox" name="test" value="' + data.data.data[i].profile_id + '" />' +
            '<div class="s-part-right">' +
            '<img src="' + data.data.data[i].avatar_url + '" alt="">' +
            '<div>' +
            '<p>' + data.data.data[i].profile_name + '</p>' +
            '<p>' + data.data.data[i].description_raw + '</p>' +
            '</div>' +
            '</div>' +
            '</div>'
        }
        $('.search-selectbox').append(html);
      },
      error: function (error) {
        console.log(error);
      }
    })
  };
</script>