<div class="col-sm-6 col-md-4">
  <div class="thumbnail release-item">
    <a href="public/release.html" target="_blank" class="release-image">
      <img class="img-rounded" src="http://lorempixel.com/400/400/?4355">
      <div class="overlay">
        Summary
        <br><br>
        <ul>
          <li><i class="fa fa-eye"></i> <strong>5.2k</strong> Views</li>
          <li><i class="fa fa-thumbs-up"></i> <strong>223</strong> Likes</li>
          <li><i class="fa fa-reply"></i> <strong>3</strong> Coverages</li>
        </ul>
      </div>
    </a>
    <div class="caption text-center">
      <h3><a href="public/release.html" target="_blank">Release Title Goes Here</a></h3>
      <small><i class="fa fa-clock-o"></i> 15 Jan 2015 &nbsp;&nbsp; <i class="fa fa-building"></i> <strong>AYLIEN</strong></small>
      <p>
        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...
      </p>
      <p>
        <label class="label label-info">Startups</label>
        <label class="label label-info">Success</label>
        <label class="label label-info">Technology</label>
        <label class="label label-info">Computers</label>
        <label class="label label-info">Artificial Intelligence</label>
      </p>
      <hr>
      <p align="center">
        <a href="#" class="btn btn-sm btn-success" role="button" data-toggle="modal" data-target=".blast-release"><i class="fa fa-rocket"></i> Robin8</a>
        <a href="public/release.html" class="btn btn-sm btn-primary" target="_blank"><i class="fa fa-eye"></i> Preview</a>
        <a href="#" class="btn btn-sm btn-default" role="button" data-toggle="modal" data-target=".edit-release"><i class="fa fa-pencil"></i> Edit</a>
      </p>
    </div>
  </div>
</div>