<p class="title" style="padding-top: 16px;">
  好用不贵的14支韩系口红
</p>
<a href="bantang://com.jzyd.BanTang/users/detail?id=2466368">
  <div class="user">
    <p class="label">
      原创文章
    </p>
    <div class="avatar" style="background-image:url(http://7te7t9.com2.z0.glb.qiniucdn.com/002/46/63/68.jpg);">
    </div>
    <div class="nickname">
      Vereesa_yu
    </div>
    <div class="uv">
      <i>
      </i>
      8442
    </div>
  </div>
</a>