<div class="product-v3 product180413" data-id="180413" data-like-count="3053">
  <a href="http://m.ibantang.com/product/brandDetail/180413" target="_blank">
    <div class="info-area">
      <div class="cover" style="background-image:url(http://bt.img.17gwx.com/product1/18/4/c1leYFBd/200x200);">
      </div>
      <div class="arr-area">
        <i class="arr-right">
        </i>
      </div>
      <div class="info">
        <p class="pro-title">
          <span>
            爱茉莉
          </span>
          蜂蜜唇膏口红
        </p>
        <p class="price">
          ¥&nbsp;
          <span class="number-font">
            53.0
          </span>
        </p>
        <div class="score-area">
          <p class="desc">
            作者评分
          </p>
          <div class="stars">
            <ul>
              <li>
                <i class="star-0">
                </i>
              </li>
              <li>
                <i class="star-0">
                </i>
              </li>
              <li>
                <i class="star-0">
                </i>
              </li>
              <li>
                <i class="star-0">
                </i>
              </li>
              <li>
                <i class="star-0">
                </i>
              </li>
            </ul>
          </div>
          <p class="score number-font">
            6.0
          </p>
        </div>
      </div>
    </div>
  </a>
</div>