$red: #ffa4d7 #ce68ae;
$green: #9dce51 #67b13a;
$blue: #7edffd #43aecf;
$orange: #fea650 #f46d1b;
$cyan: #89d4eb #2795c9;
$yellow: #fd8d49 #dea223;
$purple: #aa83f4 #845ccd;
$gray: #989898;

$font-color: #000;

$bd-color: #cbcbcb;

$bg-color: #f5f5f5;
$btn-active: #eee;
$disabled-color: #ccc;
