<div class="col-md-4" id="kol_avatar" style="margin-top: 10px; margin-left: 10px; padding: 0px;">
  <img width="200px" src="<%= AppAssets.path('noavatar.png') %>">
</div>
<div class="col-md-5" >
  <div id="graph_score2" name="graph_score2"></div>
</div>
