<div class="row">
  <div class="col-md-2 col-md-offset-5 vcenter"><b>Private Influencers</b></div>
  <div class="pull-right">
    <form id="invite_kols_form" action="users/import_kols" enctype="multipart/form-data">
      <button type="button" class="btn btn-default btn-green vcenter" id="invite_kols"><i class="fa fa-upload"></i>  Invite Influencers</button>
      <br>
      <small>Supported formats: CSV <i title="" data-html="true" data-placement="bottom" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="Uploaded file must have exactly <strong>three</strong> columns, formatted as <strong>first name, last name, email address</strong>"></i></small>
      <input class="hide" type="file" id="private_kols_file" name="private_kols_file" accept="text/csv" />
      <input class="hide" type="button" id="submit_csv"/>
    </form>
  </div>
  <button type="button" class="btn btn-success vcenter" id="add_kol"><i class="fa fa-plus"></i>  Add Influencer</button>
</div>
<% if (items.length == 0) { %>
  <div class="row">You haven't invited influencers yet. It's time to add some!</div>
<% } else { %>
  <div class="row">
    <table class="table table-striped" id="private_kols-table">
      <thead><tr>
        <th>Name</th>
        <th>Email</th>
        <th>Active</th>
      </tr></thead>
      <tbody>
        <% _.each(items, function(c) { %>
          <tr data-id="<%= c.private_kol.id %>">
            <td><%= c.private_kol.full_name %></td>
            <td><%= c.private_kol.email %></td>
            <td><%= active(c.private_kol) %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<% } %>

<div class="modal fade edit-kol" id='kol_form' role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> Add Influencer</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="add_kol-form" onsubmit="return false;">
          <label>First Name</label>
          <div id='kol-first_name-block'>
            <input class="form-control" id="kol-first_name-input" name="first_name" type="text" value="" placeholder="Enter first name..." required>
          </div>
          <label>Last Name</label>
          <div id='kol-last_name-block'>
            <input class="form-control" id="kol-last_name-input" name="last_name" type="text" value="" placeholder="Enter last name..." required>
          </div>
          <label>Email</label>
          <div id='kol-email-block'>
            <input class="form-control" id="kol-email-input" name="email" type="email" value="" placeholder="Enter email..." required>
          </div>
          <label class="control-label">Categories:</label>
          <div>
            <input class="form-control" id="categories" name="categories" type="hidden">
          </div>
        </form>
        <div class="modal-footer">
          <div id="add_kol-buttons">
            <button type="button" class="btn btn-success" id="add_kol_confirm"><i class="fa fa-plus"></i> Add</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
