<div class="new-campaign-tabs">
  <ul role="" class="breadcrumb breadcrumb-arrow blast-steps">
    <li role="presentation" id="start-link" >
      <a id="campaign-home-link" href="#/smart_campaign" aria-controls="home" role="tab">
        <i class="fa fa-step-backward"></i> <%= polyglot.t('smart_campaign.new.back') %>
      </a>
    </li>
    <li role="presentation" id="pitch-link"><a href="#smart_campaign/new" aria-controls="settings" role="tab"><i class="fa fa-send-o"></i> <%= polyglot.t('smart_campaign.new.new') %><label class="badge badge-success"></label></a></li>
  </ul>
</div>
<div id="tab-content"></div>
