<div class="new-campaign-tabs">
  <ul role="" class="breadcrumb breadcrumb-arrow blast-steps">
    <li role="presentation" id="start-link" >
      <a id="campaign-home-link" href="#/smart_campaign/new" aria-controls="home" role="tab">
        <i class="fa fa-home"></i> <%= polyglot.t('smart_campaign.new.start') %>
      </a>
    </li>
    <li role="presentation" id="target-link"><a href="#smart_campaign/new_target" aria-controls="messages" role="tab"><i class="fa fa-bullseye"></i> <%= polyglot.t('smart_campaign.new.targets') %></a></li>
    <li role="presentation" id="pitch-link"><a href="#smart_campaign/new_pitch" aria-controls="settings" role="tab"><i class="fa fa-send-o"></i> <%= polyglot.t('smart_campaign.new.pitch') %><label class="badge badge-success"></label></a></li>
  </ul>
</div>
<div id="tab-content"></div>
