<div class="col-sm-12 smart-campaign" id="campaign-content" style="width: 99%">
<h5><i class="fa fa-send-o"></i> <%= polyglot.t("smart_campaign.pitch_step.title") %></h5>
<p><%= polyglot.t("smart_campaign.pitch_step.description") %> </p>


<div id="email-targets"></div>
<div id="wechat-targets"></div>
<div id="weibo-targets"></div>

<div class="panel panel-primary" id="campaign-details"></div>

<div class="panel panel-primary" id="email-pitch"></div>
<div class="panel panel-primary" id="wechat-pitch"></div>
<div class="panel panel-primary" id="weibo-pitch"></div>
<button id="save-pitch" class="btn btn-block btn-success smart-release-btn" style="width: 100%; font-size: 20px; margin-top: 20px;"><i class="fa fa-rocket"></i> <%= polyglot.t("smart_campaign.pitch_step.execute") %> </button>
</div>
