<div class="col-sm-12" style="width: 99%">
  <div class="dashboard-btns">
    <div class="row smart-campaign">
      <div class="col-md-6">
        <h5><i class="fa fa-home glyphicon glyphicon-bullhorn"></i> <%=polyglot.t('smart_campaign.smartcampaign')%></h5>
      </div>
      <div class="pull-right">
        <a type="button" class="save-campaign btn btn-success vcenter" id="new_campaign" href="/#smart_campaign/new"><%=polyglot.t('smart_campaign.new_campaign')%></a>
      </div>
    </div>
    <div class="row">
      <div id="campaigns"></div>
    </div>
  </div>
</div>
