<div class="col-sm-12" style="width: 99%">
  <div class="dashboard-btns">
    <div class="row">
      <h5><i class="fa fa-home glyphicon glyphicon-bullhorn"></i> SmartCampaign</h5>
      <div id="campaigns"></div>
      <hr/>
      <div id="kols"></div>
    </div>
  </div>
</div>
