<!--TODO: move this to separate module-->
<div class="col-sm-12" style="width: 99%">
	<div class="dashboard-btns">
		<div class="row">
			<h5><i class="fa fa-home glyphicon glyphicon-bullhorn"></i> SmartCampaign</h5>
			<p>
                Welcome to SMART campaigns!!!!!
                There is not much here for you. Yet.
			</p>
        </div>
    </div>
</div>
