<script id="wyihtml5-extract-button" type="text/template">
  <li><a class="btn btn-default btn-sm" id="extract_url" title='Grab release from URL'><i class="fa fa-cloud-download font-12"></i></a></li>
</script>
<script id="wyihtml5-insert-link" type="text/template">
  <li><a class="btn btn-default btn-sm" id="insert_link" title="Insert link"><i class="fa fa-external-link font-12"></i></a></li>
</script>
<script id="wyihtml5-unlink" type="text/template">
  <li><a class="btn btn-default btn-sm" id="unlink" title="Delete link"><i class="fa fa-unlink font-12"></i></a></li>
</script>
<script id="wyihtml5-word-button" type="text/template">
  <li><a class="btn btn-default btn-sm" title="Grab release from DOCX document " onclick="document.getElementById('upload').click(); return false" id="extract_word"><i class="fa fa-file-word-o font-12"></i></a></li>
</script>
<script id="wyihtml5-direct-image-button" type="text/template">
  <div class="btn-group">
    <a class="btn btn-default btn-sm" id="direct-image-upload" title="Insert image by uploading"><i class="fa fa-file-image-o font-12"></i></a>
    <a class="btn btn-default btn-sm" id="url-image-upload" title="Insert image by url"><i class="fa fa-upload font-12"></i></a>
  </div>
</script>
<script id="wyihtml5-direct-video-button" type="text/template">
  <div class="btn-group">
    <a class="btn btn-default btn-sm" id="direct-video-upload" title="Insert video by uploading"><i class="fa fa-file-video-o font-12"></i></a>
    <a class="btn btn-default btn-sm" id="url-video-upload" title="Insert video by url"><i class="fa fa-upload font-12"></i></a>
  </div>
</script>
<input type="file" id="upload" name="upload" accept=".docx" style="visibility: hidden; width: 1px; height: 1px" />
<div class="col-sm-12 smart-campaign" id="campaign-content" style="width: 99%">
  <div class="row">
    <form accept-charset="UTF-8" class="form-horizontal" role="form" autocomplete="off" id="campaign-form" onsubmit="return false;">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name" class="control-label start-form">Campaign title</label>
            <div class="help-block with-errors campaign-errors"></div>
            <div>
              <input id="name" required class="form-control" placeholder="Enter title..." name="name" type="text" value="">
            </div>
          </div>
        </div>

          <div class="form-group col-md-3">
            <label class="control-label start-form">Campaign budget</label>
            <div class="help-block with-errors campaign-errors"></div>
            <div>
              <input class="form-control" placeholder="$1000" name="budget" type="number" value="" required>
            </div>
          </div>


          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label start-form">Campaign deadline</label>
              <div class="help-block with-errors campaign-errors"></div>
              <div>
                <input class="form-control" placeholder="Pick a deadline!" id="deadline" name="deadline" type="text" value="" required>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Campaign content</label>
              <span class="help-block with-errors campaign-errors error-field" id = "campaign-release-error" >Paste the press release!</span>
              <div>
                <textarea class="wysihtml5 form-control widearea" rows="10" id="release-form" placeholder="Paste the press release for your campaign here..." name="description" data-widearea="enable" data-widearea-id="1"></textarea>
              </div>
            </div>
            <div class="linebreak-notification" style="margin-bottom: 10px;">
              <center>*The editor uses paragraphs by default for copied text. To place a normal line break press Shift+Enter (Shift+Return)</center>
            </div>
            <div id="release-characteristics"></div>
          </div>

          <button id="analyze" class="btn btn-primary pull-right smart-release-btn" type="submit"><i class="fa fa-cogs"></i> Analyze </button>
          <div id="analytics-campaign-text"></div>

      </div>
    </form>
  </div>
</div>

