<h1><%- news_room.company_name %></h1>
<p><%- news_room.description %></p>
<p>You can follow us on Twitter via <code>@acme</code> or using the <code>#acmecorp</code> hashtag.</p>
<a href="#" class="btn btn-default"><i class="fa fa-image"></i> Press kit</a>
<a href="#" class="btn btn-default"><i class="fa fa-newspaper-o"></i> Follow</a>