<div class='container-fluid'>
  <div class='row'>
    <div class='col-lg-12'>
      <h3>Press kit</h3>
      <hr />
      <div id='presskit'>
        <a href="https://farm8.static.flickr.com/7535/16022311519_d0d74748b7_b.jpg" title="Buachaille Etive Mor (Explored #1 on 06/01/15)" data-gallery=""><img src="https://farm8.static.flickr.com/7535/16022311519_d0d74748b7_m.jpg"></a>
        <a href="https://farm9.static.flickr.com/8577/16014256160_ca6975ebea_b.jpg" title="Sugar Run Falls - OPSP" data-gallery=""><img src="https://farm9.static.flickr.com/8577/16014256160_ca6975ebea_m.jpg"></a>
        <a href="https://farm9.static.flickr.com/8668/15586651883_4e13f6c85a_b.jpg" title="Twogether" data-gallery=""><img src="https://farm9.static.flickr.com/8668/15586651883_4e13f6c85a_m.jpg"></a>
        <a href="https://farm8.static.flickr.com/7502/15581637233_25a6640020_b.jpg" title="Christmas Cactus" data-gallery=""><img src="https://farm8.static.flickr.com/7502/15581637233_25a6640020_m.jpg"></a>
        <a href="https://farm9.static.flickr.com/8590/16016374780_7b026a4c58_b.jpg" title="Untitled (Explored)" data-gallery=""><img src="https://farm9.static.flickr.com/8590/16016374780_7b026a4c58_m.jpg"></a>
        <a href="https://farm9.static.flickr.com/8653/16022263927_2728e97232_b.jpg" title="Arch Rock in Joshua Tree National Park" data-gallery=""><img src="https://farm9.static.flickr.com/8653/16022263927_2728e97232_m.jpg"></a>
        <a href="https://farm8.static.flickr.com/7518/15583182463_e2dffe6b29_b.jpg" title="Frosted Grass" data-gallery=""><img src="https://farm8.static.flickr.com/7518/15583182463_e2dffe6b29_m.jpg"></a>
        <a href="https://farm8.static.flickr.com/7498/16182127256_24bdc57c52_b.jpg" title="Fearless lady" data-gallery=""><img src="https://farm8.static.flickr.com/7498/16182127256_24bdc57c52_m.jpg"></a>
        <a href="https://farm8.static.flickr.com/7535/15582633764_1cf4c4a50b_b.jpg" title="Si dipinge col cervello e non con le mani." data-gallery=""><img src="https://farm8.static.flickr.com/7535/15582633764_1cf4c4a50b_m.jpg"></a>
        <a href="https://farm8.static.flickr.com/7575/16206841315_e55c03858a_b.jpg" title="Crazy like Einstein (EXPLORER)" data-gallery=""><img src="https://farm8.static.flickr.com/7575/16206841315_e55c03858a_m.jpg"></a>
        <a href="https://farm9.static.flickr.com/8632/16021214348_cc7dafb037_b.jpg" title="Alpaca" data-gallery=""><img src="https://farm9.static.flickr.com/8632/16021214348_cc7dafb037_m.jpg"></a>
        <a href="https://farm8.static.flickr.com/7567/16018011399_9c49217d78_b.jpg" title="La vache ..." data-gallery=""><img src="https://farm8.static.flickr.com/7567/16018011399_9c49217d78_m.jpg"></a>
      </div>
    </div>

    <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
      <!-- The container for the modal slides -->
      <div class="slides"></div>
      <!-- Controls for the borderless lightbox -->
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
      <!-- The modal dialog, which will be used to wrap the lightbox content -->
      <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript">
  console.log('yey!');
  var $container = $('#presskit');
  $container.imagesLoaded( function() {
    $container.masonry({
      columnWidth: $container.width()/3,
      gutter: 0,
      itemSelector: 'a'
    });
  });
</script>