<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron release">
        <div class='jumbotron-photo'>
          <% release.title %>
        </div>
        <div class='jumbotron-contents'>
          <h1><%- release.title %></h1>
          <div>
            <%- release.text %>
          </div>
        </div>
        
      </div>
      <hr style="margin-bottom: 4px;">
      <div align="center" style="line-height: 22px; font-size: 12px; color: #777;">
        powered by <a href="http://robin.com"><img src="/img/logo-color.png" style="height: 14px; margin-top: -6px; margin-left: 2px;"></a>
      </div>
    </div>
  </div>
</div>