<div class="col-lg-12">
  <div class="panel panel-default" style="position:relative;">
    <div class="panel-heading">
      <i class="fa fa-envelope"></i> Newsroom and Releases Visits
    </div>
    <div class="panel-body">
      <div id="news-rooms" style="height: 250px; width: 100%;"></div>
    </div>
  </div>
</div>


<div class="col-lg-12">
  <div class="panel panel-default" style="position:relative;">
    <div class="panel-heading">
      <i class="fa fa-envelope"></i> SmartRelease Email Statistics
    </div>
    <div class="panel-body">
      <div id="emails-analytics" style="height: 250px; width: 100%;"></div>
    </div>
  </div>
</div>