<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-eye"></i> Newsroom and Releases Visits
    </div>
    <div class="panel-body">
      <div id="first-chart" style="height: 500px;"></div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-envelope"></i> SmartRelease Email Statistics
    </div>
    <div class="panel-body">
      <div id="second-chart" style="height: 500px;"></div>
    </div>
  </div>
</div> 