<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-thumbs-up"></i> Sessions and page views over time
    </div>
    <div class="panel-body">
      <div id="first-chart" style="height: 500px;"></div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-thumbs-up"></i> Email statistics
    </div>
    <div class="panel-body">
      <div id="second-chart" style="height: 500px;"></div>
    </div>
  </div>
</div> 