<h4>Dropped emails by:</h4>
<table class="table table-hover targets">
  <thead>
    <tr>
      <th><%=polyglot.t('analytics.author')%></th>
      <th><%=polyglot.t('analytics.email')%></th>
      <th><%=polyglot.t('analytics.outlet')%></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
