<h4>Opened emails by:</h4>
<table class="table table-hover targets">
  <thead>
    <tr>
      <th>Author</th>
      <th>Email</th>
      <th>Outlet</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>