<div id='social-influence-power' class='dashboard-module'>
  <div class="clearfix">
    <div class="personalInfo owoPanel commonPanel">
      <div class="owoPanelHeader">
        <h3><%= polyglot.t('dashboard_kol.default.personal_info') %></h3>
      </div>
      <div class="personalBody owoPanelBody clearfix">
      </div>

    </div>

    <div class="influenceContainer owoPanel commonPanel">
    </div>
  </div>

</div>

<div id='default-dashboard-task' class='dashboard-module'>

</div>

<div id='default-dashboard-discover' class='dashboard-module'>
</div>
