<div class='dashboard-module-header'>
  <h3>发现</h3>
</div>
<div class="discover-body-container dashboard-module-body row">
  <ul>

  </ul>
  <img id='loadingSvg' src="<%= AppAssets.path('loaders/puff.svg') %>" style='display: block;margin: 0 auto;'>
</div>
