<div class='dashboard-module-header'>
  <h3>Task</h3>
</div>
<div class="tasks-container row dashboard-module-body">
  <div class="tasks-nav">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Current</a></li>
      <li role="presentation"><a href="#">Done</a></li>
      <li role="presentation"><a href="#">Upcoming</a></li>
    </ul>
  </div>
  <div class="tasks-show-region">

  </div>
  <img id='loadingSvg' src="<%= AppAssets.path('loaders/puff.svg') %>" style='display: block;margin: 0 auto;'>
  </div>
</div>
