<div class="clearfix">
  <img class="discover-item-img" alt="">
  <div class="discover-w">
    <div class="discover-item-header clearfix">
      <h5><a href='<%- url %>' target='_blank'><%= name %></a></h5>
      <p>
        <%- start_time %>
        5$/click, income: 20$ <a href="#" class='cam-item' id='<%= id %>'>View/Share</a>
      </p>
    </div>
    <div class="discover-item-body">
      <p>
        ...
      </p>
    </div>

  </div>

</div>
