<div class="container-fluid">
  <% if @campaign.example_screenshot_required? %>
    <h1 class="header">请上传截图示例，并且添加备注</h1>
  <% else %>
    <h1 class="header">请添加具体要求</h1>
  <% end %>
  <div class="container">
    <form action="save_example_screenshot_and_remark" method="post"
    enctype="multipart/form-data" class="form-horizontal">
        <div class="row file-uploder">
          <% count = @campaign.example_screenshot_count || 1 %>
          <% count.times do |t| %>
            <div class="col-md-4">
              <div class="file-upload">
                <label for="file<%= t %>" class="file-upload__label">点击上传图片<%= t + 1%></label>
                <input type="file" name="image[]"
                 id="file<%= t %>" class="file-upload__input"/>
                <input type="text" name="comment[]"
                placeholder="如需备注，请在此处加入"
                class="form-control"/>
              </div>
              <img id="preview<%= t %>" class="preview"
              src="http://placehold.it/180" alt="your image"/>
            </div>
          <% end %>
        </div>
         <legend>介绍</legend>
          <textarea placeholder="添加活动介绍" rows="10"
          name="remark" id="remark_text" cols="65"
          class="ui-autocomplete-input" autocomplete="off"
          role="textbox" aria-autocomplete="list" aria-haspopup="true">
          </textarea>
          <div class="">
            <button class="btn btn-primary">提交</button>
          </div>
        </fieldset>
      </form>
  </div>
</div>

<script>
$(document).ready(function(){
  $("#file0").change(function(){
    var reader = new FileReader();
    reader.onload = function(e){
       image_base64 = e.target.result;
       $('#preview0').attr("src", image_base64);
    };
    reader.readAsDataURL($(this)[0].files[0]);
  });
  $("#file1").change(function(){
    var reader = new FileReader();
    reader.onload = function(e){
       image_base64 = e.target.result;
       $('#preview1').attr("src", image_base64);
    };
    reader.readAsDataURL($(this)[0].files[0]);
  });
  $("#file2").change(function(){
    var reader = new FileReader();
    reader.onload = function(e){
       image_base64 = e.target.result;
       $('#preview2').attr("src", image_base64);
    };
    reader.readAsDataURL($(this)[0].files[0]);
  });
});
</script>
