<table class='table table-bordered'>

  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Per action budget</th>
      <th>Budget</th>
      <th>Start</th>
      <th>Deadline</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |c| %>
      <tr>
        <% %w(name per_budget_type per_action_budget budget start_time deadline status).each do |v| %>
	  <td> <%= c.send v %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @campaigns %>
