<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>psdtoweb1.psd</title>
        <%= stylesheet_link_tag 'elastic_articles.css' %>
    </head>
    <body>
        <div id="background">
            <div id="layer_1"><img src="images/layer_1.png"></div>
            <div id="layer_1_0"><img src="images/layer_1_0.png"></div>
            <div id="layer_1_1"><img src="images/layer_1_1.png"></div>
            <div id="layer_1_2"><img src="images/layer_1_2.png"></div>
            <div id="layer_5"><img src="images/layer_5.png"></div>
            <div id="layer_408167443952167863"><img src="images/layer_408167443952167863.png"></div>
            <div id="h5"><img src="images/h5.png"></div>
            <div id="layer_8"><img src="images/layer_8.png"></div>
            <div id="layer_9"><img src="images/layer_9.png"></div>
        </div>
 </body>
 </html>