<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kols.each do |k| %>
      <% %w(id name email).each do |v| %>
        <td> <%= k.send v %> </td>
      <% end %>
      <td>
        <%= link_to 'Ban', marketing_dashboard_kol_ban_path(k.id) %>
        |
        <%= link_to 'Disban', marketing_dashboard_kol_disban_path(k.id), method: :post %>
      </td>
    <% end %>
  </tbody>

</table>
