<div>
  <% if @errors.length > 0 %>
    <div class="errors">
      <%= @errors.join('. ') %>
    </div>
  <% end %>
  <%= form_tag admin_localization_add_top_level_path, method: :post do %>
    <%= text_field_tag :key, @key %>
    <%= submit_tag 'Add' %>
  <% end %>
</div>