<ul class="sidebar-nav" id="sidebar">
  <li>
    <a id="nav-dashboard">Dashboard<span class="sub_icon glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a id="nav-robin8">Robin8<span class="sub_icon fa fa-rocket"></span></a>
  </li>
  <li>
    <a id="nav-monitoring">Monitoring<span class="sub_icon glyphicon glyphicon-eye-open"></span></a>
  </li>
  <li>
    <a id="nav-newsrooms">Newsrooms<span class="sub_icon fa fa-building"></span></a>
  </li>
  <li>
    <a id="nav-releases">Releases<span class="sub_icon glyphicon glyphicon-list-alt"></span></a>
  </li>
  <li>
    <a id="nav-social">Social<span class="sub_icon fa fa-users"></span></a>
  </li>
  <li>
    <a id="nav-analytics">Analytics<span class="sub_icon fa fa-line-chart"></span></a>
  </li>
  <!-- <li>
    <a id="nav-opportunities">Opportunities<span class="sub_icon glyphicon glyphicon-bullhorn"></span></a>
  </li> -->
</ul>
<ul class="sidebar-nav sidebar-nav-bottom" id="sidebar-bottom">
  <li>
    <a id="nav-sidebar-profile">John Smith<span class="sub_icon glyphicon glyphicon-user"></span></a>
  </li>
</ul>
<span style="text-align: center; display: block; position: absolute; bottom: 60px; width: 100%;">&copy; MyPRGenie, Inc.</span>