<ul class="sidebar-nav" id="sidebar">
  <li>
    <a href="/#dashboard" id="nav-dashboard">Dashboard<span class="sub_icon glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a href="/#campaigns" id="nav-campaigns">Campaigns<span class="sub_icon glyphicon glyphicon-bullhorn"></span></a>
  </li>
</ul>
<ul class="sidebar-nav sidebar-nav-bottom" id="sidebar-bottom">
  <li>
    <a href="/#profile" id="nav-sidebar-profile"> Profile <span class="sub_icon glyphicon glyphicon-user"></span></a>
  </li>
</ul>
<span class='copyright-bottom'>&copy; Robin8, Inc.</span>
