<span class="badge badge-success"><%= size %></span> Targets will be contacted via Email <i class="fa fa-envelope"></i>
<a href="#email-targets-list" data-toggle="collapse">
  <small>See list <i class="fa fa-chevron-down"></i></small>
</a>

<div id="email-targets-list" class="collapse">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Outlet</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  Save as a list <input type="text" style="width: 140px; display: inline;" placeholder="List name..." class="form-control input-sm"> <button disabled="" class="btn btn-primary btn-sm">Save</button>
</div>

