<h5><i class="fa fa-send-o"></i> <%= polyglot.t("smart_release.pitch_step.title") %></h5>
<p><%= polyglot.t("smart_release.pitch_step.description") %> </p>

<div id="email-targets"></div>
<div id="twitter-targets"></div>
<div class="panel panel-primary" id="email-pitch"></div>
<div class="panel panel-primary" id="twitter-pitch"></div>

<button id="save-pitch" style="font-size: 20px; margin-top: 20px;" class="btn btn-block btn-success"><i class="fa fa-rocket"></i> <%= polyglot.t("smart_release.pitch_step.button") %> </button>
