<h5><i class="fa fa-send-o"></i> Pitch</h5>
<p>Now that you know exactly which journalists and influencers to contact for your compaign, you need to prepare the note to these contacts.  You can use the Robin8 default note or prepare your own personal note.  If you are preparing your own personal note, we recommend you keep it short and no more than 3 paragraphs. </p>

<div id="email-targets"></div>
<div id="twitter-targets"></div>
<div class="panel panel-primary" id="email-pitch"></div>
<div class="panel panel-primary" id="twitter-pitch"></div>

<button id="save-pitch" style="font-size: 20px; margin-top: 20px;" class="btn btn-block btn-success"><i class="fa fa-rocket"></i> Pitch! </button>
