<h5><i class="fa fa-send-o"></i> Pitch</h5>
<p>Tuzu viela keb ul aki keosu mitwap guw tigetum gurtaj luntojzu ra. Seki ni dedcuku reus zar wevoj teutu adaka jevresjug tokgumkik gowkapli ezfujwo idiw vet uta noh. Bapu adtis te radazi cemi leviade gom no zec otilin kuzil ag se cudiigi tuz.</p>

<div id="email-targets"></div>
<div id="twitter-targets"></div>
<div class="panel panel-primary" id="email-pitch"></div>
<div class="panel panel-primary" id="twitter-pitch"></div>

<button id="save-pitch" style="font-size: 20px; margin-top: 20px;" class="btn btn-block btn-success"><i class="fa fa-rocket"></i> Pitch! <small style="font-size: 13px;">(costs one SmartRelease)</small></button>
