<div id="blast-home" class="tab-pane active" role="tabpanel">
  <h5><i class="fa fa-rocket"></i> Welcome to SmartRelease</h5>
  <p>SmartRelease helps you maximize your reach by intelligently analyzing and understanding which journalists and influencers will be the best fit for your campaign. </p>
  <br>
  <% if (!Robin.user.get('can_create_smart_release')) {%>
    <div class="alert alert-danger" role="alert">You can't use smart release feature. Update your add ons</div>
  <% } %>
  
  <form>
    <div class="form-group">
      <label for="exampleInputFile">Select a release to start:</label>
      <div class="ui-select">
        <select class="form-control">
          <option value="-1">Select...</option>
          <option value="-2">+ New Release</option>
          <% _.each(items, function(item){ %>
            <option value="<%= item.id %>"><%= item.attributes.title %></option>
          <% }); %>
        </select>
      </div>
    </div>
    <% if (Robin.user.get('can_create_smart_release')) {%>
      <button disabled id="analyze" class="btn btn-primary pull-right" type="submit"><i class="fa fa-cogs"></i> Analyze</button>
    <% } %>
    <button style="display: none;" id="new-release" class="btn btn-success pull-right" type="submit"><i class="fa fa-plus"></i> New Release</button>
  </form>
</div>
