<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading text-right">
        <div id="tab_stay_times" data-time="<%= $redis.get('elastic_article_show_time') %>">
          <span class="hour-show huge"></span>时
          <span class="minute-show huge"></span>分
          <span class="second-show huge"></span>秒
        </div>
        <div>发现Tab停留时长</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading text-right">
        <div>
          <span class="huge"><%= $redis.get('elastic_article_show_count') %></span>次
        </div>
        <div>发现Tab打开次数</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading text-right">
        <div>
          <span class="huge"><%= $redis.get('elastic_article_red_money').to_f/100 %></span>元
        </div>
        <div>红包发放总额</div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    // 倒计时函数
    function countDownTimer(countObj, intDiff) {
      var day = 0,
          hour = 0,
          minute = 0,
          second = 0;//时间默认值
      if(intDiff > 0){
        day = Math.floor(intDiff / (60 * 60 * 24));
        hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
        minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
        second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
      }
      if (minute <= 9) minute = '0' + minute;
      if (second <= 9) second = '0' + second;
      // countObj.find('.day-show').html(day);
      countObj.find('.hour-show').html(hour);
      countObj.find('.minute-show').html(minute);
      countObj.find('.second-show').html(second);
    }

    var tab_stay_times = $('#tab_stay_times').data('time');
    countDownTimer($('#tab_stay_times'), tab_stay_times);
  });
</script>
