<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">内容数据</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading text-right">
        <div>
          <span class="huge">212312.5</span>小时
        </div>
        <div>发现Tab停留时长</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading text-right">
        <div>
          <span class="huge">1993829</span>次
        </div>
        <div>发现Tab打开次数</div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <form class="form">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Content ID</label>
            <%= search_field_tag "id", nil, class: "form-control", placeholder: "请输入内容" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Title</label>
            <%= search_field_tag "title", nil, class: "form-control", placeholder: "请输入内容" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>标签</label>
            <select class="form-control">
              <option value="">请选择标签</option>
              <option value="美食">美食</option>
              <option value="母婴">母婴</option>
              <option value="旅游">旅游</option>
              <option value="酒店">酒店</option>
              <option value="教育">教育</option>
              <option value="健身">健身</option>
              <option value="财经">财经</option>
              <option value="美妆">美妆</option>
              <option value="汽车">汽车</option>
              <option value="航空">航空</option>
              <option value="消费电子">消费电子</option>
              <option value="摄影">摄影</option>
              <option value="手机">手机</option>
              <option value="互联网">互联网</option>
              <option value="游戏">游戏</option>
              <option value="时尚">时尚</option>
              <option value="健康">健康</option>
              <option value="房地产">房地产</option>
              <option value="数码">数码</option>
              <option value="家电">家电</option>
              <option value="图书">图书</option>
              <option value="体育">体育</option>
              <option value="娱乐">娱乐</option>
              <option value="家居">家居</option>
              <option value="音乐">音乐</option>
              <option value="综合">综合</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <label>&nbsp;</label>
          <div>
            <%= submit_tag "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th class="text-center">序号</th>
        <th>Content ID</th>
        <th>Title</th>
        <th>标签</th>
        <th class="text-center">点赞次数</th>
        <th class="text-center">分享次数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /.row -->
