/*!
 * 品牌活动详细
 * 02.01.2016 23:49
 */
@import "../shared/modal.scss";

.campaign_url,
.campaign_action_short_url,
.campaign_action_url {
  display: block;
  margin-top: 10px;

  span {
    color: #FFF;
    font-size: 14px;
    margin-right: 3px;
  }
}

.my-linfluence-panel .panel-body {
  position: relative;
}
.my-linfluence-panel .infl-stat-info {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  line-height: 24px;
}
.my-linfluence-panel .infl-stat-info strong {
  font-size: 24px;
}
.my-linfluence-panel .infl-stat-info strong:nth-child(2) {
  margin: 0 8px;
}
.my-linfluence-panel .brand-influence-area {
  margin-bottom: 50px;
}
.my-medias-panel .medias-list {
  margin-bottom: 35px;
}
.activity-stat-bigshow-area, .activity-target-bigshow-area {
  overflow: hidden;
}

.activity-stat-bigshow-area,
.activity-target-bigshow-area {
  li {
    position: relative;
    float: left;
    list-style: none;
    text-align: center;
  }

  &.grid-4 {
    li {
      width: 25%;
    }
  }

  &.grid-3 {
    li {
      width: 33.333%;
    }
  }
}

.activity-stat-bigshow-area li {
  width: 25%;
}

.activity-target-bigshow-area li {
  width: 33.3%;
}

.activity-stat-bigshow-area li .txt, .activity-target-bigshow-area li .txt{
  display: block;
  color: #9b9a9a;
  font-size: 12px;
}

.activity-stat-bigshow-area,
.activity-target-bigshow-area {
   .stat-num {
    font-size: 28px;
    font-family: FuturaStd-Medium;
  }

  .stat-yuan {
    margin-left: -22px;
  }
}

.kolCampaignScreenshot{
  height: 110px;
  width: 66px;
  border: 1px solid #eee;
  margin: 0 7px;
}

.showMiddleTip{
  margin-left: auto;
  max-width: 320px;
  margin-right: auto;
  text-align: center;
}

.activity-stat-bigshow-area li .symbol, .activity-target-bigshow-area li .symbol {
  margin-right: 5px;
  font-size: 22px;
  font-weight: 400;
}

.activity-stat-bigshow-area li:after, .activity-target-bigshow-area li:after {
  position: absolute;
  right: 0;
  bottom: 15px;
  content: '/';
  color: #bfc1c0;
}

.activity-stat-bigshow-area li:last-child:after, .activity-target-bigshow-area li:last-child:after {
  display: none;
}

.panelKolsTable tbody td{
  height: 112px;
  text-align:center;
  vertical-align:middle !important;
}

.panelKolsTable thead td{
  text-align:center;
  vertical-align:middle;
}

.panelKolsTable th {
  font-weight: 400;
  h4 {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
}

.blurUserAvatar{
  box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 78px;
  height: 78px;
}

.activity-message-bigshow-area{
  margin-top: 54px;
  margin-bottom: 20px;
  display: inline-block;
}

.activity-message-bigshow-area .message_label{
  padding-left: 40px;
  font-size: 14px;
  color: #181616;
  display: inline-block;
  vertical-align:top;
 }

.activity-message-bigshow-area .message_show{
  margin-left: 56px;
  font-size: 14px;
  color: #181616;
  width: 694px;
  display: inline-block;
  vertical-align:top;
}
.activity-message-bigshow-area .message_show span{
  word-wrap: break-word;
}

.medias-all-panel .panel-body {
  margin-left: -35px;
  margin-right: -35px;
  padding-bottom: 0;
  overflow: hidden;
}
.medias-all-panel .media-class-infographic-card {
  padding: 0 35px 40px 35px;
}
.medias-all-panel table {
  table-layout: fixed;
  width: 100%;
}
.medias-all-panel table tr td {
  border-right: 1px solid #e0e0e0;
}
.medias-all-panel table tr td:last-child {
  border-right: none;
}
.media-class-infographic-card .header {
  font-size: 14px;
  text-align: center;
}
.media-class-infographic-card .header .stat-num {
  font-size: 28px;
}
.media-class-infographic-card .content {
  height: 300px;
}
.media-infographic-box .refuse {
  background-color: #e45d34;
}
.media-infographic-box .check {
  background-color: #a4e6ff;
}
.media-infographic-box .accept {
  background-color: #45c8f8;
}
.media-infographic-box .complete {
  background-color: #1091de;
}
.media-infographic-box .infographic-show {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
}
.media-infographic-box .inf-show {
  float: left;
  height: 100%;
}
.media-infographic-box .stat-num-list {
  clear: both;
  margin: 0;
  padding: 25px 0 0;
}
.media-infographic-box .stat-num-list > li {
  position: relative;
  margin-bottom: 15px;
  font-size: 14px;
  list-style: none;
}
.media-infographic-box .stat-num-list > li .rg {
  position: absolute;
  right: 0;
  top: 0;
  color: #9b9a9a;
}
.media-infographic-box .stat-num-list > li .stat-num {
  color: #181616;
  font-size: 18px;
}
.media-infographic-box .state-color {
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
}
.influence-charts-area .header {
  margin-bottom: 20px;
}
.influence-charts-area .charts-legend {
  color: #9b9a9a;
}
.influence-charts-area .charts-legend .btn {
  position: relative;
  padding: 0 0 5px 0;
  color: #9b9a9a;
  font-size: 14px;
  line-height: normal;
  background: none;
  box-shadow: none;
}
.influence-charts-area .charts-legend .btn.active {
  color: #181616;
}
.influence-charts-area .charts-legend .btn.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #1091de;
}
.influence-charts-area .charts-legend .space {
  margin: 0 15px;
}
.influence-charts-area .charts-box {
  height: 240px;
  overflow: hidden;
}
.influence-charts-area .charts-color-indicator {
  position: relative;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 12px;
  text-align: center;
}
.influence-charts-area .charts-color-indicator:before,
.influence-charts-area .charts-color-indicator:after {
  content: '';
  position: absolute;
  top: 6px;
  width: 270px;
  height: 2px;
  background: #efefef;
}
.influence-charts-area .charts-color-indicator:before {
  left: -40px;
}
.influence-charts-area .charts-color-indicator:after {
  right: -40px;
}
.influence-charts-area .charts-color-indicator .color-label {
  margin: 0 25px;
}
.influence-charts-area .charts-color-indicator .color-label > i {
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  border-radius: 1000px;
}
.influence-charts-area .charts-color-indicator .color-label.cpc > i {
  background: #2dcad0;
}
.influence-charts-area .charts-color-indicator .color-label.tweeted > i {
  background: #ecb200;
}
.influence-charts-area .charts-color-indicator .color-label.original > i {
  background: #877c77;
}
.infographic-tody-box {
  position: relative;
  margin-bottom: 40px;
}
.infographic-tody-box .tit {
  margin-bottom: 25px;
  text-align: center;
}
.infographic-tody-box .stat {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  text-align: right;
}
.infographic-tody-box .stat .stat-num {
  display: block;
  font-size: 28px;
  line-height: normal;
}
.infographic-tody-box .infographic-show {
  width: 800px;
  height: 20px;
  overflow: hidden;
}
.infographic-tody-box .infographic-show .inf-show {
  float: left;
  height: 100%;
  color: #fff;
}
.infographic-tody-box .infographic-show .inf-show.cpc {
  background: #2dcad0;
}
.infographic-tody-box .infographic-show .inf-show.tweeted {
  background: #ecb200;
}
.infographic-tody-box .infographic-show .inf-show.original {
  background: #877c77;
}
.infographic-tody-box .infographic-show .inf-show .stat-num {
  margin-left: 10px;
}
.infographic-show {
  overflow: hidden;
}
.infographic-show .inf-show {
  position: relative;
}
.infographic-show .inf-show:before,
.infographic-show .inf-show:last-child:after {
  content: '';
  position: absolute;
  top: -4px;
  z-index: 2;
  height: 150%;
  background-color: #fff;
  transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
}
.infographic-show .inf-show:before {
  left: -2px;
  width: 5px;
}
.infographic-show .inf-show:last-child:after {
  right: -2px;
  width: 5px;
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
}

.brand-activity-coverphoto-img {
  display: block;
  width: 300px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.revoke-campaign-group {
  width: 100%;
  text-align: center;
  .revoke-campaign-btn {
    width: 200px;
    color: #fff;
    background-color: #c1c1c1;
    &:hover {
      color: #fff;
      background-color: grey;
    }
  }
}

.show-activity .tit {
  text-align: center;
  margin-bottom: 15px;
}

.campaign-target-group {
  padding: 38px 0;
  width: 100%;
  position: relative;

  .campaign-target {
    text-align: center;

    label{
      display: block;
      color: #9b9a9a;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .target-result{
      margin-top: 25px;
    }

    .target-btn{
      width: 110px;
      height: 36px;
      color: #ffffff;
      background-color: #36cdd3;
      font-size: 14px;
    }

  }

  .target-sns {
    .target-item {
      width: 32px;
      height: 32px;
      margin: -6px 3px 0 3px;
      display: inline-block;
    }
  }

  .target-city-label{
    text-align: center;
    white-space: normal;
    word-break: break-word;
  }
}

.show-activity .content {
  padding: 0 40px;
  background-color: #fff;
  .notice {
    position: absolute;
    top: -32px;
    right: 10px;
    height: 32px;
    color: #999;
    font-size: 14px;
    line-height: 32px;
    em {
      margin-left: 10px;
      color: #333;
      font-size: 20px;
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
    }
  }
}

.analysis-invite {
  padding-left: 15px;
  margin-left: 15px;
  border-left: 2px solid #ead003;
}

#panelEvaluationShow .evaluation-items{
  .item{
    overflow: auto;
    padding: 8px 0px;
     .name{
       width: 90px;
       float: left;
     }
    .value{
      float: left;
    }
  }
}
