<h1>投票列表</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>kol昵称</th>
      <th>投票数</th>
    </tr>
  </thead>

  <tbody>
    <% @voter_ships.each do |k| %>
      <tr>
        <td>
          <%= k.id  %>
        </td>
        <td><%= k.kol.name %></td>
        <td><%= k.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @voter_ships, renderer: BootstrapPagination::Rails  %>
