<div class="row">
  <div class="small-12 columns">
    <div class="or-line">
      <span>OR</span>
    </div>
  </div>
</div>
<div class="row" style="color:#fff!important;">
  <div class="small-12 columns social-login">
    <a href="/users/auth/google_oauth2?provider=google_oauth2" class="social btn btn-google-plus"><i class="fa fa-google-plus"></i> <span>Sign up using Google Plus</span></a>
  </div>
</div>
<div class="row" style="color:#fff!important;">
  <div class="small-12 columns social-login">
    <a href="/users/auth/facebook?provider=facebook" class="social btn btn-facebook"><i class="fa fa-facebook"></i> <span>Sign up using Facebook</span></a><br /><br /><br />
  </div>
</div>
