<div class="row">
  <div class="small-12 columns">
    <div class="or-line">
      <span><%= @l.t('register.or')%></span>
    </div>
  </div>
</div>
<% Rails.application.config.china_instance %>
<div class="row" style="color:#fff!important;">
  <div class="small-12 columns social-login">
    <a href="/users/auth/weibo?provider=weibo" class="social btn btn-weibo"><i class="fa fa-weibo"></i> <span><%= @l.t('register.weibo_signup') %></span></a><br /><br /><br />
  </div>
</div>
<% else %>
<div class="row" style="color:#fff!important;">
  <div class="small-12 columns social-login">
    <a href="/users/auth/google_oauth2?provider=google_oauth2" class="social btn btn-google-plus"><i class="fa fa-google-plus"></i> <span><%= @l.t('register.google_signup')%></span></a>
  </div>
</div>
<div class="row" style="color:#fff!important;">
  <div class="small-12 columns social-login">
    <a href="/users/auth/facebook?provider=facebook" class="social btn btn-facebook"><i class="fa fa-facebook"></i> <span><%= @l.t('register.fb_signup')%></span></a>
  </div>
</div>
<% end %>
