<h3>
  PUT活动奖励列表
  <!-- <button type="button" class="btn btn-primary pull-right" id="put_remit_btn">批量付款</button> -->
</h3>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>用户名</th>
      <th>PUT address</th>
      <th>奖励数量</th>
      <th>tx_id</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody id="put_remit_table">
    <% @transtions.each do |tr|%>
      <tr>
        <td><%= tr.kol.name %></td>
        <td class="put-remit-token"><%= tr.kol.e_wallet_account.token %></td>
        <td><%= tr.amount %></td>
        <td><%= tr.txid %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="token_input_modal" tabindex="-1" role="dialog" aria-labelledby="token_input_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="token_input_modal_label">请输入您的Token和密码</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="password_input">Password:</label>
          <input type="password" class="form-control" id="password_input" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="token_input">Token:</label>
          <textarea class="form-control" rows="4" id="token_input" placeholder="Token"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="token_confirm">确定</button>
      </div>
    </div>
  </div>
</div>
