<div>
  <table class='table'>
    <thead>
      <tr>
        <th>用户名</th>
        <th>奖励金额</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @transactons.each do |transaction|%>
      <tr>
        <td><%= transaction.kol.name %></td>
        <td><%= transaction.amount %></td>
        <td>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>