<div>
  <table class='table'>
    <thead>
      <tr>
        <th>用户名</th>
        <th>奖励金额</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @transactons.each do |transaction|%>
      <tr>
        <td><%= transaction.kol.name %></td>
        <td><%= transaction.amount %></td>
        <td>
          <%= link_to "提款", withdraw_marketing_dashboard_e_wallets_campaign_transaction_path(transaction.resource_id, transaction ), method: :put if transaction.pending? %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>