<div>
  <table class='table'>
    <thead>
      <tr>
        <th>用户名</th>
        <th>PUT address</th>
        <th>奖励金额</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @transactons.each do |tr|%>
      <tr>
        <td><%= tr.kol.name %></td>
        <td><%= tr.kol.e_wallet_account.token %>
        <td><%= tr.amount %></td>
        <td>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>