.page-invoice {
  .menu {
    margin-top: 45px;
    width: 1000px;
    ul {

      height: 60px;
      margin-left: 0px;

      a {
        display: inline-block;
        text-align: center;
        line-height: 60px;
        font-size: 18px;
        width: 320px;
        border-radius: 5px 5px 0 0;
        text-decoration: none;

        &:nth-child(1) {
          background-image: url(~recharge_menu_bg.jpg);
          color: #fff;
        }
        &:nth-child(2) {
          margin-left: 5px;
          background-image: url(~recharge_menu_bg.jpg);
          color: #fff;
        }
        &:nth-child(3) {
          margin-left: 5px;
          background-color: #fff;
          color: #181616;
        }
      }
    }
  }
  .main-content {
    padding-top: 40px;
    background-color: #fff;
    width: 970px;

    .invoice-nav {
      text-align: center;
      #invoice-tabs {
        display: inline-block;

        li {
          width: 385px;
        }
        li.active > a {
          background: #ddd;
        }
      }

      .invoice-table {
        padding: 0px 101px;
        padding-top: 65px;
        table {
          width: 100%;
          position: relative;
          table-layout:fixed !important;
          td {
            overflow: auto;
            white-space: nowrap !important;
            &:first-child {
              font-size: 14px;
              color: #181616;
            }
          }
          td {
            border: solid 1px #ddd;
            text-align: center;
            white-space: nowrap;
          }
          .row-1 {
            height: 104px;
          }

          .row-2 {
            height: 120px;
          }

          .invoice-info {
            width: 109px;
            font-size: 18px !important;
          }
          .invoice-detail {
            font-size: 14px;
            text-align: left;
            padding-left: 15px;

            span.no-info {
              color: #aaa;
            }
          }

          .invoice-detail {
            .inside-invoice-detail-td {
              width: 100%;
              overflow: auto;
              padding-top: 10px;
            }
          }

          .receiver-info {
            .inside-receiver-info-td {
              width: 100%;
              overflow: auto;
            }
          }
          .action {
            width: 142px;

            .edit, .save {
              border-color: #36cdd3;
              background-color: transparent;
              color: #36cdd3;
              width: 88px;
              height: 36px;
              box-shadow: none;
            }
          }
        }
      }
    }
    .invoice-table-outside {
      padding: 0px 101px;
      // padding-top: 65px;
      table {
        width: 100%;
        position: relative;
        table-layout:fixed !important;
        td {
          overflow: auto;
          white-space: nowrap !important;
          &:first-child {
            font-size: 14px;
            color: #181616;
          }
        }
        td {
          border: solid 1px #ddd;
          text-align: center;
          white-space: nowrap;
        }
        .row-1 {
          height: 104px;
        }

        .row-2 {
          height: 120px;
        }

        .invoice-info {
          width: 109px;
          font-size: 18px !important;
        }
        .invoice-detail {
          font-size: 14px;
          text-align: left;
          padding-left: 15px;

          span.no-info {
            color: #aaa;
          }
        }

        .invoice-detail {
          .inside-invoice-detail-td {
            width: 100%;
            overflow: auto;
            padding-top: 10px;
          }
        }

        .receiver-info {
          .inside-receiver-info-td {
            width: 100%;
            overflow: auto;
          }
        }
        .action {
          width: 142px;

          .edit, .save {
            border-color: #36cdd3;
            background-color: transparent;
            color: #36cdd3;
            width: 88px;
            height: 36px;
            box-shadow: none;
          }
        }
      }
    }
    .invoice-receiver-table {
      position: relative;
      padding: 0px 101px;
      margin-top: -1px;
      table {
        width: 100%;
        position: relative;
        table-layout:fixed !important;
        td {
          overflow: auto;
          white-space: nowrap !important;
          &:first-child {
            font-size: 14px;
            color: #181616;
          }
        }
        td {
          border: solid 1px #ddd;
          text-align: center;
          white-space: nowrap;
        }

        .row-2 {
          height: 120px;
        }

        .express-address {
          width: 109px;
          font-size: 18px !important;
        }
        .receiver-info {
          font-size: 14px;
          text-align: left;
          padding-left: 15px;

          span.no-info {
            color: #aaa;
          }
        }

        // .invoice-detail {
        //   .inside-invoice-detail-td {
        //     width: 100%;
        //     overflow: auto;
        //     padding-top: 10px;
        //   }
        // }

        .receiver-info {
          .inside-receiver-info-td {
            width: 100%;
            overflow: auto;
          }
        }
        .action {
          width: 142px;

          .edit, .save {
            border-color: #36cdd3;
            background-color: transparent;
            color: #36cdd3;
            width: 88px;
            height: 36px;
            box-shadow: none;
          }
        }
      }
    }


    .apply-invoice {
      margin-top: 15px;
      text-align: center;

      p {
        margin: 0;
      }

      ul {
        margin-top: 18px;
        li {
          &:first-child {
            margin-right: -9px;
          }
          &:nth-child(2) {
            position: relative;
            left: 15px;
          }
          &:nth-child(3) {
            position: relative;
            left: 30px;
          }
          input {
            width: 140px;
            height: 35px;
            border-radius: 0px;
            border-color: #636363;
            display: inline-block;
          }

          .yuan {
            float: right;
            margin-top: 8px;
            margin-right: -22px;
          }

          button {
            height: 35px;
            margin-left: 22px;
            border: none;
            &:active {
              background-color: #2dcad0;
              color: #fff;
              border-color: none;
            }
            &:focus {
              background-color: #2dcad0;
              color: #fff;
              border-color: none;
            }
          }
        }
      }

      .error-tips {
        height: 0px;
        p {
          display: none;
          color: #ce0101;
          margin-top: 8px;
          font-size: 13px;
          margin-right: 27px
        }
      }

      .invoice-amount-hint {
        font-size: 12px;
        color: red;
      }
    }

    .apply-invoice-history {
      margin-top: 45px;
      padding-bottom: 60px;
      table {
        margin: 0 auto;
        width: 827px;

        table-layout:fixed;
        td {
          overflow: auto;
          white-space: nowrap;
        }

        tr:nth-child(n+2) {
          font-size: 14px;
        }

        tr:first-child {
          font-size: 14px;
          font-weight: bold;
          color: #181616;
        }
        td {
          border: solid 1px #ddd;
          text-align: center;
          height: 45px;

          div {
            width: 100%;
            overflow: auto;
            line-height: 46px;
          }
        }
      }
    }
  }
}

.invoice-info-modal {
  margin-top: 173px;
  .modal-content {

    .modal-body {
      padding-top: 15px;
      padding-bottom: 0px;
      .invoice-label {
        margin-left: 35px;
        margin-right: 15px;
        line-height: 30px;
      }
      .invoice-input {
        width: 380px;
        float: right;
        margin-right: 38px;
      }
      .error-tip {
        color: #ce0101;
        margin-top: 8px;
        font-size: 12px;
        margin-left: 150px;
      }
    }
  }
}

.invoice-receiver-info-modal {
  margin-top: 148px;
  .invoice-receiver-name, .invoice-receiver-mobile, .invoice-receiver-address {
    float: left;
    margin-left: 35px;
    margin-right: 15px;
  }

  .invoice-receiver-name-input, .invoice-receiver-mobile-input, .invoice-receiver-address-input {
    width: 380px;
  }
  .address-error-tip, .mobile-error-tip, .name-error-tip {
    color: #ce0101;
    margin-top: 8px;
    font-size: 12px;
    margin-left: 130px;
  }
}

.choose-invoice-type-modal {
  .row-1, .row-2 {
    height: 40px;
    span {
      font-size: 18px;
    }
  }
  .check-common, .check-special, .need-price-sheet, .no-price-sheet {
    width: 24px;
    height: 24px;
    display: block;
    border: solid 1px #9b9a9a;
    border-radius: 12px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
    margin-right: 50px;

    .ok-sign {
      display: inline-block;
      width: 24px;
      height: 24px;
      position: relative;
      right: 1px;
      top: -1px;
    }
  }

  .checked-img {
    background-image: url(~radio_checked.png);
  }

  .submit {
    margin-bottom: 20px;
    margin-left: 455px;
    width: 118px;
  }
}
