.page-recharge {

  .menu {
    margin-top: 45px;
    width: 1000px;
    ul {

      height: 60px;
      margin-left: 0px;

      a {
        display: inline-block;
        background-color: #fff;
        text-align: center;
        line-height: 60px;
        font-size: 18px;
        width: 320px;
        border-radius: 5px 5px 0 0;
        text-decoration: none;
        color: #181616;

        &:nth-last-child(-n + 2) {
          margin-left: 5px;
          background-image: url(~recharge_menu_bg.jpg);
          color: #fff;
        }
      }
    }
  }

  .main-content {
    padding-top: 40px;
    background-color: #fff;
    > div {
      margin-left: 122px;
      width: 756px;
    }

    .account-info, .recharge-online, .recharge-offline {
      > span {
        border-left: 3px solid #28b6bb;
        height: 17px;
        span {
          padding-left: 10px;
          font-size: 17px;
        }
      }
    }

    .account-info,.recharge-online,.recharge-offline {
      .detail {
        margin-top: 30px;
        margin-left: 121px;
      }
    }
    .account-info .detail{
      height: 103px;
      img {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        float: left;
        box-shadow: 3.5px 6.062px 13px 1px rgba(0, 0, 0, 0.15)
      }
      div {
        height: 70px;
        padding-top: 7px;
        margin-left: 100px;

        p {
          font-size: 14px;
          color: #181616;

          span {
            margin-left: 15px;
            font-size: 18px;
          }
        }

        .account-balance {
          font-size: 14px;
          color: #636363;
        }
      }
    }

    .recharge-online .detail {
      img {
        margin-left: 37px;
      }

      span {
        font-size: 14px;
      }

      .recharge-amount{
        margin-top: 30px;
        ul {
          position: relative;
          top: -22px;
          left: 96px;
        }

        button:focus {outline:0;}

        button {
          i {
            background-image: url(~select_price.png);
            width: 16px;
            height: 16px;
            position: absolute;
            display: none;
            bottom: 0px;
          }
        }

        .price-500 i {
          left: 69px;
        }

        .price-1000 i {
          left: 159px;
        }

        .price-2000 i {
          left: 249px;
        }

        .price {
          height: 35px;
          width: 80px;
          background-color: #fff;
          border: 1px solid #636363;
          font-size: 14px;
        }

        input {
          margin-left: 96px;
          width: 138px;
          font-size: 12px;
          color: #999999;
          border-radius: 0px;
          border-color: #636363;
        }
        .yuan {
          float: right;
          margin-right: 376px;
          margin-top: -26px;
        }
        .error-tips {
          margin-left: 96px;
          height: 15px;
          p {
            display: none;
            color: rgb(206, 1, 1);
            margin-top: 8px;
            font-size: 13px;
          }
        }
        input.choose-invoice {
          width: 10px;
        }
        .recharge-btn {
          margin-top: 20px;
          margin-bottom: 30px;
          margin-left: 96px;
          border: none;
          &:active {
            background-color: #2dcad0;
            color: #fff;
          }
          &:focus {
            background-color: #2dcad0;
            color: #fff;
          }
        }
      }
    }
    .recharge-offline .detail {
      table {
        width: 638px;
        height: 115px;
        margin-bottom: 24px;
        font-size: 14px;

        td {
          border: solid 1px #000;
          text-align: center;
        }

        .row-1 {
          height: 40px;
        }

        .row-2 {
          height: 75px;
        }

        .account-name {
          width: 210px;
        }
        .account-bank {
          width: 184px;
        }
        .account-number {
          width: 244px;
        }
      }

      hr {
        margin-top: 24px;
        border-color: #b8b8b8
      }

      .description {

        padding-bottom: 100px;

        p {
          margin-top: 24px;
          font-size: 14px;
          color: #909090;

          a {
            color: #36cdd3
          }
        }
      }
    }
  }
}

.recharge-modal {
  .modal-content {
    margin-top: 200px;

    .modal-title {
      font-size: 18px;
      color: #181616;
    }

    .modal-body {
      margin-left: 15px;
      margin-right: 15px;
      .no-invoice-content {
        margin: 30px 0px;
      }
      .amount-info {
        font-size: 18px;
        color: #181616;
        .recharge-amount {

        }
        .price {
        }
      }
      .invoice-info {
        margin-top: 10px;
        font-size: 18px;
        color: #181616;
      }
      .detail {
        margin-top: 10px;
        font-size: 12px;
        color: #999999;
      }
    }
    .total-amount {
      margin-left: 300px;
      margin-bottom: 16px;
      font-size: 18px;
      color: #181616;
      .price {
        color: #28b6bb;
      }
    }
    .pay {
      width: 115px;
      position: absolute;
      bottom: 0px;
      right: 30px;
      height: 35px;
      line-height: 35px;
      margin-bottom: 10px;
    }
    .no-invoice {
      color: #999999;
      font-size: 14px;
    }
  }

}
