.page-recharge {

  .menu {
    margin-top: 45px;
    // width: 1000px;
    ul {

      height: 60px;
      margin-left: 0px;

      a {
        display: inline-block;
        background-color: #fff;
        text-align: center;
        line-height: 60px;
        font-size: 18px;
        width: 320px;
        border-radius: 5px 5px 0 0;
        text-decoration: none;
        color: #181616;

        &:nth-last-child(-n + 2) {
          margin-left: 5px;
          background-image: url(~recharge_menu_bg.jpg);
          color: #fff;
        }
      }
    }
  }

  .main-content {
    padding-top: 40px;
    background-color: #fff;
    > div {
      margin-left: 122px;
      width: 756px;
    }

    .account-info, .recharge-online, .recharge-offline {
      > span {
        border-left: 3px solid #28b6bb;
        height: 17px;
        span {
          padding-left: 10px;
          font-size: 17px;
        }
      }
    }

    .account-info,.recharge-online,.recharge-offline {
      .detail {
        padding-bottom: 30px;
        margin-top: 30px;
        margin-left: 121px;
      }
    }
    .account-info .detail{
      img {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        float: left;
        box-shadow: 3.5px 6.062px 13px 1px rgba(0, 0, 0, 0.15)
      }
      div {
        margin-left: 100px;

        p {
          line-height: 20px;
          margin-bottom: 6px;
          font-size: 14px;
          color: #181616;

          span {
            margin-left: 15px;
            font-size: 18px;
          }
        }

        .brand-name {
          margin-bottom: 20px;
        }

        .account-balance {
          font-size: 14px;
          color: #636363;
        }
      }
    }

    .recharge-online .detail {
      img {
        margin-left: 37px;
      }

      span {
        font-size: 14px;
      }

      .recharge-amount{
        margin-top: 30px;
        ul {
          position: relative;
          top: -22px;
          left: 96px;
        }

        button:focus {outline:0;}

        button {
          i {
            background-image: url(~select_price.png);
            width: 16px;
            height: 16px;
            position: absolute;
            display: none;
            bottom: 0px;
          }
        }

        .price-500 i {
          left: 69px;
        }

        .price-1000 i {
          left: 159px;
        }

        .price-2000 i {
          left: 249px;
        }

        .price {
          height: 35px;
          width: 80px;
          background-color: #fff;
          border: 1px solid #636363;
          font-size: 14px;
        }

        .price-input{
          margin-top: -20px;
        }

        input {
          margin-left: 96px;
          width: 138px;
          font-size: 12px;
          color: #999999;
          border-radius: 0px;
          border-color: #636363;
        }
        .yuan {
          float: right;
          margin-right: 376px;
          margin-top: -26px;
        }
        .recharge-min-budget{
          float: right;
          margin-right: 226px;
          margin-top: -26px;
          color: #999;
          font-size: 12px;
        }
        .error-tips {
          // margin-left: 96px;
          // height: 15px;
          margin: 0;
          p {
            display: none;
            color: rgb(206, 1, 1);
            // margin-top: 8px;
            font-size: 13px;
          }
        }

        .invite-code {
          margin-top: 15px;

          input {
            position: relative;
            top: -27px;
          }
        }

        .recharge-btn {
          margin-top: 20px;
          margin-bottom: 30px;
          margin-left: 96px;
          border: none;
          &:active {
            background-color: #2dcad0;
            color: #fff;
          }
          &:focus {
            background-color: #2dcad0;
            color: #fff;
          }
        }
      }

      .recharge-amount-item {
        width: 100%;
        .control-label {
          line-height: 34px;
          padding: 0;
          text-align: left;
          font-size: 14px;
          font-weight: normal;
        }
        .control-box {
          line-height: 34px;
          padding: 0 5px;
          font-size: 14px;
        }
        .form-control {
          width: 100%;
          margin: 0;
        }
        .recharge-type-img {
          height: 34px;
          margin: 0;
        }
      }
    }
    .recharge-offline .detail {
      table {
        width: 638px;
        height: 115px;
        margin-bottom: 24px;
        font-size: 14px;

        td {
          border: solid 1px #000;
          text-align: center;
        }

        .row-1 {
          height: 40px;
        }

        .row-2 {
          height: 75px;
        }

        .account-name {
          width: 210px;
        }
        .account-bank {
          width: 184px;
        }
        .account-number {
          width: 244px;
        }
      }

      hr {
        margin-top: 24px;
        border-color: #b8b8b8
      }

      .description {

        padding-bottom: 100px;

        p {
          margin-top: 24px;
          font-size: 14px;
          color: #909090;

          a {
            color: #36cdd3
          }
        }
      }
    }
  }
}

.recharge-modal {
  .modal-content {
    margin-top: 200px;

    .modal-title {
      font-size: 18px;
      color: #181616;
    }

    .modal-body {
      margin-left: 15px;
      margin-right: 15px;
      .no-invoice-content {
        margin: 30px 0px;
      }
      .amount-info {
        font-size: 18px;
        color: #181616;
        .recharge-amount {

        }
        .price {
        }
      }
      .invoice-info {
        margin-top: 10px;
        font-size: 18px;
        color: #181616;
      }
      .detail {
        margin-top: 10px;
        font-size: 12px;
        color: #999999;
      }
      .invite-code {
        font-size: 18px;
      }
    }
    .total-amount {
      margin-left: 300px;
      margin-bottom: 21px;
      font-size: 18px;
      color: #181616;
      .price {
        color: #36cdd3;
      }
    }
    .pay {
      width: 115px;
      position: absolute;
      bottom: 0px;
      right: 30px;
      height: 35px;
      line-height: 35px;
      margin-bottom: 18px;
    }
    .no-invoice {
      color: #999999;
      font-size: 14px;
    }
  }

}

.account-info-panel {
  position: relative;
  margin-top: 50px;
  .line-title {
    position: relative;
    padding: 2px 24px;
    font-size: 22px;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      border-radius: 2px;
      content: "";
      background-color: #2dcad0;
    }
  }
  .tips-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 370px;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    color: #4b4b4b;
    background-color: #fef0e3;
    .title {
      margin: 0 0 10px;
      font-size: 18px;
      color: #f74b08;
    }
    p {
      line-height: 34px;
      margin: 0;
    }
    .points-input {
      display: inline-block;
      width: 100px;
      height: 34px;
      line-height: 24px;
      padding: 4px;
      margin: -2px 10px 0;
      border: 1px solid #ffb89c;
      vertical-align: middle;
      color: #ff6745;
      background-color: #fff;
    }
    .black {
      color: #1c1c1c;
    }
    .sm {
      font-size: 14px;
    }
  }
}

.account-info-detail {
  margin-top: 20px;
  .infos {
    padding-left: 24px;
    font-size: 18px;
    font-weight: normal;
    .sm {
      font-size: 14px;
      color: #4b4b4b;
    }
    a {
      color: #0b8a8f;
    }
  }
  .avatar-img {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    border: 1px solid #2dcad0;
  }
}

.recharge-form {
  margin-top: 20px;
  padding-bottom: 40px;
}

.recharge-form-item {
  width: 100%;
  .control-label {
    line-height: 34px;
    padding-top: 0;
    font-size: 14px;
    font-weight: normal;
  }
  .control-box {
    line-height: 34px;
    padding: 0 5px;
    font-size: 14px;
  }
  .input-group {
    width: 190px;
  }
  .input-group-addon {
    width: 40px;
    border: none;
    background-color: transparent;
  }
  .form-control {
    width: 100%;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    border-color: #a7a7a7;
    &.input-small {
      width: 150px;
    }
  }
  .recharge-type-img {
    height: 34px;
    margin: 0;
  }
  .error-tips {
    margin: 0;
    p {
      display: none;
      line-height: 2;
      margin-bottom: 0;
      color: rgb(206, 1, 1);
      font-size: 13px;
    }
  }
}
