.page-summary {
  .menu {
    margin-top: 45px;
    // width: 1000px;
    ul {

      height: 60px;
      margin-left: 0px;

      a {
        display: inline-block;
        text-align: center;
        line-height: 60px;
        font-size: 18px;
        width: 320px;
        border-radius: 10px 10px 0 0;
        text-decoration: none;
        font-weight: bold;
        color: #000;

        &:nth-child(1) {
          // background-image: url(~recharge_menu_bg.jpg);
          // color: #fff;
          background-color: #e9e9e9;
          font-weight: normal;
        }

        &:nth-child(2) {
          margin-left: 5px;
          background-color: #fff;
          // color: #181616;
        }

        &:nth-child(3) {
          margin-left: 5px;
          // background-image: url(~recharge_menu_bg.jpg);
          // color: #fff;
          background-color: #e9e9e9;
          font-weight: normal;
        }
      }
    }
  }

  .main-content {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 70px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;

    .cost-text {
      > span {
        border-left: 3px solid #28b6bb;
        height: 17px;
        span {
          padding-left: 10px;
          font-size: 17px;
        }
      }
    }

    table {
      margin-top: 40px;
      width: 829px;
      &.fixed {
        table-layout:fixed;
        td {
          overflow: auto;
        }
      }
      tr {
        height: 50px;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        th {
          vertical-align: middle !important;
        }
        td {
          vertical-align: middle !important;
          // white-space: nowrap;

          div {
            width: 100%;
            overflow: auto;
            line-height: 32px;
          }
        }

        .credits {
          font-weight: bold;
        }

        th {
          font-size: 14px;
          font-weight: bold;
          color: #181616;
          text-align: center;
        }
      }

      .ood-transaction {
        background-color: #f2f2f2;
      }

    }

    .no-record {
      text-align: center;
      margin-top: 30px;
      margin-right: 70px;
    }
  }
}
