<div class="col-lg-7 col-md-8 col-sm-12">
	<div class="dashboard-btns">
		<div class="row">
			<h5>Dashboard</h5>
			<p> Lorem ipsum </p>
			<div class="col-sm-6">
				<a class="dashboard-btn" id='stream'>
					<div class="d-table">
						<div class="d-cell text-center">
							<img src="<%= AppAssets.path('eye.png')%>" alt="">
						</div>
						<div class="d-cell">New monitorng stream</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6">
				<a class="dashboard-btn" id='newsroom'>
					<div class="d-table">
						<div class="d-cell text-center">
							<img src="<%= AppAssets.path('building.png')%>" alt="">
						</div>
						<div class="d-cell">Create a Newsroom</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6">
				<a class="dashboard-btn" id='release'>
					<div class="d-table">
						<div class="d-cell text-center">
							<img src="<%= AppAssets.path('dash.png')%>" alt="">
						</div>
						<div class="d-cell">Publish a new Release</div>
					</div>
				</a>
			</div>
			<div class="col-sm-6">
				<a class="dashboard-btn" id='smart-release'>
					<div class="d-table">
						<div class="d-cell text-center">
							<img src="<%= AppAssets.path('rocket.png')%>" alt="">
						</div>
						<div class="d-cell">SmartRelease</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>



