<a class="btn btn-sm btn-primary" id='stream'> New monitorng stream</a>
<a class="btn btn-sm btn-primary" id='newsroom'> New newsroom</a>
<a class="btn btn-sm btn-primary" id='release'> New release</a>
<a class="btn btn-sm btn-primary" id='smart-release'> New smart-release</a>