<div class="col-xs-5">
	<div class="dashboard-btns">
		<div class="row">
			<div class="col-xs-6">
				<a class="dashboard-btn" id='stream'>
					<div class="d-table">
						<div class="d-cell text-center">
							<img src="assets/eye.png" alt="">
						</div>
						<div class="d-cell">New monitorng stream</div>
					</div>
				</a>
			</div>
			<div class="col-xs-6">
				<a class="dashboard-btn" id='newsroom'>
					<div class="d-table">
						<div class="d-cell text-center">
							<img src="assets/building.png" alt="">
						</div>
						<div class="d-cell">New newsroom</div>
					</div>
				</a>
			</div>
			<div class="col-xs-6">
				<a class="dashboard-btn" id='release'>
					<div class="d-table">
						<div class="d-cell text-center">
							<img src="assets/dash.png" alt="">
						</div>
						<div class="d-cell">New release</div>
					</div>
				</a>
			</div>
			<div class="col-xs-6">
				<a class="dashboard-btn" id='smart-release'>
					<div class="d-table">
						<div class="d-cell text-center">
							<img src="assets/combine.png" alt="">
						</div>
						<div class="d-cell">New smart-release</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>



