<div class="col-sm-12" style="width: 99%">
	<div class="dashboard-btns">
		<div class="row">
			<h5><i class="fa fa-home"></i> Dashboard</h5>
			<p>
				What if you knew EXACTLY who to contact for every campaign, based on a data-driven prediction on how successful each pitch will be? Robin8 can do all this and more, taking the guesswork and chance out of PR.
			</p>
			<p>
				Robin8 helps you maximize your reach by intelligently analyzing and understanding which journalists and influencers will be the best fit for your campaign.
			</p>
			<p>
				Robin8 provides you a powerful workflow and intelligent dashboard to help you stay on top of your game and generate the best results for your campaign.
			</p>
			<br />
			<div class="buttons-row">
				<div class='row'>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<button class="btn btn-default btn-orange" id='stream'><i class="fa fa-building"></i> New Monitoring Stream</button>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<button class="btn btn-default btn-green" id='newsroom'><i class="glyphicon glyphicon-eye-open"></i> Create a Brand Gallery</button>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<button class="btn btn-default btn-blue2" id='release'><i class=" glyphicon glyphicon-list-alt"></i> Publish New Content</button>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3">
						<button class="btn btn-default btn-blue" id='smart-release'><i class=" fa fa-rocket"></i> SmartContent</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



