<div class="panel-heading">
  <h1 class="panel-title">
    <i class="fa fa-search"></i><strong> Search Authors</strong>
    <div class="pull-right">
      <input type="checkbox" name="switch-find" checked />
    </div>
  </h1>
</div>
<div class="panel-body">
  <form role="form" class="form" id="find-authors">
    <div class="form-group">
      <label>Keywords</label>
      <input type="text" name="keywords" autocomplete="off" placeholder="Enter keywords" class="typeahead form-control">
    </div>
    <div class="form-group">
      <label>Contact name</label>
      <input type="text" name="contact_name" autocomplete="off" placeholder="Contact's first and last name" class="typeahead form-control">
    </div>
    <div class="form-group">
      <label>Outlet</label>
      <input type="text" name="outlet" autocomplete="off" placeholder="Outlet website or blog name" class="typeahead form-control">
    </div>
    <div class="form-group">
      <label>Location</label>
      <input type="text" name="location" autocomplete="off" 
        placeholder="City or State/Province or Country" class="typeahead form-control">
    </div>
    <button class="btn btn-success pull-right btn-small" type="submit" id="social-search">Search</button>
  </form>
  
  <form role="form" class="form hide" id="find-influencers">
    <div class="form-group">
      <label>Show me influencers for</label>
      <input type="text" autocomplete="off" name="topics" 
        id="topic-input" placeholder="Topic" class="form-control">
    </div>
    <div class="form-group">
      <label>From</label>
      <input type="text" name="location" autocomplete="off" 
        id="location-input" placeholder="Location" class="form-control">
    </div>
    
    <label><strong> Who are</strong></label>
    <label class="radio-inline">
      <input type="radio" checked="" name="socialTargetRadio" value="celebrity"> Celebrities
    </label>
    <label class="radio-inline">
      <input type="radio" name="socialTargetRadio" value="power_user"> Power users
    </label>
    <label class="radio-inline">
      <input type="radio" name="socialTargetRadio" value=""> All
    </label>
    
    <button class="btn btn-success pull-right btn-small" type="submit" id="social-search">Search</button>
  </form>
</div>
