.form-control {
  border-radius: 0;
  height: 43px;
  padding: 9px 15px 9px 15px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.form-group {
  &.col-2 {
    display: table;
    > .cell {
      display: table-cell;
      margin: 0;
      width: 50%;
      &:first-child {
        padding-right: 7px;
      }
      &:last-child {
        padding-left: 7px;
      }
    }
  }
}

.btn {
  border-radius: 0;
}

.alert {
  border-radius: 0;
}

.alert-data {
  display: none;
}

.disabled,
input[disabled='disabled'],
button[disabled='disabled'],
a[disabled='disabled'],
img[disabled='disabled'] {
  opacity: .4;
}

.tooltip {
  .tooltip-inner {
    background-color: #eef1f8;
    border-radius: 1px;
    padding: 6px 12px;
    color: $font-color;
  }
  .tooltip-arrow {
    border-top-color: #eef1f8 !important;
  }
}

.form-wrap {
  width: 450px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;

  .container {
    padding: 42px;
  }

  .alert {
    width: 100%;
    padding: 0;
    font-size: 14px;
    text-align: center;
    height: 43px;
    line-height: 43px;
    margin-bottom: 2px;
    border: 0;
  }

  .outter-container {
    @include clearfix;
    position: relative;
    width: 100%;
    padding-top: 20px;
  }

  h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .submit-btn {
    height: 43px;
    line-height: 43px;
    background-color: #3f3e3c;
    color: #fff;
    width: 100%;
    border: 0;
    font-size: 14px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    &:hover, &:active, &:focus {
      background-color: #615f5c;
    }
  }

  .register-link-btn {
    font-size: 13px;
    float: left;
    color: $font-color;
  }

  .password-link-btn {
    font-size: 13px;
    float: right;
    color: $font-color;
  }

  .back-btn {
    font-size: 13px;
    color: $font-color;
  }

  .captcha {
    img {
      width: 100%;
      height: 43px;
      background-color: #eef1f8;
      cursor: pointer;
    }
  }

  .sms-code-btn {
    font-size: 13px;
    height: 43px;
    line-height: 43px;
    display: inline-block;
    width: 100%;
    background-color: #37bd64;
    color: #fff;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    &:hover, &:active, &:focus {
      background-color: #48da79;
    }
  }

  .l-arraw-left {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    margin-right: 5px;

    &:after, &:before {
      border: 5px solid rgba(0, 0, 0, 0);
      border-right: 5px solid #fff;
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      left: 0;
      content: '';
    }
    &:before {
      border-right-color: #000000;
      left: -1px;
    }
  }

  .social-networks {
    padding: 24px 0;
    text-align: center;

    a {
      display: inline-block;
      width: 45px;
      height: 45px;
      line-height: 45px;
      border-radius: 999px;
      text-align: center;
      color: #fff;
      font-size: 12px;
      margin: 0 8px;
      text-indent: 1000px;
      overflow: hidden;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      &:hover, &:active, &:focus {
        opacity: .8;
      }
    }

    .sn-wechat {
      background-color: #5bb947;
      background: image-url('passport/icon-wechat.png') no-repeat center center;
      background-size: 100%;
    }

    .sn-weibo {
      background-color: #d52b2b;
      background: image-url('passport/icon-weibo.png') no-repeat center center;
      background-size: 100%;
    }

    .sn-qq {
      background-color: #2fadf7;
      background: image-url('passport/icon-qq.png') no-repeat center center;
      background-size: 100%;
    }
  }

  .form-alert-wrap {
    width: 100%;
    margin-bottom: 12px;
    .alert  {
      height: auto;
      font-size: 13px;
      line-height: 25px;
      width: 100%;
      padding: 0 12px;
      text-align: center;
      border-radius: 1px;
    }
  }

  .form-panel {
    padding: 15px 25px 5px 25px;
  }

  .form-bottom {
    margin-top: 12px;
    @include clearfix;
  }

  .divider {
    position: relative;
    font-size: 12px;
    text-align: center;
    margin: 5px 0;
    &:before, &:after {
      content: "";
      display: block;
      width: 27%;
      height: 1px;
      background-color: #dbdbdb;
      position: absolute;
      top: 50%;
      margin-top: -1px;
    }
    &:before {
      left: 73%;
    }
    &:after {
      right: 73%;
    }
  }
}

.login-wrap {
  .scanner-btn-wrap {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 100%;

    .scanner-btn {
      width: 60px;
      height: 60px;
      display: table-cell;
      background: image-url('passport/scanner.png') no-repeat center center;
      background-size: 100%;
      opacity: .8;
      transition: all 0.1s linear;
      -webkit-transition: all 0.1s linear;
      cursor: pointer;
      &:hover, &:active, &:focus {
        opacity: .6;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
      }
    }
    .scanner-tip-wrap {
      position: relative;
      display: table-cell;
      vertical-align: middle;
    }
    .scanner-tip {
      .arrow-l {
        border-right: 8px solid #eef1f8;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -4px;
      }
      margin-left: 8px;
      background-color: #eef1f8;
      display: inline-block;
      padding: 6px 12px;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.scanner-wrap {
  .scanner-step-wrap {
    padding-top: 5px;
  }

  .scan-steps {
    list-style: none;
    font-size: 12px;
    padding: 0;
    @include clearfix;

    li {
      float: left;
      margin: 0 9px;
      i {
        display: inline-block;
        width: 13px;
        height: 13px;
        line-height: 13px;
        text-align: center;
        background-color: #3e3d3b;
        border-radius: 999px;
        color: #fff;
        font-style: normal;
      }
    }
  }

  .scanner-cont {
    display: block;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    img {
      width: 200px;
      height: 200px;
      border: 1px solid #585858;
      background-color: #efefef;
    }
  }

  .scanner-bottom {
    padding: 10px 0;
    text-align: center;
  }
}
