<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="css/style.css" />
		<title></title>
	</head>
	<body>
		<section class="head-ro">
			<img src="images/head.jpg">
		</section>
		<section class="content-ro">
			<h2 class="title-ro">夏天在英国，你怎么能错过温布尔顿unite stuents英国学生公寓</h2>
			携一壶茶水，走进烈日灼心的午后，踏着清风，乘着绿意，走进山水相依的凉亭，放下茶壶，立身远望，看湖中水草的青色蔓延，在荡漾涟漪的湖面，想载一叶扁舟，靠近它的身旁，看它婀娜的身姿，随风欣喜的舞步和它扎根初夏的梦想，然后俯身，透过水面抚摸它的身躯，感受它的温度，再深入，触碰它奋发向上的灵魂，感受淤泥洇润的肌肤，湖水贴近的脉搏和澎湃的心跳，或许，某一个时刻的我也曾被水草如此凝视、也曾被淤泥如此洇润，也曾被一旺湖水如此的贴近，那彭拜的心跳在四季里辗转、蔓延……
		</section>
		<section class="bottom-ro">
			<a class="link-ro" onclick="showDialog(1)">查看活动要求></a>
			<a class="btn-blue-ro width100" onclick="showDialog(2)">有多少人在悄悄关注你</a>
		</section>
		<!-- 遮罩层 -->
		<div class="black" id="black">	</div>
		<!-- 弹出层 -->
		<div class="dialog" id="dialog">
			<div class="dia-content">
				<h2 class="title-ro">活动要求</h2>
				携一壶茶水，走进烈日灼心的午后，踏着清风，乘着绿意，走进山水相依的凉亭，放下茶壶，立身远望，看湖中水草的青色蔓延，在荡漾涟漪的湖面，想载一叶扁舟，靠近它的身旁，看它婀娜的身姿，随风欣喜的舞步和它扎根初夏的梦想，然后俯身，透过水面抚摸它的身躯，感受它的温度，再深入，触碰它奋发向上的灵魂，
				<button class=" btn-blue-ro width100" onclick="closeDialog()">知道了</button>
			</div>
		</div>
		<div class="dialog top-18" id="dialog02">
			<div class="dia-content">
				<h2 class="title-ro">点击右上角即可分享到朋友圈</h2>	
				<button class=" btn-blue-ro width100" onclick="closeDialog()">知道了</button>
			</div>		
		</div>	
	</body>
		<script type="text/javascript">
		var dialog = document.getElementById('dialog');
		var dialog02 = document.getElementById('dialog02');
		var black = document.getElementById('black');
		function closeDialog(){	
			black.style.display = "none";
			dialog.style.display = "none";
			dialog02.style.display = "none";
		}	
		function showDialog(con){
			if(con=='1'){
				black.style.display = "block";
				dialog.style.display = "block";
			}else{
				dialog02.style.display = "block";
				black.style.display = "block";
			}			
		}
		window.onload = function () {
      		showDialog(1);
  		}
	</script>
</html>
