<iframe src="<%= @campaign.url %>" style="border:0px #ffffff none;" name="campaign_iframe" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="400px" width="300px" allowfullscreen></iframe>


<h1><a href="<%= wechat_campaign_kol_register_path(campaign_id: @campaign.id) %>" class="btn btn-line btn-big btn-blue">Register</a></h1>
