<div class="about">
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
<%= render :partial => "pages/partials/page_banner", :locals => { :header => "About Robin8"}%>
</header>
<div class="int-content">
  <div class="row">
    <div class="small-12 columns">
      <p>Miranda Tan, Founder and CEO of Robin8, founded her first PR firm, ExcitePR, in 1999. She realized that businesses offering amazing products were constantly running into the same problem: how could they reach out to the right influencers and achieve maximum effectiveness for their message.</p>
      <p>Miranda’s answer was an intuitive, easy to use, do-it-yourself PR software platform she founded in 2007 with her partner, digital media pro Hassan Miah. By 2010, the PR solution had been named a Top 100 OnDemand Software Company, a Top 100 Mid-Atlantic Private Company, and a Top 100 OnMedia company by AlwaysOn.</p>
      <p>In 2014, with the emergence of big data and machine learning as pillars of the latest technological advancements, Miranda and Hassan, in partnership with some of the world’s brightest thought leaders, rebuilt the platform to take advantage of next generation Artificial Intelligence. After months of hard work and collaboration, Robin8 was created.</p>
      <p>What if you knew EXACTLY who to contact for every campaign, based on a data-driven prediction on how successful each pitch will be? Robin8 can do all this and more.</p>
      <p>Robin8 uses artificial intelligence, machine learning, and big data to take the guesswork out of social and content marketing.  With its proprietary predictive intelligence engine, Robin8 helps you maximize your reach by intelligently analyzing and understanding which journalists and influencers will be the best fit for your campaign.</p>
      <p>Robin8 is personalized to each user's digital profile.  Each time you use Robin8, it learns your preferences, gets smarter and generates the best results for your campaign.</p>
    </div>
  </div>
</div>