<div class="about">
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
<%= render :partial => "pages/partials/page_banner", :locals => { :header => "About MyPRGenie and Robin8"}%>
</header>
<div class="int-content">
  <div class="row">
    <div class="small-12 columns">
      <p>Miranda Tan, Founder and CEO of MyPRGenie, founded her first PR firm, ExcitePR, in 1999. She realized that startups offering amazing products were constantly running into the same problem: how could they reach out to the media and their customers on a limited budget with only expensive PR services available? Miranda’s goal was to build a PR platform and content marketing solution for companies and to get top tier placements that was effective and affordable.</p>
      <p>Miranda’s answer was MyPRGenie, an intuitive, easy to use, do-it-yourself PR software platform that she founded in 2007 with her partner, digital media pro Hassan Miah. By 2010, the PR solution had been named a Top 100 OnDemand Software Company, a Top 100 Mid-Atlantic Private Company, and a Top 100 OnMedia company by AlwaysOn.</p>
      <p>In 2014, with the emergence of big data and machine learning as pillars of the latest technological advancements, Miranda and Hassan, in partnership with some of the world’s brightest technology thought leaders, rebuilt MyPRGenie’s PR platform to take advantage of next generation online Artificial Intelligence technology. After months of hard work and collaboration, Robin8 was created.</p>
      <p>Robin8 is the next generation PR and content marketing software platform that uses artificial intelligence, machine learning, and big data to take the guesswork out of PR. Robin8 provides companies and marketing pros with the smartest tools to execute their PR and content strategy. With its proprietary predictive intelligence engine, Robin8 is personalized to your needs to recommend the most relevant influencers interested in your content and provide communication options with them with one click. Each time you use Robin8, the AI learns your preferences and gets smarter.</p>
      <p>Getting your company’s story published shouldn’t be complicated, time-consuming, and difficult to figure out; Robin8 is here to help you. Simply intelligent.</p>
    </div>
  </div>
</div>