<div class="page blockchain-intro-page full-page">
  <%= image_tag 'mobile/blockchain_intro/logo.png', alt: 'logo', class: 'logo-img' %>
  <%= image_tag 'mobile/blockchain_intro/txt_robin.png', alt: 'logo', class: 'side-logo-img' %>

  <div class="page-title">
    <p>开通区块链钱包</p>
    <p>多重好礼送不停</p>
  </div>
  <%= image_tag 'mobile/blockchain_intro/txt.png', alt: 'logo', class: 'txt-img' %>

  <div class="intro-content">
    <h5 class="title clearfix">
      <span class="inner">区块链钱包介绍</span>
    </h5>
    <div class="content">
      <p>区块链钱包，就是存储BTC,ETH,QTUM等虚拟货币的工具，在去年Robin8发布自己的虚拟货币PUT，它和其他虚拟货币一样具有巨大的升值空间。</p>
      <br />
      <p>现在，Robin8即将在APP中强势引入区块链钱包，我们是将虚拟货币结合至APP的第一家，添加了区块链钱包后，在保证每个人安全性下，确保每个人都能通过活动获得不同数量的虚拟货币，让我们在日常生活中积累财富，给每个人一夜暴富的可能。</p>
      <br />
      <p>敬请期待...</p>
    </div>
  </div>
</div>
