<div class="page blockchain-intro-page full-page">
  <%= image_tag 'mobile/blockchain_intro/logo.png', alt: 'logo', class: 'logo-img' %>
  <%= image_tag 'mobile/blockchain_intro/txt_robin.png', alt: 'logo', class: 'side-logo-img' %>

  <div class="page-title">
    <p>开通区块链钱包</p>
    <p>多重好礼送不停</p>
  </div>
  <%= image_tag 'mobile/blockchain_intro/txt.png', alt: 'logo', class: 'txt-img' %>

  <div class="intro-content">
    <h5 class="title clearfix">
      <span class="inner">区块链钱包介绍</span>
    </h5>
    <div class="content">
      <p>很荣幸的通知，Robin8推出一个行业领先，基于区块链技术的PUT奖励系统。在开通了PUT钱包后，用户通过参与Robin8生态圈内的不同活动将会获得不同的PUT奖励，我们诚意的邀请您参与这次公开测试获得奖励，点击立即开通赢取奖励。</p>
      <p class="text-center">
        <button type="button" class="button btn-lg btn-open" id="blockchain_open_btn">开通PUT钱包</button>
      </p>
    </div>
  </div>
</div>
