<div class="contact">
    <header class="int-header">
      <div class="nav fixed">
        <nav class="top-bar" data-topbar="" role="navigation"> 
          <ul class="title-area"> 
            <li><a class="logo" href="/">Robin8</a></li>
            <li class="toggle-topbar menu-icon">
              <a href="#"><span>Menu</span></a>
            </li> 
          </ul> 
           
        <section class="top-bar-section"> 
            <!-- Right Nav Section --> 
            <ul class="right"> 
              <li><a href="http://try.myprgenie.com/robin" target="_blank">Demo</a></li>
              <li><a href="/signin">Log In</a></li>
              <li class="signup-nav"><a href="/signup/#step1">Sign Up</a></li>
            </ul> 
          </section></nav> 
      </div> 
      <div class="row">
        <div class="large-12 columns">
          <h1>Contact Robin8</h1>
        </div> 
      </div> 
    </header>
   
     <div class="int-content">   
        <div class="row ">
        <!-- CONTENT -->

        <div style="border-right: 1px solid #c1c1c1; padding-right: 15px;" class="small-4 columns address-info">
          <h3>Main Office Address</h3>

          <address class="contact-addresses">
            MyPRGenie Inc.<br>
            1745 Broadway, 17th Floor <br>
            New York, NY 10019
          </address> 

          <div class="contact-addresses">

            General Inquires:
            <a href="mailto:info@myprgenie.com"><br>info@robin8.com</a><br><br>

            Phone (customer service):
            <a href="#"><br>(212) 807-8300 Extension 3</a><br><br>
 
          </div>

        </div><!-- SIDEBAR -->
        <div class="small-8 columns contact-form">
          <form action="" data-abide="" novalidate="novalidate"> 
            <div class="row">
              <div class="columns small-12">
                <div class="row"> 
                  <div class="columns small-6 form-group">
                    <label>
                    <input type="text" placeholder="First Name" class="form-control col-sm-12" required="" name="user[first_name]"></label>
                  </div>
                  <div class="columns small-6  form-group">
                    <label>
                    <input type="text" placeholder="Last Name" class="form-control col-sm-12" required="" name="user[last_name]"></label>
                  </div>
                </div>
                <div class="row">
                  <div class="columns small-12 form-group">
                    <label>
                    <input type="email" placeholder="Email Address" class="form-control col-sm-12" required="" name="user[email]"></label>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group columns small-12">
                    <label>
                    <select class="form-control columns small-12" id="subject" name="user[subject]" required="">
                      <option selected="" value="">Choose a Subject:</option>
                      <option value="service">General Customer Service</option>
                      <option value="suggestions">Suggestions</option>
                      <option value="product">Product Support</option>
                    </select></label>
                  </div>
                </div>
                <div class="row">
                  <div class="columns small-12 form-group">
                    <label>
                    <textarea rows="8" class="form-control   " id="message" name="user[message]">Your Message</textarea></label>
                  </div>
                </div>
            <div class="errorwarning">
              <p>Please fill out all required fields</p>
            </div>
                <div class="submit-wrap">
                  <button class="button button-signup" type="submit">Send</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer>
      <div class="row">
        <div class="small-12 medium-3 columns ft-logo right"> 
          <img src="/assets/ROBIN8-logo.png"> 
        </div>
        <div class="small-12 medium-9 columns left"> 
          ©2015 MyPRGenie Inc. All rights reserved. <br class="show-for-medium-only"> <a href="/about" class="ft-link privacy">About</a> <a href="/team" class="ft-link privacy">Team</a> <a href="/contact" class="ft-link privacy">Contact</a> <a href="/terms" class="ft-link privacy">Privacy &amp; Terms</a>
        </div>
      </div> 
    </footer>

  </div>