  <%= render :partial => "pages/partials/header" %>

  <div class="container">
    <div class="jumbotron-content">
      <% if mobile_request? %>
        <h1>分享是一种</h1>
        <h1>领袖精神</h1>
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.robin8.rb" class="btn btn-blue btn-big btn-line cneter-block download-btn" data-toggle="modal">APP下载</a>
      <% end %>
      <% if !mobile_request? %>
        <p>每一次分享都使Robin8更好的了解你的社交影响力，大数据引擎会推荐最适合你的品牌推广机会，见证你意见领袖的一面。</p>
        <p>立即成为Robin8的意见领袖</p>
        <a href="#downloadModal" class="btn btn-blue btn-big btn-line cneter-block download-btn" data-toggle="modal">APP 下载</a>
      <% end %>
    </div>
  </div>

  <div class="modal fade" id="downloadModal" show-after-loading="<%= params[:landing_at]== 'kol' ? true : false%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-dialog">
      <div class="modal-body">
        <img src="http://qr.api.cli.im/qr?data=http%253A%252F%252Fa.app.qq.com%252Fo%252Fsimple.jsp%253Fpkgname%253Dcom.robin8.rb&level=Q&transparent=false&bgcolor=%23ffffff&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&size=280&kid=cliim&key=486cf3e730e344e2e7d308172073a64f">
      </div>
    </div>
  </div>

  <%= render :partial => "pages/partials/login_modal" %>

  <%= render :partial => "pages/partials/footer" %>
