<!-- 头部 S -->
  <header class="navbar r-site-header">
    <div class="container-fluid">
      <a href="landingpage.html" class="logo">Robin8</a>
      <div class="navbar-action pull-right">
        <a href="#signinupModal" class="quick-login" data-toggle="modal">品牌登录&nbsp;/&nbsp;注册</a>
      </div>
    </div>
  </header>
  <!-- 头部 E -->

  <div class="jumbotron">
    <div class="container">
      <div class="jumbotron-content">
        <h1>分享是一种领袖能力</h1>
        <p>每一次分享都使Robin8更好的了解你的社交影响力，大数据引擎会推荐最适合你的品牌推广机会，见证你意见领袖的一面。<br/> 立即成为Robin8的意见领袖</p>
        <a href="landingpage_influence.html" class="btn btn-blue btn-big btn-line cneter-block">APP 下载</a>
      </div>
    </div>
  </div>

  <!-- 登录注册Modal S -->
  <div class="modal fade" id="signinupModal" tabindex="-1" data-backdrop="static">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-dialog">
      <!-- 引入登录注册组件 -->
      <!-- 登录注册组件 S -->
  <div class="signinup-wrap">
    <ul class="tab-menu">
      <li class="active"><a href="#signup-tab-pane" data-toggle="tab">注册</a></li>
      <li><a href="#signin-tab-pane" data-toggle="tab">登录</a></li>
    </ul>
    <div class="tab-content">
      <!-- 注册 S -->
      <div id="signup-tab-pane" class="tab-pane fade in active">
        <form action="/users/new" method='post'>
          <div class="form-group">
            <i class="icon-email"></i>
            <label>邮箱</label>
            <input type="email" class="form-control" placeholder="输入您的邮箱">
            <span class="what">?</span>
          </div>
          <div class="form-group">
            <i class="icon-pwd"></i>
            <label>密码</label>
            <input type="password" class="form-control" placeholder="设置您的密码">
          </div>
          <button type="submit" class="btn btn-blue btn-block">注册</button>

          <p class='help-block'>
            注册即视为同意Robin8的<a href='/terms'>服务条款</a>
          </p>
        </form>
      </div>
      <!-- 注册 E -->

      <!-- 登录 S -->
      <div id="signin-tab-pane" class="tab-pane fade">
        <%= form_tag('/users/sign_in', method: 'post') do %>
        <div class="form-group">
          <i class="icon-email"></i>
          <label for='user[mobile_number]'>手机号</label>
          <input type="text" class="form-control" name='user[mobile_number]' placeholder="您的登录手机号">
          <span class="what">?</span>
        </div>
        <div class="form-group">
          <i class="icon-pwd"></i>
          <label for='user[password]'>密码</label>
          <input type="password" class="form-control" name='user[password]' placeholder="登录密码">
        </div>
        <button type="submit" class="btn btn-blue btn-block">登录</button>
        <% end %>
      </div>
      <!-- 登录 E -->

      <!-- 第三方登录注册 S -->
      <div class="social-binding">

      </div>
      <!-- 第三方登录注册 S -->
    </div>
  </div>
  <!-- 登录注册组件 E -->
    </div>
  </div>
  <!-- 登录注册Modal E -->
