<div class="signup">
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
    <%= render :partial => "pages/partials/page_banner", :locals => { :header => "Payment Confirmation"}%>
  </header>

  <div class="form-step step3">
    <div class="confirmation">
      <div class="row">
        <div class="small-12 columns">
          <p class="selection-intro-heading">Thank you!</p>
          <p class="selection-guarantee">Your payment has been successfully processed. Please check your email for transaction details.</p>

          <a class="button button-signup" href="/">Go to Robin8</a>
        </div>
      </div>
    </div>
  </div>
</div>

