<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PMES</title>
    <%= stylesheet_link_tag 'https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css' %>

    <%= javascript_include_tag 'https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js' %>
    <%= javascript_include_tag 'https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'pmes/pmes.min' %>
  </head>

  <body>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">PMES</div>
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="user" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="user" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="phone" class="col-sm-2 control-label">Phone</label>
              <div class="col-sm-10">
                <input type="tel" class="form-control" id="phone" placeholder="phone">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10 text-center">
                <button type="button" class="btn btn-default" id="submit_btn">Sign in</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">data</div>
        <div class="panel-body" id="data_container"></div>
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function() {
        var pems_create = PMES.create('test_password');
        console.log('create:', pems_create);

        var pems_sign = PMES.sign(
          pems_create.token,
          {
            'message': {
              'timestamp': '201808101124',
              'coinid': 'PUTTEST',
              'amount': '100000000000',
              'address': 'qZZfBCVXLHBt6ou1ZoZW6LiZH1qDHbWq8i',
              'recvWindow': 5000
            }
          },
          'test_password'
        );

        console.log('signature:', pems_sign.signature);

        var email = $('#email').val();
        var phone = $('#phone').val();

        var data = {
          'public_key': pems_create.public_key, //公開钥匙
          'message': {
            'email': email, //Robin8用户电子邮件
            'phone': phone, //Robin8用户电话
            'timestamp': '201808091319' // 現在時間 201808091319, 格式 YYYYMMDDHHmm
          },
          'signature': pems_sign.signature
        };

        data = JSON.stringify(data);
        console.log(pems_create.public_key);

        $('#submit_btn').click(function(event) {
          $.ajax({
            url: 'http://190.2.149.83/api/accounts/',
            type: 'POST',
            data: data,
            success: function(data) {
              console.log(data);
              console.log(JSON.parse(data.wallets));

              var post_data = JSON.stringify(data);

              $('#data_container').append('<pre>'+ syntaxHighlight(data) +'</pre>');

              jwPut.put_Login(post_data);
            },
            error: function(xhr, type) {
              console.log('error');
            }
          });
        });
      });


      function syntaxHighlight(json) {
        if (typeof json != 'string') {
          json = JSON.stringify(json, undefined, 2);
        }
        json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
        function(match) {
          var cls = 'number';
          if (/^"/.test(match)) {
            if (/:$/.test(match)) {
              cls = 'key';
            } else {
              cls = 'string';
            }
          } else if (/true|false/.test(match)) {
            cls = 'boolean';
          } else if (/null/.test(match)) {
            cls = 'null';
          }
          return '<span class="' + cls + '">' + match + '</span>';
        });
      }
    </script>
  </body>
</html>
