<div class="campaign-share">
  <div class="title">截图样例及说明</div>
  <div class="notice" style="text-align: center;margin: 0 auto;color: #008CBA; font-style: italic;">
    请按如下形式上传您的截图
  </div>
  <div class="share-content">
    <div class="top" style="text-align: center">
      <p>
        <%= image_tag 'screenshot_sample.png' %>
      </p>
    </div>
  </div>
  <div class="notice">
    <div class="notice-title">操作要求：</div>
    <div class="content">
      <div class="item">1. 按照任务的转发语+图片发布（转发语可以原创但必须与任务主题相关）</div>
      <div class="item">2. 截图必须完整（包括转发内容和转发时间），不可以修改或美化</div>
      <div class="item">3. 转发必须公开不可分组发布 截图会影响提现哦！</div>
    </div>
  </div>
</div>

<style type="text/css">
  body {
    background: #fff;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
  }
  .campaign-share{
    margin-bottom: 40px;
  }
  .notice{
    margin: 30px 15px 15px;
  }
  .notice .notice-title{
    font-size: 16px;
    color: red;
    text-align: left;
  }
  .notice .content{
    margin-top: 10px;
  }
  .notice .content .item{
    font-size: 14px;
    color: #808080;
    text-align: left;
    margin: 8px;
    line-height: 1.4;
  }
  .title {
    margin-top: 10px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }

  .share-content .right-info textarea{
    background-color: #e1e1e1;
  }

  .share-content img {
    width: 300px;
    border-radius: 5px;
  }
</style>
