<div class="page vote-page">
  <%= hidden_field_tag :kol_id, @kol.id %>
  <div class="banner">
    <%= image_tag 'mobile/vote/banner.jpg', alt: '2019我是网红，发现最闪亮的你', class: 'banner-img' %>
  </div>

  <div class="new-user-panel mt20" id="new_user_panel">
    <div class="circle circle-s"></div>
    <div class="circle circle-m"></div>
    <div class="circle circle-b"></div>

    <div class="panel-box">
      <div class="panel-inner">
        <h5 class="new-user-title">为“<%= @kol.name %>”投票吧</h5>
        <div class="default-form mt30">
          <label class="form-group">
            <div class="form-input">
              <input type="tel" class="form-control" id="voter_phone" placeholder="输入手机号" />
            </div>
          </label>
          <div class="form-group">
            <div class="form-input">
              <input type="text" class="form-control" id="voter_code" placeholder="输入验证码" />
            </div>
            <div class="form-tail-btn">
              <button type="button" class="button btn-code" id="voter_code_btn">发送验证码</button>
            </div>
          </div>
        </div>

        <div class="btn-area">
          <button type="button" class="button btn-block btn-submit" id="voter_submit_btn">为他投票</button>
        </div>
      </div>
    </div>
  </div>

  <div class="liked-success-panel mt20" id="liked_success_panel">
    <div class="circle circle-s"></div>
    <div class="circle circle-m"></div>
    <div class="circle circle-b"></div>

    <div class="panel-box">
      <div class="panel-inner">
        <div class="success-title">投票成功！</div>
        <div class="success-desc mt10">下载Robin8 APP，继续为你的爱豆投票吧</div>
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.robin8.rb" class="button btn-block download-btn mt30">下载APP</a>
      </div>
    </div>
  </div>

  <div class="event-intro-panel mt50">
    <div class="intro-box">
      <h5 class="sub-title">
        <span class="text">活动规则:</span>
      </h5>
      <div class="intro">
        <p>1.下载Robin8 APP并完成注册（APP中点击我要报名）</p>
        <p>2.邀请您的好友为您拉票（好友注册并下载就可以为您拉到一票）</p>
        <p>3.关注Robin8的微博/微信公众号，获得最新的活动消息</p>
      </div>
    </div>

    <div class="intro-box">
      <h5 class="sub-title">
        <span class="text">活动详情:</span>
      </h5>
      <div class="intro">
        <p>1.每人每天可以点赞一次，拉票不限次数；</p>
        <p>2.Robin8会在2019年2月X日电话通知各获奖者，同时请密切关注ROBIN8公众号信息；</p>
        <p>3.前三名获奖者将被邀请与顶尖网红见面，一同参加Robin8举办的颁奖礼；</p>
        <p>4.获奖名单发布在Robin8微信公众号，获奖者在收到通知后7天未确认将被视为放弃名额；</p>
        <p>5.通过非法手段获得的票将被报废同时取消活动资格；</p>
        <p>6.Robin8拥有对此活动的唯一解释权。</p>
      </div>
    </div>
  </div>

  <div class="foot-logo">
    <%= image_tag 'mobile/vote/logo.png', alt: 'logo', class: 'logo-img' %>
  </div>
</div>
