<div id="blast-targets" class="tab-pane active" role="tabpanel">
<h5><i class="fa fa-bullseye"></i> Targets</h5>
<p>Kozuh segko doabgop inoluzis ka neitajan alho ranepe tihtafe dibipu ni demin biraswo sobzatoc. Saj vivdovava zalubip bidfut johbon hagic zimro pah za rod lufpetji wogce hembowil am vimozci.</p>
<ul class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="tab" href="#targets-blogs" aria-expanded="true"><i class="fa fa-rss"></i> Influencers</a></li>
  <li><a data-toggle="tab" href="#targets-social" aria-expanded="true"><i class="fa fa-twitter"></i> Social</a></li>
  <li><a data-toggle="tab" href="#targets-search" aria-expanded="true"><i class="fa fa-search"></i> Search</a></li>
  <li><a data-toggle="tab" href="#targets-list" aria-expanded="true"><i class="fa fa-list"></i> Media List</a></li>
</ul>
<div class="tab-content">
  <div id="targets-blogs" class="tab-pane active" role="tabpanel">
    
  </div>
  <div id="targets-social" class="tab-pane" role="tabpanel">
    
  </div>
  <div id="targets-search" class="tab-pane" role="tabpanel">
    
  </div>
  <div id="targets-list" class="tab-pane" role="tabpanel">
    
  </div>
</div>
<button disabled class="btn btn-primary pull-right" id="next-step"><i class="fa fa-chevron-right"></i> Next</button>
</div>
