<div class="nav fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li><a class="logo" href="/">Robin8</a></li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="http://try.myprgenie.com/robin" target="_blank">Demo</a></li>
        <li><a href="/pricing" <%if params[:action] == "pricing"%> class="active" <%end%>>Pricing</a></li>

        <%if user_signed_in?%>
            <li><a href="/"><%=current_user.name.humanize%></a></li>
            <li><%=link_to "Logout", destroy_user_session_path, :method => :delete%></li>
        <%else%>
            <li><a href="/signin">Log In</a></li>
            <li class="signup-nav"><a href="/users/new" <%if params[:action] == "new"%> class="active" <%end%>>Sign Up</a></li>
        <%end%>
      </ul>
    </section>
  </nav>
</div>