<div class="nav fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li><a class="logo" href="/"><%= @l.t('header.title') %></a></li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span><%= @l.t('header.menu') %></span></a>
      </li>
    </ul>
  </nav>
</div>
