<h3>添加Circle</h3>

<%= form_for([:marketing_dashboard, @circle], html: { class: "form-horizontal", multiple: true}) do |f| %>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">name</label>
    <div class="col-sm-2">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">label</label>
    <div class="col-sm-2">
      <%= f.text_field :label, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit '提交', :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>



