<div class="stream-settings settings-dialog slider closed">
  <form role="form">
    <div class="form-group">
      <label for="topics-select">Topics</label>
      <input type="text" class="form-control input-sm stream-input" id="topics-select" placeholder="Start typing to get suggestions...">
    </div>
    <div class="form-group">
      <label for="blogs-select">Sources</label>
      <input type="text" class="form-control input-sm stream-input" id="blogs-select" placeholder="Start typing to get suggestions...">
    </div>
    <div class="form-group sort-by">
      <label>Sort by</label>
      <div class="ui-select">
        <select class="form-control" name='sort_column'>
          <option value="published_at">Recency</option>
          <option value="shares_count">Popularity</option>
        </select>
      </div>
    </div>
    <div class="form-group time-range">
      <label>Time range</label>
      <div class="ui-select">
        <select class="form-control" name='published_at'>
          <option value="[NOW-24HOURS TO *]">Last 24 hours</option>
          <option value="[NOW-7DAYS TO *]">Last week</option>
          <option value="[NOW-1MONTH TO *]">Last month</option>
          <option value="">All time</option>
        </select>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-default btn-sm" id="close-settings">Cancel</button>
      <button class="btn btn-success btn-sm" id="done" href="#"><i class="fa fa-check"></i> Done</button>
    </div>
  </form>
</div>
<div class="stream-settings rss-dialog slider closed">
  <form role="form">
    <div class="form-group">
      <label for="topics-select">Rss Link</label>
      <% if(stream.id) {%>
        <input type="text" class="form-control input-sm rss-input" readonly value="<%= window.location.origin + '/streams/' + stream.id + '/stories.rss?topicsForRss='+topicsForRss()+'&blogsForRss='+blogsForRss()%>">
      <% } else {%>
        <div>Please save stream first</div>
      <% } %>
    </div>
  </form>
</div>
<div class="stream-header">
  <i class="fa fa-reorder grey"></i>  
  <span class='editable' id='title'> <%= stream.name %></span>
  <button class="close pull-right delete-stream" data-toggle="tooltip" data-placement="left" title="Delete Stream">&times;</button>
  <button class="close pull-right settings-button" style="margin-top: -1px;" data-toggle="tooltip" data-placement="left" title="Stream Settings"><i class="fa fa-cog" style="color: #000;"></i></button>
  <button class="close pull-right rss-button" style="margin-top: -1px;" data-toggle="tooltip" data-placement="left" title="RSS Feed"><i class="fa fa-rss" style="color: #000;"></i></button>
</div>
<div class="stream-body">
  <ul class="stories"></ul>
</div>
<div class="stream-updates" align="center">
  <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="Click to see updates" class="js-show-new-stories hidden">
    <i class="fa fa-refresh fa-spin"></i> <span name="newStoriesCount"><%= stream.newStoriesCount %></span> new updates
  </a>
</div>
