development:
  secret_key_base: 224c36b428d3615f4a3ca0bd3f8c0fc5bf43e6e6b67de04ec3ec53902e7a1109ec6adfd4a61587c256bccfef9e23444rgererererg
  robin_api_url: http://api.robin8.net/api/v1/
  robin_api_user: app-production@robin8.net
  robin_api_pass: tlv(AF1ki8b@VSN^Xg+X
  wkhtmltoimage_path: /usr/local/bin/wkhtmltoimage
  support_email: support@robin8.net
  cn_recommendation_url: "http://engine-api.robin8.net/api/v1/articles/page/"
  qiniu:
   :access_key: "5bRVzHodaZbSwt6lLpO75opJo-TuSJyRoTlwkAON"
   :secret_key:  "RGzmCELncrd_AySF6hht0gElCtC0zxB2tWOjkIi7"
  instance_host:
    :cn: http://robin8.net
    :us: http://robin8.com
  google:
    :client_id: '661225236187-olkhqg12hvl2o1c6tnag645eotktpgij.apps.googleusercontent.com'
    :client_secret: 'QtrgUHvSZpFajTwvCDK455KJ'
  facebook:
    :app_id: '1558481361099785'
    :app_secret: 'c0311b6435ce78c797305c80e677259a'
  twitter:
    :api_key: 'MqJO039CqSEbhQaiposwreZBm'
    :api_secret: 'LwNXT5W1nODg14VRVXuKzUMMAt1sWT43L1kHl2Q63pf87wugCF'
  linkedin:
    :api_key: '779fzx9llmreg7'
    :api_secret: 'gaXDeFo5CdCOCcru'
  weibo:
    :app_key: '3256799281'
    :app_secret: '51c79129e0b7fb19c9363f39f972b7c0'
    :user_timeline_url: "https://api.weibo.com/2/statuses/user_timeline.json"
    :integration_data_api: "http://engine-api.robin8.net/api/v1/kols/weibo_statuses"
  wechat:
    :app_id:  wx090f7653e11d896e
    :app_secret: d4624c36b6795d1d99dcf0547af5443d
  alipay:
    :app_pid: 2000000000000003
    :app_key: aaoaeutbaonstehusnhoaenuth
    :private_key: "-----BEGIN RSA PRIVATE KEY-----\n-----END RSA PRIVATE KEY-----\n"
    :notify_url: "https://qa.robin8.net/api/v1_4/kol_campaigns/notify"
    :brand_recharge_notify_url: "https://qa.robin8.net/api/v1_4/kol_brand/notify"
  google_analytics:
    :key: robin8-production.p12
    :user: 661225236187-do4mhsdpkk2fc68msd94f16l9g704cs2@developer.gserviceaccount.com
  devise:
    secret_key: 'b7c81e2d3f4110baa88117920e856108c5cea627f6abb59f660abeff24656c4a39dcf23a1db3b395acfcb219c05533cb80264178369352116cd9d6a05ad95b32'
  smtp:
   :user_name: postmaster@sandbox0932578202ac4c2286c72eaa4a9a3ac1.mailgun.org
   :password: e103985a5654ced675ee87c51ae3fe82
   :domain: mailgun.org
   :address: smtp.mailgun.org
   :port: 587
  mailgun:
    :api_base_url: https://api.mailgun.net/v3/mgproduction.robin8.com
    :api_key: key-bb3126bb71508ffd5aeeb27b73e59c5c
    :domain: mgproduction.robin8.com
  sendcloud:
    :api_key: HwhgxnYhvKwPIvlV
    :api_user: robin8
    :from_name: Robin8
    :from_address: noreply@robin8.net
  yunpian:
    :api_key: "250b960f00ba9c461fc7559cb7740da2"
    :company_sign: "罗宾科技"
  redis:
    :url: redis://127.0.0.1:6379/0
  textapi:
    :base_uri: http://manijeh.textapi.aylien.com:8080/api/v1/
    :app_id: c0472211
    :app_key: f0f61d22c235b7e1bef2c7ff7f8dfa09
  boson_nlp_api:
    :base_uri: http://api.bosonnlp.com/
    :token: a7QXtxNu.3172.wJTQzzpk2OqJ
  amazon:
    :key_id: 'AKIAJBAZFWNSWK6XHBQQ'
    :secret_access_key: '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'
    :bucket: 'robin8-production'
  s3:
    :access_key_id: AKIAJBAZFWNSWK6XHBQQ
    :secret_access_key: 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
    :bucket_name: robin8-production
  uploadcare: 'fe688dbff8d2a632a256:a1a9c1e0532f9727824c'
  pos_tagger_api:
    :url: http://localhost:2412/pos
  twilio:
    :account_sid: AC436bf71306717a632ab2b0a826a6cc39
    :auth_token: b3ea23b0b52be7f2d82efe6bc5d2c653
    :from: +19177891459
  bluesnap:
    :user_name: "API_1425395310539131502437"
    :password: "Robin12345"
    :store_id: "542623"
    :public_key: "10001$804ae42121fac30c299b01196b4eb26370d7fb8f8432d66d9ddac3e927c6b6219437e80d145c025b77226abce48a3e52d34bda9b0cda99fedf3299404592a2792d01720d705985ce0b06d7fa2906df6003b2dbabf4065e8a06c61b36bf499f932218bc6672621ee73ff656e63ce73528b8432342583bef236cdaaee549811ca565580d9cadd0148c1e84bc02862f28517f00eedd88ec2cafa80ee07040438b89eb60208d295dc0c5ff4e345db17f41e355c96c9822ff3fb93872f55f5b461cf4b2c86d77a3dc04e2746fa0d263109f23300b9c075b7642a63bf1f47bdffaab082b9f417b3da9465df73232d104496dd3df29c35b36bfa75580dfd591f3049563"
    :base_url: "https://ws.bluesnap.com/services/2"
  wechat_third:
    :app_id:  wx8469893145c7d60c
    :app_secret: d3815353c774608e51a3cb9cd7270bbd
    :aes_key: eada1a9c14848c8840f720db0167885beada1a9c148
    :descry_token: eada1a9c14848c8840f720db0167885b
  qq:
    :app_id: 101328855
    :app_key: de1afed000772ed0482088d45827a324
  host: robin8.net
  domain: 'http://localhost:3000/'
  lottery:
    :api_url: http://f.apiplus.cn/cqssc-1.json
  geometry:
    :public_key: "-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDHDip0KpxbABiw+eYJh2Qq1BrU\nWpy05bW+tIKcFRRlRTKivxqdYQCZ/4SUAcW00xZTOoykNE3Hk2jKrIh5vFyKGGzc\n7soQPztZ9v1uwrFiOgI4l5gqzFCUSz7eeDgfUdKXlOcoXS7Yt783kSlf2r3hwNeT\nqwF37dvOneKLPEYeKQIDAQAB\n-----END PUBLIC KEY-----"
  partners:
    :alizhongbao:
      :private_key: "-----BEGIN PRIVATE KEY-----\nMIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBAMGCOXSaMTdp8tf/\nuvMVYSOg2GTDetJk2gO34+b4Srj590k84F5Qz0/xKddzOy3bc6cIyJxnFzExK+3r\na+R0Q+mOEQ83OnDJcSNEm30CxOITif/tiBttt4FoewflEEDDDst/XvtxT1xq6+oy\nt9/ozNrTdSwVtQGMpV7+esYt/U+3AgMBAAECgYADTpZsx7XPnJ/p0RUA0ny2fykz\nj6OptM+FAL+EUvnz71Gqjr/G3NquIxDz/aQlRHrVf/Dtu1VKIez+Q+e0H8iJTZ9A\n4ZdCnlQFCVNR6xt3jnVeTJRRXYTbbBuhEztR2YXHRjh8pQ994XckhiKcpRMPMHnr\n5AJsCu4fLfzH3HOkAQJBAPWk/zFroglpAMi2TBZLuNYlR3fBt12sZ28cnJrDAZzA\nVMjpBC6jXMTnXeEWOG0FEoY4lFovnZijXn2xu5+7iUcCQQDJqpN8ofWziwXVae90\nYpv/7MakuDtqDLcCun3WGOKdP6cri0D2wUTqWvNXUI/IpeTALstnyt0+fAi06J5j\nZj4RAkAia2cyppFC3kq01Q5eRWf14a1c83DdGE45/HlZGh/8tdpreHMUkeFq2byG\n0JVBeWd6FS18YZWkkKep1yCiJiX7AkA0rwRCvgjzM7F9dGRjElPQwymN5LdY2COD\nafbv1KZ3ECb7ADEjhZAcbVA/EkPN1lDxSAhJgDzWUw7vPAoMy6wRAkArHQ1LG0tC\n2QPe35Bb3p7UzYgw1jdwm5N9m6TFhnLMxcQAwgVymh9t4uw1VxbEyxzUZQyBC1i5\nXzV8G9DKLcXT\n-----END PRIVATE KEY-----"
      :gateway_url: "http://140.205.76.29/gateway.do"

test:
  secret_key_base: 224c36b428d3615f4a3ca0bd3f8c0fc5bf43e6e6b67de04ec3ec53902e7a1109ec6adfd4a61587c256bccfef9e23444rgererererg
  robin_api_url: http://api.robin8.net/api/v1/
  robin_api_user: app-production@robin8.net
  robin_api_pass: tlv(AF1ki8b@VSN^Xg+X
  wkhtmltoimage_path: /usr/local/bin/wkhtmltoimage
  support_email: support@robin8.net
  cn_recommendation_url: "http://engine-api.robin8.net/api/v1/articles/page/"
  qiniu:
   :access_key: "5bRVzHodaZbSwt6lLpO75opJo-TuSJyRoTlwkAON"
   :secret_key:  "RGzmCELncrd_AySF6hht0gElCtC0zxB2tWOjkIi7"
  instance_host:
    :cn: http://robin8.net
    :us: http://robin8.com
  google:
    :client_id: '661225236187-olkhqg12hvl2o1c6tnag645eotktpgij.apps.googleusercontent.com'
    :client_secret: 'QtrgUHvSZpFajTwvCDK455KJ'
  facebook:
    :app_id: '1558481361099785'
    :app_secret: 'c0311b6435ce78c797305c80e677259a'
  twitter:
    :api_key: 'MqJO039CqSEbhQaiposwreZBm'
    :api_secret: 'LwNXT5W1nODg14VRVXuKzUMMAt1sWT43L1kHl2Q63pf87wugCF'
  linkedin:
    :api_key: '779fzx9llmreg7'
    :api_secret: 'gaXDeFo5CdCOCcru'
  weibo:
    :app_key: '3256799281'
    :app_secret: '51c79129e0b7fb19c9363f39f972b7c0'
    :user_timeline_url: "https://api.weibo.com/2/statuses/user_timeline.json"
    :integration_data_api: "http://engine-api.robin8.net/api/v1/kols/weibo_statuses"
  wechat:
    :app_id:  wx090f7653e11d896e
    :app_secret: d4624c36b6795d1d99dcf0547af5443d
  google_analytics:
    :key: robin8-production.p12
    :user: 661225236187-do4mhsdpkk2fc68msd94f16l9g704cs2@developer.gserviceaccount.com
  devise:
    secret_key: 'b7c81e2d3f4110baa88117920e856108c5cea627f6abb59f660abeff24656c4a39dcf23a1db3b395acfcb219c05533cb80264178369352116cd9d6a05ad95b32'
  smtp:
   :user_name: postmaster@sandbox0932578202ac4c2286c72eaa4a9a3ac1.mailgun.org
   :password: e103985a5654ced675ee87c51ae3fe82
   :domain: mailgun.org
   :address: smtp.mailgun.org
   :port: 587
  mailgun:
    :api_base_url: https://api.mailgun.net/v3/mgproduction.robin8.com
    :api_key: key-bb3126bb71508ffd5aeeb27b73e59c5c
    :domain: mgproduction.robin8.com
  sendcloud:
    :api_key: HwhgxnYhvKwPIvlV
    :api_user: robin8
    :from_name: Robin8
    :from_address: noreply@robin8.net
  yunpian:
    :api_key: "250b960f00ba9c461fc7559cb7740da2"
    :company_sign: "罗宾科技"
  redis:
    :url: redis://127.0.0.1:6379/0
  textapi:
    :base_uri: http://manijeh.textapi.aylien.com:8080/api/v1/
    :app_id: c0472211
    :app_key: f0f61d22c235b7e1bef2c7ff7f8dfa09
  boson_nlp_api:
    :base_uri: http://api.bosonnlp.com/
    :token: a7QXtxNu.3172.wJTQzzpk2OqJ
  amazon:
    :key_id: 'AKIAJBAZFWNSWK6XHBQQ'
    :secret_access_key: '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'
    :bucket: 'robin8-production'
  s3:
    :access_key_id: AKIAJBAZFWNSWK6XHBQQ
    :secret_access_key: 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
    :bucket_name: robin8-production
  uploadcare: 'fe688dbff8d2a632a256:a1a9c1e0532f9727824c'
  pos_tagger_api:
    :url: http://localhost:2412/pos
  twilio:
    :account_sid: AC436bf71306717a632ab2b0a826a6cc39
    :auth_token: b3ea23b0b52be7f2d82efe6bc5d2c653
    :from: +19177891459
  bluesnap:
    :user_name: "API_1425395310539131502437"
    :password: "Robin12345"
    :store_id: "542623"
    :public_key: "10001$804ae42121fac30c299b01196b4eb26370d7fb8f8432d66d9ddac3e927c6b6219437e80d145c025b77226abce48a3e52d34bda9b0cda99fedf3299404592a2792d01720d705985ce0b06d7fa2906df6003b2dbabf4065e8a06c61b36bf499f932218bc6672621ee73ff656e63ce73528b8432342583bef236cdaaee549811ca565580d9cadd0148c1e84bc02862f28517f00eedd88ec2cafa80ee07040438b89eb60208d295dc0c5ff4e345db17f41e355c96c9822ff3fb93872f55f5b461cf4b2c86d77a3dc04e2746fa0d263109f23300b9c075b7642a63bf1f47bdffaab082b9f417b3da9465df73232d104496dd3df29c35b36bfa75580dfd591f3049563"
    :base_url: "https://ws.bluesnap.com/services/2"
  wechat_third:
    :app_id:  wx8469893145c7d60c
    :app_secret: d3815353c774608e51a3cb9cd7270bbd
    :aes_key: eada1a9c14848c8840f720db0167885beada1a9c148
    :descry_token: eada1a9c14848c8840f720db0167885b
  host: robin8.net
  domain: 'https://robin8.net'
  lottery:
    :api_url: http://f.apiplus.cn/cqssc-1.json
  partners:
    :alizhongbao:
      :private_key: "-----BEGIN PRIVATE KEY-----\nMIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBAMGCOXSaMTdp8tf/\nuvMVYSOg2GTDetJk2gO34+b4Srj590k84F5Qz0/xKddzOy3bc6cIyJxnFzExK+3r\na+R0Q+mOEQ83OnDJcSNEm30CxOITif/tiBttt4FoewflEEDDDst/XvtxT1xq6+oy\nt9/ozNrTdSwVtQGMpV7+esYt/U+3AgMBAAECgYADTpZsx7XPnJ/p0RUA0ny2fykz\nj6OptM+FAL+EUvnz71Gqjr/G3NquIxDz/aQlRHrVf/Dtu1VKIez+Q+e0H8iJTZ9A\n4ZdCnlQFCVNR6xt3jnVeTJRRXYTbbBuhEztR2YXHRjh8pQ994XckhiKcpRMPMHnr\n5AJsCu4fLfzH3HOkAQJBAPWk/zFroglpAMi2TBZLuNYlR3fBt12sZ28cnJrDAZzA\nVMjpBC6jXMTnXeEWOG0FEoY4lFovnZijXn2xu5+7iUcCQQDJqpN8ofWziwXVae90\nYpv/7MakuDtqDLcCun3WGOKdP6cri0D2wUTqWvNXUI/IpeTALstnyt0+fAi06J5j\nZj4RAkAia2cyppFC3kq01Q5eRWf14a1c83DdGE45/HlZGh/8tdpreHMUkeFq2byG\n0JVBeWd6FS18YZWkkKep1yCiJiX7AkA0rwRCvgjzM7F9dGRjElPQwymN5LdY2COD\nafbv1KZ3ECb7ADEjhZAcbVA/EkPN1lDxSAhJgDzWUw7vPAoMy6wRAkArHQ1LG0tC\n2QPe35Bb3p7UzYgw1jdwm5N9m6TFhnLMxcQAwgVymh9t4uw1VxbEyxzUZQyBC1i5\nXzV8G9DKLcXT\n-----END PRIVATE KEY-----"
      :gateway_url: "http://140.205.76.29/gateway.do"
