# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  host:
  secret_key_base:
  robin_api_url:
  robin_api_user:
  robin_api_pass:
  wkhtmltoimage: /usr/bin/wkhtmltopdf
  bluesnap:
    :user_name:
    :password:
    :store_id:
    :public_key:
    :base_url:
  textapi:
    :base_uri: BASE URI
    :app_id: YOUR APP ID
    :app_key: YOUr APP KEY
  boson_nlp_api:
    :base_uri: BASE URI
    :token: TOKEN
  google:
    :client_id:
    :client_secret:
  facebook:
    :app_id:
    :app_secret:
  twitter:
    :api_key:
    :api_secret:
  linkedin:
    :api_key:
    :api_secret:
  devise:
    :secret_key:
  smtp:
    :user_name:
    :password:
    :domain:
    :address:
    :port: 587
  mailgun:
    :api_base_url: API BASE URL
    :api_key: API KEY
  redis:
    :url: redis://127.0.0.1:6379/0
  pos_tagger_api:
    :url: http://localhost:2412/pos
  twilio:
    :account_sid: ACCOUNT SID
    :auth_token: AUTH TOKEN
    :from: +15005550006

test:
  secret_key_base:
  robin_api_url:
  robin_api_user:
  robin_api_pass:
  wkhtmltoimage: /usr/bin/wkhtmltopdf
  bluesnap:
    :user_name:
    :password:
    :store_id:
    :public_key:
    :base_url:

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  china_domain: http://robin8.cn
  host:
  secret_key_base:
  robin_api_url:
  robin_api_user:
  robin_api_pass:
  bluesnap_user:
  bluesnap_pass:
  bluesnap_store_id:
  wkhtmltoimage: /usr/bin/wkhtmltopdf
  textapi:
    :app_id: YOUR APP ID
    :app_key: YOUr APP KEY
  google:
    :client_id:
    :client_secret:
  facebook:
    :app_id:
    :app_secret:
  twitter:
    :api_key:
    :api_secret:
  linkedin:
    :api_key:
    :api_secret:
  devise:
    :secret_key:
  smtp:
    :user_name:
    :password:
    :domain:
    :address:
    :port: 587
  redis:
    :url: redis://127.0.0.1:6379/0
  s3:
    access_key_id: YOUR ACCESS KEY ID
    secret_access_key: YOUR SECRET ACCESS KEY
    bucket_name: YOUR BUCKET NAME
  pos_tagger_api:
    :url: http://localhost:2412/pos

staging:
  host:
  secret_key_base:
  robin_api_url:
  robin_api_user:
  robin_api_pass:
  bluesnap:
    :user_name:
    :password:
    :store_id:
    :public_key:
    :base_url:
  textapi:
    :app_id: YOUR APP ID
    :app_key: YOUr APP KEY
  google:
    :client_id:
    :client_secret:
  facebook:
    :app_id:
    :app_secret:
  twitter:
    :api_key:
    :api_secret:
  weibo:
    :app_key:
    :app_secret:
  linkedin:
    :api_key:
    :api_secret:
  devise:
    :secret_key:
  smtp:
    :user_name:
    :password:
    :domain:
    :address:
    :port: 587
  redis:
    :url: redis://127.0.0.1:6379/0
  pos_tagger_api:
    :url: http://localhost:2412/pos
