# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  host:
  secret_key_base: 
  robin_api_url: 
  robin_api_user: 
  robin_api_pass:
  bluesnap_user:
  bluesnap_pass:
  bluesnap_store_id:
  google:
    :client_id: 
    :client_secret: 
  facebook:
    :app_id: 
    :app_secret: 
  twitter:
    :api_key: 
    :api_secret: 
  linkedin:
    :api_key: 
    :api_secret:
  devise:
    :secret_key:
  smtp:
    :user_name:
    :password:
    :domain:
    :address:
    :port: 587
  redis:
    :url: redis://127.0.0.1:6379/0

test:
  secret_key_base: 
  robin_api_url: 
  robin_api_user: 
  robin_api_pass:
  bluesnap_user:
  bluesnap_pass:
  bluesnap_store_id:

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  host:
  secret_key_base: 
  robin_api_url: 
  robin_api_user: 
  robin_api_pass: 
  google:
    :client_id: 
    :client_secret: 
  facebook:
    :app_id: 
    :app_secret: 
  twitter:
    :api_key: 
    :api_secret: 
  linkedin:
    :api_key: 
    :api_secret:
  devise:
    :secret_key:
  smtp:
    :user_name:
    :password:
    :domain:
    :address:
    :port: 587
  redis:
    :url: redis://127.0.0.1:6379/0

staging:
  host:
  secret_key_base: 
  robin_api_url: 
  robin_api_user: 
  robin_api_pass:
  bluesnap_user:
  bluesnap_pass:
  bluesnap_store_id:
  google:
    :client_id:
    :client_secret:
  facebook:
    :app_id: 
    :app_secret:
  twitter:
    :api_key:
    :api_secret:
  linkedin:
    :api_key:
    :api_secret:
  devise:
    :secret_key:
  smtp:
    :user_name:
    :password:
    :domain:
    :address:
    :port: 587
  redis:
    :url: redis://127.0.0.1:6379/0
