<html>
<body>
Dear Miranda,

<p>
  This is your daily feed of Robin8. 
  <br/>
</p>
  We have <%=@count%> campaigns started in the last 24 hours.<br/>
  The total budget is <%=@budget%> RMB.<br/>
<p>
  Love, <br/>
  The Little Robin
</p>
</body>
</html>
