<div class="col-md-6 label_screen">
  <div class="backend_screen">
  <span> Screenshot of the account backend </span>
  </div>
  <div class="row comments-title">
    <ul class="photos_list clearfix">
      <li>
        <ul id="files" class="photos_list clearfix">
          <% _.each(items.screens, function(c) { %>
            <% if (c.social_name == "weiboScreenAccount") { %>
              <li>
                <div>
                  <a href="<%= c.url %>" target="_blank">
                  <img src="<%= c.thumbnail %>"></a>
                    <a href="javascript:void(0)" class="delete" id="deleteAttach"><i class="fa fa-close delete-item"></i></a>
                </div>
              </li>
            <% } %>
          <% }); %>
        </ul>
      </li>
      <li>
        <div id="upload-tooltip">
          <div class="image-preview-multiple-plus">
            <input type="hidden" role="uploadcare-uploader" data-multiple="true" data-images-only data-photo="" id="weiboScreen" />
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-6 label_screen">
  <div class="backend_screen">
  <span> Screenshot of the account backend </span>
  </div>
  <div class="row comments-title">
    <ul class="photos_list clearfix">
      <li>
        <ul id="files" class="photos_list clearfix">
          <% _.each(items.screens, function(c) { %>
            <% if (c.social_name == "weChatScreenAccount") { %>
              <li>
                <div>
                  <a href="<%= c.url %>" target="_blank">
                  <img src="<%= c.thumbnail %>"></a>
                    <a href="javascript:void(0)" class="delete" id="deleteAttach"><i class="fa fa-close delete-item"></i></a>
                </div>
              </li>
            <% } %>
          <% }); %>
        </ul>
      </li>
      <li>
        <div id="upload-tooltip">
          <div class="image-preview-multiple-plus">
            <input type="hidden" role="uploadcare-uploader" data-multiple="true" data-images-only data-photo="" id="wechatScreen" />
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
