.page-profile {

  .header {
    text-align: center;
    font-size: 22px;
    color: #181616;
    margin: 27px 0;
  }

  .control-input {
    display: inline-block;
    vertical-align: top;

    > input.form-control {
      display: inline-block;
      padding: 10px 10px;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid #7b7b7b;
      box-shadow: none !important;
      border-radius: 0;
      height: auto;
    }

    > textarea.form-control {
      padding: 10px 10px;
      border: none;
      background-color: transparent;
      border: 2px solid #7b7b7b;
      box-shadow: none !important;
      border-radius: 0;
      height: 92px;
    }
  }

  label {
    padding: 15px 0px;
    width: 90px;
    text-align: left;
    font-size: 14px;
    line-height: 1em;
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
  }

  .base-info {
    padding: 58px 76px;
    color: #fff;
    background-color: #3f3d3e;
    background-image: linear-gradient(120deg, #2e2c2d 0%, #413f40 100%);
    background-image: -moz-linear-gradient(120deg, #2e2c2d 0%, #413f40 100%);
    background-image: -webkit-linear-gradient(120deg, #2e2c2d 0%, #413f40 100%);
    box-shadow: 5px 8.66px 18px 0px rgba(0, 0, 0, 0.3);

    .logo-part {
      display: inline-block;
      vertical-align: top;
      width: 300px;
      text-align: center;


      img {
        width: 300px;
        height: 300px;
        display: block;
        margin-bottom: 45px;
      }

      button {
        padding: 0px 12px;
      }
      label {
        padding: 15px 12px;
        display: inline;
      }
    }

    .form-part {
      vertical-align: top;
      display: inline-block;
      margin-left: 74px;
      width: 440px;

      > .form-group {
        // overflow: hidden;

        .control-input {
          width: 345px;
          height: 65px;

          .form-control {
            color: white;
          }
        }
      }

      .form-group:nth-child(4) {
        height: 115px;
      }

      .form-group:nth-child(5) {
        height: 200px;
      }

    }
  }

  .keyword-button {
    line-height: 1em;
    font-size: 14px;
    text-align: left;
    padding: 5px 60px 5px 10px;
    position: relative;
    width: auto;
    margin-right: 15px;
    margin-bottom: 15px;

    .del {
      position: absolute;
      right: 0px;
      top: 3px;
      line-height: 1em;
      padding: 2px 7px;
      border-left: 1px solid #CCCCCC;
      color: #CCCCCC;
    }
  }

  .add-keyword {
    position: relative;
    width: 250px;
    margin: 20px auto 0px auto;

    .search {
      position: absolute;
      top: 17px;
      left: 20px;
    }

    .add {
      position: absolute;
      top: 13px;
      right: 20px;
    }

    input.form-control {
      color: #181616 !important;
      border-radius: 0;
      height: 50px;
      background-color: white;
      padding: 15px 70px 15px 50px;
    }
  }

  .help-block {
    margin-left: 75px;
    font-size: 12px;
  }

  .contacter-header {
    margin: 55px 0;
  }

  .contacter-info {
    padding: 58px 76px;
    color: #181616;
    background-color: white;
    box-shadow: 5px 8.66px 18px 0px rgba(0, 0, 0, 0.3);
    text-align: left;

    .form-group {
      margin-bottom: 30px;
      height: 55px;
    }

    label {
      width: 100px;
    }

    .control-input {
      width: 700px;
      color: #181616;
    }

    .radio-button-group label {
      width: auto;
      margin-right: 20px;

      input {
        margin-top: 0;
        margin-right: 10px;
      }
    }
  }

  .options {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;

    .btn {
      padding: 0px 20px;

      &:last-child {
        margin-left: 100px;
      }
    }
  }
}
