<div align="center" style="line-height: 22px; font-size: 14px; font-family:'ProximaNova'; color: #333333;margin-top:40px;padding-top:40px;">
  powered by<br /> <a href="http://robin8.com"><img src="<%= asset_path('robin8-fixedlogo.png') %>" style="height: 28px; margin-top: 6px; margin-left: 2px;"></a>
</div>