<div id='wrapper'>
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
      <%= image_tag 'robin8-beta-logo.png', :style => "width:100%; padding: 15px;" %>
      </li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12" style="padding-top: 15px;">
          <div id="share-block">
            <ul>
              <li class="facebook-button">
              <div id="fb-root"></div>
              <div class="fb-share-button" data-href="" data-layout="button"></div>
              </li>
              <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check this out" data-count="none">Tweet</a>
              </li>
              <li>
              <script src="https://apis.google.com/js/platform.js" async defer> {lang: 'en-GB'} </script>
              <div class="g-plus" data-action="share" data-annotation="none"></div>
              </li>
              <li>
              <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
              <script id="linkedIn" type="IN/Share" data-url="dummy"></script>
              </li>
            </ul>
          </div>
          <%= @article.text.html_safe %>
          <hr>
          <%= render 'footer' %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  //Facebook button
  $(".fb-share-button").attr('data-href', window.location.href);
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  //Twitter button
  !function(d,s,id){
    var js,fjs = d.getElementsByTagName(s)[0], p=/^http:/.test(d.location) ? 'http':'https';
    if(!d.getElementById(id)){
      js=d.createElement(s);
      js.id=id;
      js.src=p+'://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js,fjs);
    }
  }(document, 'script', 'twitter-wjs');
    //LinkedIn button
  $("#linkedIn").attr('data-url', window.location.href);
</script>

