<div class="well"><span class="badge badge-success">0</span> <%= polyglot.t("smart_campaign.pitch_step.weiboTargets") %> <i class="fa fa-weibo"></i>
<a href="#weibo-targets-list" data-toggle="collapse">
  <small><%= polyglot.t("smart_campaign.pitch_step.see") %> <i class="fa fa-chevron-down"></i></small>
</a>

</div>
