<div class="panel-heading" style="background-color: #3c9eb6;"><i class="fa fa-weixin"></i> WeChat pitch</div>
<br/>
<div class="panel-body">
  <form role="form" id="wechat_pitch_form">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label><%=polyglot.t('smart_campaign.pitch_step.weibo_panel.pitch_text')%></label>
          <textarea id="wechat_pitch_textarea" name="wechat_pitch_textarea" style="width: 100%; height: 140px;" class="form-control"></textarea>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label><%=polyglot.t('smart_campaign.pitch_step.weibo_panel.preview')%></label>
          <textarea readonly id="wechat_pitch_preview" style="width: 100%; height: 140px;"
                    class="form-control"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
