<div class="well">
  <span class="badge badge-success">0</span> <%= polyglot.t("smart_campaign.pitch_step.emailTargets") %> <i class="fa fa-envelope"></i>
  <a href="#email-targets-list" data-toggle="collapse">
    <small><%= polyglot.t("smart_campaign.pitch_step.see") %> <i class="fa fa-chevron-down"></i></small>
  </a>

  </div>
