<h3>添加销售人员</h3>
<hr />

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <%= form_tag request.path, class: "form" do %>
        <div class="form-group">
          <label>销售人员</label>
          <%= select_tag(:seller_id, options_for_select(Crm::Seller.all.map { |x| [x.name, x.id] }), :include_blank => '请选择销售人员',
              class: 'form-control form-group') %>
        </div>
        <%= submit_tag '确认并充值', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
