<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Kol ID</th>
      <th>Campaign ID</th>
      <th>Img Status</th>
      <th>Img</th>
    </tr>
  </thead>

  <tbody>
    <% @campaign_invites.each do |c| %>
      <tr>
        <% %w(id kol_id campaign_id img_status).each do |v| %>
          <td> <%= multi_send c, v %> </td>
        <% end %>
        <td><img src="<%= c.screenshot %>" height='300px' alt=""></td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= will_paginate @campaign_invites %>
