<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Kol ID</th>
      <th>Campaign ID</th>
      <th>Total Click</th>
      <th>Avail Click</th>
      <th>Img Status</th>
      <th>Img</th>
      <th>Ops</th>
    </tr>
  </thead>

  <tbody>
    <% @campaign_invites.each do |c| %>
      <tr>
        <% %w(id kol_id campaign_id get_total_click get_avail_click img_status).each do |v| %>
          <td> <%= multi_send c, v %> </td>
        <% end %>
        <td><%= link_to image_tag(c.screenshot, :width => "100px"), c.screenshot, :target => "_blank"%></td>
        <td>
          <%= link_to '点击数据', marketing_dashboard_campaign_invite_campaign_shows_path(c.id), :target => "_blank" %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= will_paginate @campaign_invites %>
