<%= form_tag marketing_dashboard_campaign_invite_reject_path(:campaign_invite_id => @campaign_invite.id) do %>
  <h3>请输入拒绝理由（非必填）</h3>
  <div class="col-sm-4">
    <div>
      <small>友情提示: 系统会优先考虑 你填的自定义的 拒绝理由</small>
    </div>
    <div class="form-group"><%= select_tag :common_reject_reason, options_for_select(CampaignInvite::CommonRejectedReason) %>
    </div>
    <div class="form-group">
      <input type="text" name='reject_reason' class='form-control', placeholder="以上理由都不是, 请输入其他的理由">
    </div>
    <%= submit_tag '拒绝', :class => 'btn btn-primary' %>
  </div>
<% end %>
