<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><%= title %></h4>
        </div>
        <div class="modal-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab" data-action="accepted">Content</a></li>
                <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab" data-action="declined">Comment</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="content">
                    <textarea class="wysihtml5 article-content" <% if (disabled) { %>disabled="disabled"<% } %>><%= item.text %></textarea>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <% if (disabled) { %>
                          <button type="button" class="btn btn-success" id="article-save">Approve</button>
                        <% } else { %>
                          <button type="button" class="btn btn-primary" id="article-save">Save changes</button>
                        <% } %>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="comments">
                    <div class="row comments-title">Documents <button class="btn btn-primary glyphicon glyphicon-plus"></button></div>
                    <hr />
                    <div class="row comments-title">Comments</div>
                    <div class="row comments-list" id="comments-list">

                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <input type="text" id="comment" value="" class="form-control" placeholder="Type your comment" />
                                    <p class="help-block with-errors hidden" id="comment-error">Please fill the field</p>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="comment-save">Send</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
