<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#accepted" aria-controls="accepted" role="tab" data-toggle="tab" data-action="accepted">Accepted</a></li>
        <li role="presentation"><a href="#declined" aria-controls="declined" role="tab" data-toggle="tab" data-action="declined">Declined</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="accepted"></div>
        <div role="tabpanel" class="tab-pane" id="declined"></div>
    </div>
</div>
