<h3>管理员列表</h3>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>最后登录时间</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |a| %>
      <tr>
        <% %w(id email last_sign_in_at).each do |v| %>
          <td> <%= a.send v %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>

<%= will_paginate @admin_users, renderer: BootstrapPagination::Rails  %>
