<table class="table table-hover targets">
  <thead>
    <tr>
      <th><%= polyglot.t("smart_release.targets_step.influencers_tab.author") %></th>
      <th><%= polyglot.t("smart_release.targets_step.influencers_tab.outlet") %></th>
      <th><%= polyglot.t("smart_release.targets_step.influencers_tab.pitch") %></th>
      <th><%= polyglot.t("smart_release.targets_step.influencers_tab.contact") %></th>
    </tr>
  </thead>
  
  <tbody>
  </tbody>
</table>
