<table class="table table-hover targets">
  <thead>
    <tr>
      <th>Author</th>
      <th>Outlet</th>
      <th>Relevance</th>
      <th>Pitch?</th>
      <th>Contact</th>
    </tr>
  </thead>
  
  <tbody>
  </tbody>
</table>
