/*
*= require bootstrap-sass
*= require bootstrap-sweetalert
*= require sass-bootstrap-glyphicons
*= require blueimp-gallery
* require bootstrap3-wysihtml5-bower
*= require eonasdan-bootstrap-datetimepicker
*= require please-wait
*= require progressjs
*= require font-awsome
*= require select2
*= require kol/profile_content
*= require_self
*= require bootflat/bootflat
*= require_directory ./../lib
*= require main
*= require app
*= require bootstrap-tagsinput
*= require x-editable/dist/bootstrap3-editable/css/bootstrap-editable
*= require datatables
*= require datatables-tabletools
*= require bootstrap-switch
* require dataTables.bootstrap
*= require select2-bootstrap-css
*= require jquery-highlighttextarea
*= require bootstrap-daterangepicker
*= require custom
*= require campaign
*= require kol/profile_mobile
*/

@import "bootstrap";
.confirmation {
  text-align: center;
}

.activation-alert {
  padding-top: 20px !important;
  padding-bottom: 1px !important
}


.invites, #campaigns-table {
  button {
    width: 85px;
  }
  .table-head {
    cursor: pointer;
  }
  .head-cell {
    vertical-align: middle !important;
  }

  .invite-cell {
    vertical-align: top;
    height: 51px;

    &.invite-status {
      width: 10%;
      min-width: 100px;
    }

    &.invite-status.invite-declined {
      color: #DA4453;
    }

    &.invite-status.invite-accepted {
      color: #8CC152;
    }

    &.invite-deadline,
    &.invite-date {
      width: 10%;
      min-width: 130px;
    }

    &.invite-budget {
      width: 8%;
      min-width: 100px;
    }

    &.invite-name {
      width: 17%;
      min-width: 100px;
    }

    &.invite-id {
      width: 3%;
      min-width: 30px;
    }

    &.alignleft {
      text-align: left;
    }
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 80px;
}

.btn-gray{
  background: rgb(165,159,159);
}
