.profile-content {
  .subtitle{
    color: #808080;
    margin-top: -15px
  }

  .glyphicon.form-control-feedback {
    top: 5px;
  }
  .row {
    padding: 2px 0px;
    max-width: 1000px;
  }
  .birdate-row{
    overflow: visible;
    .has-success {
      .form-control-feedback {
        color: #007183;
      }
      .form-control{
        border-color: #AAB2BD;
      }
      .input-group-addon {
        color: #007183;
        background-color: #AAB2BD;
        border-color:  #AAB2BD;
      }
    }
    .form-control-feedback{
      right: 45px
    }
  }
  select {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  .full-width {
    width: 100%;
  }
  .audience {
    .row {
      padding-top: 8px;
    }
    .industry-row,.ages-row{
      overflow: auto;
      .label-influence-circle, .label-age-circle{
        margin-right: 5px;
        float: left;
      }
    }
  }
  .social-content {
    .row {
      padding: 10px 0px;
      .cell.social-label {
        line-height: 35px;
      }
    }
  }
  .score-tables {
    width: 100%;
    padding-left: 20px;
    .mf-label, .item-label {
      margin-right: 35px;
    }
    .cell {
      input[type=text], input[type=number], input[type=tel] {
        width: 100%;
        padding-left: 5px;
      }
      border: none;
    }
    .switch-button {
      width: 80px;
      height: 30px;
      margin-bottom: 5px;
      background-color: #ffffff !important;
      color: #434A54;
      &.active:focus {
        background-color: #CCD1D9 !important;
      }
      &.active {
        background-color: #CCD1D9 !important;
      }
    }
  }
  .calendar_button {
    padding: 0 10px;
    cursor: pointer;
  }


  .social {
    margin-bottom: 10px;
    overflow: auto;
    .cell {
      height: auto;
    }
    .social_img {
      margin-top: -10px;
    }
    .add-social{
      background: #edac07;
      font-size: 15px;
      font-weight: normal;
      padding: 2px 8px;
      cursor: pointer;
      color: #fff;
      border-radius: 2px;
      vertical-align: top;
      margin-left: 0;
    }
//    add account
//    .add-account{
//      .account-column {
//        width: 70%;
//        background: #edac07;
//        font-weight: normal;
//        padding: 2px 8px;
//        cursor: pointer;
//        color: #fff;
//        border-radius: 5px;
//        text-align: center;
//        span.social {
//          color: #fff;
//          font-size: 14px;
//        }
//        .fa-2x {
//          vertical-align: middle;
//        }
//      }
//      .weibo-column{
//        background: #FD8149;
//      }
//      .weixin-column{
//        background: #49B44F;
//      }
//    }
    .social-list{
      .social-item{
        border-radius: 5px;
        margin: 10px 0px;
        max-width: 320px;
        .item-header.weibo{
          background: #FD8149;
        }
        .item-header.wechat, .item-header.wechat_third{
          background: #49B44F;
        }
        .item-header{
          height: 98px;
          width: 100%;
          .left-avatar{
            line-height: 98px;
            float: left;
            width: 25%;
            text-align: right;
            img{
              width: 58px;
              height: 58px;
              border-radius: 50%;
            }
          }
          .right-info{
            float: left;
            padding-left: 6%;
            padding-right: 4%;
            padding-top: 20px;
            color: #fff;
            width: 75%;
            .nickname{
              font-size: 18px;
            }
            .desc{
              margin-top: 3px;
              font-size: 12px;
              height: 30px;
              overflow: hidden;
            }
          }
        }
        .item-body{
          background: #F5F5F5;
          .item{
            border-bottom: 1px solid #E2DFDF;
            height:  50px;
            line-height: 50px;
            padding: 0 20px;
            font-size: 14px;
            color: #6A6767;
            .item-name{
              float:left;
            }
            .item-value{
              float:right;
            }
            .badge{
              font-size: 13px;
              padding: 3px 9px;
              border-radius: 6px;
              color: #fff;
            }
            &last-child{
              border-bottom: 0;
            }
          }
          .total-tasks .badge{
            background: #D0021B;
          }
          .complete-tasks .badge{
            background: #159815;
          }
          .post .badge{
            background: #419FB5;
          }
          .status .item-value .span{
            color: #F4C600;
          }
          .operate .item-name span{
            vertical-align: middle;
            color: #A59F9F;
          }
          .delete-account{
            display: inline-block;
            cursor: pointer;
            touch-action:manipulation;
          }
        }
      }
    }
  }
  .age-group .cell {
    width: auto;
    margin-right: 20px;
  }
  .profile_info > .row {
    margin-bottom: 10px;
  }
  .profile_info {
    .select_wrapper .glyphicon {
      right: 12px;
    }
    .glyphicon-calendar {
      top: 2px;
    }
  }
  .password .password-title{
    padding: 8px 0 8px 16px;
    background: #F5F5F5;
    text-align: left;
    color: #007183;
    margin: 10px 0px 20px 0px;
    border-top: 2px solid #007183;
    font-size: 18px;
    border-radius: 4px;
  }

  .mobile-number .mobile-number-title{
    padding: 8px 0 8px 16px;
    background: #F5F5F5;
    text-align: left;
    color: #007183;
    margin: 10px 0px 20px 0px;
    border-top: 2px solid #007183;
    font-size: 18px;
    border-radius: 4px;
  }

  .set-mobile-number {
    border-top: 2px solid #007183;
    max-width: 100%;
    margin-top: 14px;
  }

  .set-mobile {
    .row {
      width: 310px;
    }
    .mobile-input {
      width: 310px;
    }
    .verify-input {
      width: 200px;
      margin-right: 10px;
      float: left;
    }
    .verify-button {
      width: 100px;
      float: left;
    }
    .send_sms {
      height: 3.3125rem;
      width: 100px;
      font-size: 15px;
    }

    .bind-mobile{
      color: #007183;
      font-size: 20px;
      padding: 8px;
      font-family: 'ProximaNovaBold';
    }
  }

  .tips {
    .not_unique_number, .mobile_numer_is_blank, .send_sms_failed {
      font-size: 15px;
      color: red;
      margin-bottom: 2px;
      display: none
    }

    .send_sms_success {
      font-size: 15px;
      color: black;
      margin-bottom: 2px;
      display: none
    }
  }
}

.toggle-button{
  float: right;
  margin-right: 15px;
  padding: 4px 5px;
  font-size: 15px;
  color: #007183;
  cursor: pointer;
}

// modal css
#modal-account .modal-content{
  background: #F5F5F5;
  .modal-header{
    background: #419FB5;
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    .close{
      color: #fff;
      font-size: 33px;
    }
  }
  .modal-body.audience{
    padding: 0;
    .campaigns-tables-title{
      padding: 10px;
      border-top: 2px solid #0e7182;
      border-bottom: 0;
      margin: 0;
      span{
        margin-left: 10px;
        font-size: 14px;
        font-weight: normal;
      }
    }
    #social-form .row {
      padding: 0 0px 10px 0;
    }
    .score-tables{
      padding: 10px 20px;
      border-top: 2px solid #fff;
    }
    .influence-circle{
      overflow: auto;
    }
    .online-price , .offline-price{
      .col-md-4, .col-md-6 {
        margin-left: 40px;
        .cbx-container{
          padding-right: 8px;
        }
      }
      .check_all_cell{
        margin-left: 5px;
        .check_all_label{
          width: 100px;
          display: inline-block;
          font-family: '';
          font-size: 15px;
        }
      }
    }
    .mf-row, .likes-row, .friends-row, .groups-row, .publish-row {
      overflow: auto;
      .radio-inline{
        padding-left: 5px;
      }
    }
  }
  .modal-footer{
    background: rgb(222,222,222);
    padding: 20px 40px;
    overflow: auto;
    .left-cancel{
      float: left;
    }
    .right-save{
      float: right;
    }
    button{
      margin-top: 0;
    }
  }
}


#tab-content {
  .campaigns-tables-title span {
    margin-right: 12px;
  }
  #score_form {
    .kol-avatar {
      height: auto;
    }
    .uploadcare-widget-button {
      font-size: 15px;
    }
    #score-data {
      background-color: #f4f4f4;
    }
    #top-row {
      padding: 10px;

      .graph_column {
        padding: 0;
      }
    }
    #graph_score2 {
      height: 190px;
      overflow: hidden;
    }
    // .cbx-active {
    //   border: 2px solid #47b4b7;
    //
    //   .cbx-icon {
    //     margin: 0;
    //     font-size: 15px;
    //     color: #47b4b7;
    //     line-height: 34px;
    //     text-align: center;
    //   }
    // }
    // .cbx-active:hover,
    // .cbx-active:focus {
    //   border-color: #47b4b7;
    //   -webkit-box-shadow: none;
    //   box-shadow: none;
    // }
    #value.score-tables {
      .cell {
        height: 45px;
        padding: 5px;
      }
      .tab_online {
        line-height: 35px;

        .social {
          font-size: 14px;
        }
        .interested_column {
          line-height: 31px;
        }
        .social_column .fa {
          display: inline-block;
          vertical-align: middle;
        }
      }
      .tab_offline {
        line-height: 35px;
      }
      .set_price_column {
        padding-right: 0;
        padding-left: 0;
      }
      .set_price_column > .col-md-3{
        padding: 0 5px;
      }
      .label_column {
        padding-left: 25px;
      }
      .label_column .label_wrapper{
        display: table-cell;
        height: 35px;
        vertical-align: middle;
        font-family: 'ProximaNova';
        font-size: 14px;
        line-height: 1.2;
        font-weight: normal;
      }
    }
  }
  #campaigns-list tr.selected {
    background: #e6e9ed;
  }
}

@media (max-width: 1240px) {

  #tab-content #score_form #value.score-tables .tab_online .cell {
    height: 62px;
    line-height: 1.3;
  }
  #tab-content #score_form #value.score-tables .tab_online .cell:first-child{
    line-height: 52px;
  }
  #tab-content #score_form #value.score-tables .social_column .col-md-3 {
    padding: 5px 5px 0;
  }
  #tab-content #score_form #value.score-tables .tab_online .social {
    font-size: 13px;
  }
}


@media (max-width: 768px) {
  .navbar-default .navbar-nav  > a, .navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav >  a:focus {
    color: #FFF !important;
    background-color: #3BAFDA !important;
    border: 1px solid #3BAFDA !important;
  }
  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block !important;
    li{
      text-align: center;
    }
  }

  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: #2084a9 !important;
  }

  #userDropdown .caret {
    display: none !important;
  }
}
