<td>
	<img src="http://placehold.it/50x50">
	<span class="user-list--name"><b>Name Name</b></span>
</td>
<td>
	<%- email %>
	<span class="editable" data-type="textarea" data-pk="1" data-url="/post" data-title="Enter username"></span>
</td>
<td class="text-right">
	<div>
		<a id="remove-user" class="btn btn-sm btn-danger user-list--delete" data-toggle="tooltip" title="Delete post"><i class="fa fa-trash"></i> Delete</a>
	</div>
</td>