<small><%- email %></small>
<span class="editable" data-type="textarea" data-pk="1" data-url="/post" data-title="Enter username"></span>
<div class="pull-right" style="display: inline-block;">
  <a id="remove-user" class="btn btn-xs btn-danger" data-toggle="tooltip" title="Delete post"><i class="fa fa-close"></i></a>
</div>