
<div class="panel panel-default panel-custom">
  <h3>User management</h3>
  <h6>UI template pending</h6>
  <form id="invite-form" class="form-horizontal" role="form" autocomplete="off">
    <input id="email" name="email" type="text" value="" size="35">
    <input type='button' value='Invite User' class="btn btn-default invite"/>
  </form>

  <ul class="list-group"></ul>

  <hr>
  <br>
  <br>
</div>