<div class="panel panel-default panel-custom">
  <div class="panel-body">
    <div class="tab-content">
      <div class="pull-right toolbar">
        <a class="btn btn-success" id='back-to-newsrooms' href="/#news_rooms"> Back to Newsrooms</a>
      </div>
      <h4>User management</h4>
      <form id="invite-form" class="form-inline" role="form" autocomplete="off">
        <div class="form-group">
          <input id="email" class="form-control" name="email" type="text" value="" size="35">
        </div>
        <input type='button' value='Invite User' class="btn btn-default invite"/>
      </form>
      <br>
      <ul class="list-group"></ul>
    </div>
  </div>
</div>