*{
    margin:0;
    padding:0;
    border: 0;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.clear{
    clear:both;
}
.ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
}
@font-face{
    font-family: "PingFangRegular";
    src:url("file:///android_asset/PingFangRegular.ttf");
}
@font-face{
    font-family: "DINCondensedBold";
    src:url("file:///android_asset/DINCondensedBold.ttf");
}
body{
    font-family: "PingFang SC","PingFangRegular","Heiti SC", "San Francisco", "Helvetica";
    font-size: 15px;
    color: #666;
}
body.night-mode{
    color: #cbcbcb;
    background-color: #494949;
}
.number-font{
    font-family: "DINCondensed-Bold","DINCondensedBold";
}
img{
    display:block;
}
a{
    text-decoration: none;
    color: inherit;
    line-height: inherit;
}

.bottom-bar{
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 64px;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 0px 2px rgba(0,0,0,.3);
}
.bottom-bar .logo{
    float: left;
    height: 42px;
    width: 42px;
    margin: 11px 0 0 15px;
    background: url('http://7xlxny.com1.z0.glb.clouddn.com/logo/logo583.png') center no-repeat;
    background-size: cover;
}
.bottom-bar .desc{
    padding: 11px 0 0 10px;
    float: left;
}
.bottom-bar .desc h4{
    font-size: 15px;
    color: #444;
    line-height: 15px;
    height: 16px;
    padding-top: 5px;
}
.bottom-bar .desc p{
    font-size: 12px;
    color: #999;
    line-height: 12px;
    height: 12px;
    padding-top: 6px;
}
.bottom-bar .btn{
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 80px;
    height: 33px;
    background-color: #FD6363;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
    color: #fff;
    padding: 0;
}

.wrapper{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    /*background-color: #fff;*/
    z-index: 3;
}
.banner{
    height: 206px;
    background: center no-repeat;
    background-size: cover;
    margin-bottom: 16px;
}
.ani-banner{
    position: fixed;
    width: 100%;
    height: 206px;
    left: 0;
    top: 0;
    background: center no-repeat;
    background-size: cover;
    z-index: 1;
}
@media screen and (max-width: 320px){
    .banner{height: 176px;}
}
@media screen and (min-width: 376px){
    .banner{height: 227px;}
}
.wrapper .inner{
    background-color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 3;
    padding-bottom: 1px;
}
.night-mode .inner{
    background-color: #494949;
}
.title{
    font-size: 19px;
    line-height: 27px;
    color: #444;
    padding: 0 20px;
    overflow: hidden;
}
.night-mode .title{
    color: #dbdbdb;
}
.user{
    display: -webkit-flex;
    display: flex;
    height: 18px;
    padding: 11px 20px 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.user .label{
    float:left;
    color: #999;
    background-color: #eaeaea;
    font-size: 10px;
    height: 18px;
    width: 48px;
    line-height: 18px;
    border-radius: 2px;
    padding: 0 6px;
    margin-right: 10px;
    text-align: center;
}
.night-mode .user .label{
    color: #dbdbdb;
    background-color: #999;
}
.user .avatar{
    float: left;
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background: #f8f8f8 url('') center no-repeat;
    background-size: cover;
    margin-right: 7px;
}
.user .nickname{
    float: left;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.night-mode .user .nickname{
    color: #999;
}
.user .uv{
    position: absolute;
    right: 20px;
    color:#999;
    font-size: 13px;
    line-height: 18px;
    height: 18px;
}
.night-mode .user .uv{
    color: #999;
}
.user .uv i{
    display: inline-block;
    width: 13px;
    height: 10px;
    margin: 4px 5px 0 0;
    background: url('http://7xlxny.com2.z0.glb.qiniucdn.com/appview/v2/uv.png') center no-repeat;
    background-size: 13px 10px;
}
h2{
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #444;
    font-weight: normal;
    padding-left: 15px;
    margin: 0 20px 9px;
}
.night-mode h2{
    color: #dbdbdb;
}
h2 i{
    position: absolute;
    left: 0;
    top: 7px;
    width: 5px;
    height: 12px;
    background-color: #FFB000;
}
.txt{
    line-height: 26px;
    padding: 0 20px;
    margin: 0 0 15px;
}
.img-area{
    padding: 0 20px 10px;
}
.img-area img{
    width: 100%;
}
.img-area .img-desc{
    position: relative;
    font-size: 14px;
    color: #a9a9a9;
    line-height: 20px;
    padding: 5px 0 4px 12px;
}
.night-mode .img-area .img-desc{
    color: #999;
}
.img-area .img-desc i{
    position: absolute;
    left: 0;
    top: 10px;
    width: 8px;
    height: 8px;
    background: url('http://7xlxny.com2.z0.glb.qiniucdn.com/appview/v2/pic-desc-label.png') center no-repeat;
    background-size: 8px 8px;
}
.night-mode .img-area .img-desc i{
    background-image: url('http://7xlxny.com2.z0.glb.qiniucdn.com/appview/v2/pic-desc-label-night.png');
}
.cut-line{
    height: 1px;
    background: url('http://7xlxny.com2.z0.glb.qiniucdn.com/appview/v2/cut-line.png') 0 0 repeat-x;
    background-size: 5px 1px;
    margin: 0 20px 20px;
}
.product{
    position: relative;
    height: 50px;
    margin: 0 20px 15px;
    padding: 12px 10px;
    border: 1px dotted #ccc;
    border-radius: 2px;
}
.night-mode .product{
    border: 1px dotted #999;
}
.product .cover{
    position: absolute;
    left: 10px;
    top: 12px;
    height: 50px;
    width: 50px;
    background: #f8f8f8 center no-repeat;
    background-size: cover;
}
.product .info{
    padding-left: 60px;
    height: 50px;
    overflow: hidden;
}
.product .info .pro-title{
    height: 14px;
    font-size: 13px;
    line-height: 13px;
    padding-top: 4px;
    overflow: hidden;
}
.night-mode .product .info .pro-title{
    color: #cbcbcb;
}
.product .info .price-area{
    height: 22px;
    padding-top: 10px;
    line-height: 22px;
}
.product .info .price-area .platform{
    float: left;
    font-size: 12px;
    color: #bfbfbf;
}
.night-mode .product .info .price-area .platform{
    color:#999;
}
.product .info .price-area .cut{
    float: left;
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #bfbfbf;
    margin: 6px 7px 0;
}
.night-mode .product .info .price-area .cut{
    background-color: #999;
}
.product .info .price-area .price{
    float: left;
    font-size: 13px;
    color: #FF7E00;
}
.product .info .price-area .btn{
    position: relative;
    float: right;
    height: 22px;
    width: 34px;
    padding-left: 26px;
    background-color: #FD6363;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}
.product .info .price-area .btn i{
    position: absolute;
    display: block;
    left: 9px;
    top: 4px;
    height: 12px;
    width: 14px;
    background: url('http://7xlxny.com2.z0.glb.qiniucdn.com/appview/v2/buy.png?v=2') center no-repeat;
    background-size: 14px 12px;
}
.product-v2{
    height: 86px;
    margin: 0 20px 15px;
    background-color: #f6f6f6;
    border-radius: 2px;
    overflow: hidden;
}
.night-mode .product-v2{
    background-color: #555555;
}
.product-v2 .cover{
    float: left;
    width: 82px;
    height: 82px;
    margin: 2px 0px 2px 2px;
    background: url(http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/product-default-pic.png?v=1) center no-repeat;
    background-size: cover;
}
@media screen and (min-width: 321px) {
    .product-v2 .info {
        padding: 0 65px 0 94px;
    }
}
.product-v2 .info .pro-title{
    height: 13px;
    line-height: 13px;
    color: #444;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    padding-top: 12px;
}
.night-mode .product-v2 .info .pro-title{
    color: #dbdbdb;
}
.product-v2 .info .price{
    font-size: 14px;
    height: 14px;
    color: #666;
    line-height: 14px;
    padding-top: 10px;
}
.night-mode .product-v2 .info .price{
    color: #999;
}
.product-v2 .info .score-area{
    height: 18px;
    padding-top: 15px;
}
.product-v2 .info .score-area .desc{
    float: left;
    height: 13px;
    font-size: 13px;
    line-height: 13px;
    padding-top: 2px;
    color: #999;
}
.product-v2 .info .score-area .stars{
    float: left;
    padding: 2px 0 0 5px;
}
.product-v2 .info .score-area .stars ul{
    list-style: none;
}
.product-v2 .info .score-area .stars ul li{
    float: left;
    width: 12px;
    height: 11px;
    padding-left: 5px;
}
.product-v2 .info .score-area .stars ul li i{
    display: block;
    width: 12px;
    height: 11px;
    background: center no-repeat;
    background-size: 12px 11px;
}
.product-v2 .info .score-area .stars ul li i.star-0{
    background-image: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/star-0.png');
}
.product-v2 .info .score-area .stars ul li i.star-1{
    background-image: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/star-1.png');
}
.product-v2 .info .score-area .stars ul li i.star-2{
    background-image: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/star-2.png');
}
.product-v2 .info .score-area .score{
    float: left;
    font-size: 18px;
    line-height: 18px;
    color: #FF962D;
    margin-left: 7px;
    padding-top: 3px;
}
.product-v2 .like-area{
    position: relative;
    float: right;
    width: 46px;
    height: 86px;
    background-color: #e8e8e8;
    border-radius: 2px;
    transition: all .15s ease-out;
}
.night-mode .product-v2 .like-area{
    background-color: #666;
}
.product-v2 .like-area.liked{
    background-color: #FD6363;
}
.product-v2 .like-area .pro-like{
    display: block;
    width: 21px;
    height: 19px;
    background: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/like.png') center no-repeat;
    background-size: 21px 19px;
    margin: 33px auto 0;
}
.product-v2 .like-area .pro-like.ani{
    position: absolute;
    top:33px;
    left: 13px;
    margin: 0;
    opacity: 0;
}
@-webkit-keyframes fadeScaleOut {
    0% { opacity: 1;transform:scale(1); }
    100% { opacity: 0;transform:scale(2); }
}
@-moz-keyframes fadeScaleOut {
    0% { opacity: 1;transform:scale(1); }
    100% { opacity: 0;transform:scale(2); }
}
@-ms-keyframes fadeScaleOut {
    0% { opacity: 1;transform:scale(1); }
    100% { opacity: 0;transform:scale(2); }
}
@keyframes fadeScaleOut {
    0% { opacity: 1;transform:scale(1); }
    100% { opacity: 0;transform:scale(2); }
}
.product-v2 .like-area.liked .pro-like.ani{
    -webkit-animation-name: fadeScaleOut;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: fadeScaleOut;
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: ease-out;
    -ms-animation-name: fadeScaleOut;
    -ms-animation-duration: .5s;
    -ms-animation-timing-function: ease-out;
    animation-name: fadeScaleOut;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}
.night-mode .product-v2 .like-area .pro-like{
    background-image: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/like-night.png');
}
.stat{
    height: 13px;
    line-height: 13px;
    font-size: 13px;
    color: #999;
    text-align: center;
    padding: 15px 20px 20px;
    background-color: #fff;
}
.night-mode .stat{
    background-color: #494949;
}
.lazy{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.product-v3{
    margin: 0 20px 15px;
    overflow: hidden;
}
.product-v3 .info-area{
    height: 79px;
    background-color: #f6f6f6;
    border-radius: 2px;
    overflow: hidden;
}
.night-mode .product-v3 .info-area{
    background-color: #555555;
}
.product-v3 .cover{
    float: left;
    width: 75px;
    height: 75px;
    margin: 2px 0px 2px 2px;
    background: url(http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/product-default-pic.png?v=1) center no-repeat;
    background-size: cover;
}
.product-v3 .info {
    padding: 0 25px 0 90px;
}
@media screen and (min-width: 321px) {
    .product-v3 .info {
        padding: 0 45px 0 94px;
    }
}
.product-v3 .info .pro-title{
    height: 15px;
    line-height: 14px;
    color: #444;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    padding-top: 12px;
}
.night-mode .product-v3 .info .pro-title{
    color: #dbdbdb;
}
.product-v3 .info .price{
    font-size: 14px;
    height: 14px;
    color: #666;
    line-height: 14px;
    padding-top: 29px;
}
.product-v3 .info .price span{
    font-size: 16px;
}
.night-mode .product-v3 .info .price{
    color: #999;
}
.product-v3 .info .score-area{
    display: none;
    height: 18px;
    padding-top: 15px;
}
.product-v3 .info .score-area .desc{
    float: left;
    height: 13px;
    font-size: 13px;
    line-height: 13px;
    padding-top: 2px;
    color: #999;
}
.product-v3 .info .score-area .stars{
    float: left;
    padding: 2px 0 0 0;
}
@media screen and (min-width: 321px) {
    .product-v3 .info .score-area .stars{
        padding: 2px 0 0 5px;
    }
}
.product-v3 .info .score-area .stars ul{
    list-style: none;
}
.product-v3 .info .score-area .stars ul li{
    float: left;
    width: 12px;
    height: 11px;
    padding-left: 5px;
}
.product-v3 .info .score-area .stars ul li i{
    display: block;
    width: 12px;
    height: 11px;
    background: center no-repeat;
    background-size: 12px 11px;
}
.product-v3 .info .score-area .stars ul li i.star-0{
    background-image: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/star-0.png');
}
.product-v3 .info .score-area .stars ul li i.star-1{
    background-image: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/star-1.png');
}
.product-v3 .info .score-area .stars ul li i.star-2{
    background-image: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/star-2.png');
}
.product-v3 .info .score-area .score{
    float: left;
    font-size: 18px;
    line-height: 18px;
    color: #FF962D;
    margin-left: 7px;
    padding-top: 3px;
}
.product-v3 .arr-area{
    position: relative;
    float: right;
    width: 25px;
    height: 86px;
}
.product-v3 .arr-area .arr-right{
    display: block;
    width: 7px;
    height: 14px;
    background: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/arr-right.png') center no-repeat;
    background-size: 7px 14px;
    margin: 36px 0 0;
}
.night-mode .product-v3 .arr-area .arr-right{
    background-image: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/arr-right-night.png');
}
.product-v3 .option-area{
    height: 39px;
    margin-top: 1px;
    background-color: #f6f6f6;
    border-radius: 2px;
    overflow: hidden;
}
.night-mode .product-v3 .option-area{
    background-color: #555;
}
.product-v3 .option-area .like-area{
    position: relative;
    float: left;
    width: 50%;
    height: 13px;
    padding: 13px 0;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    color: #666;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.night-mode .product-v3 .option-area .like-area{
    color: #999;
}
.product-v3 .option-area .like-area .right-line{
    position: absolute;
    right: 0;
    top: 14px;
    height: 11px;
    width: 1px;
    background-color: #e8e8e8;
}
.product-v3 .option-area .like-area .pro-like{
    display: inline-block;
    width: 14px;
    height: 13px;
    background: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/unlike.png') no-repeat;
    background-size: 14px 13px;
    margin-right: 5px;
}
.night-mode .product-v3 .option-area .like-area .pro-like{
    background-image: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/unlike-night.png');
}
.product-v3 .option-area .like-area.liked .pro-like{
   background-image: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/like-v2.png');
}
.product-v3 .option-area .like-area .pro-like .ani{
    display: inline-block;
    width: 14px;
    height: 13px;
    background: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/like-v2.png') no-repeat;
    background-size: 14px 13px;
    margin-right: 5px;
    opacity: 0;
}
.product-v3 .option-area .like-area.liked .pro-like .ani{
    -webkit-animation-name: fadeScaleOut;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: fadeScaleOut;
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: ease-out;
    -ms-animation-name: fadeScaleOut;
    -ms-animation-duration: .5s;
    -ms-animation-timing-function: ease-out;
    animation-name: fadeScaleOut;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}
.product-v3 .option-area .buy-area{
    float: left;
    width: 50%;
    height: 13px;
    padding: 13px 0;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    color: #666;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.night-mode .product-v3 .option-area .buy-area{
    color: #999;
}
.product-v3 .option-area .buy-area i.buy{
    display: inline-block;
    width: 15px;
    height: 13px;
    background: url('http://7xlxny.com1.z0.glb.clouddn.com/appview/v2/buy-v2.png') no-repeat;
    background-size: 15px 13px;
    margin-right: 5px;
}

.top-bar{
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 80px;
    top: 0;

    box-shadow: 0 0px 2px rgba(0,0,0,.3);
}
.top-bar .inner{
    position: relative;
    padding: 15px;
    background-color: #fff;
}
.top-bar .logo{
    height: 32px;
    width: 65px;
    background: url(http://7xlxny.com1.z0.glb.clouddn.com/topbar/top-bar-logo.png) center no-repeat;
    background-size: cover;
    float: left;
}
.top-bar .desc{
    float: left;
    height: 32px;
    border-left:1px solid #d8d8d8;
    padding-left: 10px;
    margin-left: 10px;
}
.top-bar .desc h4{
    font-weight: normal;
    font-size: 16px;
    color: #666;
    line-height: 16px;
}
.top-bar .desc p{
    font-size: 12px;
    color: #dbdbdb;
    line-height: 12px;
    padding-top: 4px;
}
.top-bar .btn-area{
    height: 32px;
    padding-top: 15px;
}
.top-bar .btn-area a{
    display: block;
    height: 30px;
    width: 47%;
    border: 1px solid #fd6363;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    color: #fd6363;
    line-height: 30px;
}
.top-bar .btn-area .open-app{
    float: left;
}
.top-bar .btn-area .download-app{
    float: right;
    background-color: #fd6363;
    color: #fff;
}