<h4><i class="fa fa-users"></i> Retrieve your password</h4>
<p style="font-weight: normal;">
  Please enter your <strong>Email</strong> in order to reset your password.
</p>
<form accept-charset="UTF-8" role="form" class="form-signup">
  <fieldset>
    <label class="panel-login">
      <div class="login_result"></div>
    </label>
    <input class="form-control" placeholder="Email" name='email' id="email" type="text" style='border-bottom-left-radius: 4px; border-bottom-right-radius: 4px'/>
    <br>
    <div class="alert alert-danger" role="alert" style="display: none;">The user with this email does not exist!</div>
    <button class="btn btn-lg btn-success btn-block" type="submit"><i class="fa fa-sign-in"></i> Submit</button>
  </fieldset>
</form>