<div class="form-login"> 
  <div class="row">
    <div class="small-12 columns">
      <p class="loginintro" style="margin-bottom: 0px;"> Sign in to Robin</p>
      <p class="loginintro">Please enter your new <strong>Password</strong> and <strong>Password confirmation</strong> in order to proceed.</p>
      <form accept-charset="UTF-8" role="form" class="form-signin">
        <label class="panel-login">
          <div class="login_result"></div>
        </label>
        <input class="form-control" placeholder="Password" name='password' id="password" type="password" />
        <input class="form-control" placeholder="Password confirmation" name='password_confirmation' id="password_confirmation" type="password" />
        <br>
        <div class="submit-wrap" style="margin-top: 0">
          <button class="button button-signup" id="send" type="submit"> Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
