<div class="form-step step3">  
  <div class="confirmation">
    <div class="row">
      <div class="small-12 columns">   
        <p class="selection-intro-heading">Thank you!</p>
        <p class="selection-guarantee">Please check your email to confirm your address and log in below.</p>
        <a class="button button-signup" href="/">Go to Robin8</a>
      </div> 
    </div>
  </div>
</div>