<div class="form-login"> 
  <div class="row">
    <div class="small-12 columns">
      <p class="loginintro" style="margin-bottom: 0px;"> Retrieve your password</p>
      <p class="loginintro">Please enter your <strong>Email</strong> in order to reset your password.</p>
      <form accept-charset="UTF-8" role="form" class="form-signup">
        <label class="panel-login">
          <div class="login_result"></div>
        </label>
        <label>
          <input class="form-control" placeholder="Email" name='email' id="email" type="text"/>
        </label>
        <br>
        <div class="alert alert-danger" role="alert" style="display: none;">The user with this email does not exist!</div>
        <div class="submit-wrap" style="margin-top: 0">
          <button class="button button-signup" id='send' type="button">Submit</button>
        </div>
      </form> 
    </div>
  </div>
</div>