<div class="form-login"> 
  <div class="row">
    <div class="small-12 columns"> 
      <p class="loginintro">Please enter your <strong>Email</strong> and <strong>Password</strong> or use <strong>Social Sign-in</strong></p>
      <form accept-charset="UTF-8" class="form-signup" id="formSignin">

        <label class="panel-login">
          <div class="login_result"></div>
        </label>

        <div class="form-group">
          <label> 
            <input type="text" class="form-control" name="email" placeholder="Email"/>
          </label>
        </div>

        <div class="form-group">
          <label> 
            <input type="password" class="form-control" name="password" minlength="8"
                   data-fv-stringlength-message="The password must be at least 8 characters long"
                   placeholder="Password" />
          </label>
        </div>

        <div id="alert-danger" class="alert alert-danger" role="alert" style="display: none; text-align: center;"></div>

        <div class="submit-wrap">
          <button class="button button-signup" type="button" id="login">Login</button>
        </div>
        <div class="rememberme"><input type="checkbox" name='remember_me' id="remember_me" /> Remember me</div>
        <div class="forgotpass"><a href="#forgot">Forgot Password?</a> <a href="/signup/#step1">Register</a></div>

      </form>
    </div> 
  </div>
  <div class="row">
      <div class="small-12 columns">
          <div class="or-line">
              <span>OR</span>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="small-12 columns social-login">
          <button class="btn btn-google-plus" id="google_oauth2"><i class="fa fa-google-plus"></i> <span>Login using Google Plus</span></button>
      </div>
  </div>
  <div class="row">
      <div class="small-12 columns social-login">
          <button class="btn btn-facebook" id="facebook"><i class="fa fa-facebook"></i> <span>Login using Facebook</span></button>
      </div>
  </div>
</div>
