/*
*= require bootstrap-sass
*= require lib/sb-admin-2
*= require lib/metisMenu.min
*= require sass-bootstrap-glyphicons
*= require font-awsome
*= require marketing_dashboard/jqzoom.css
*= require marketing_dashboard/campaigns.scss
*/
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

td {
  max-width: 200px !important;
  word-break: break-all;
}

.search_input{
  width: 300px;
}

.pagination {
  margin-top: 0;
}

.table-field {
  i {
    font-style: normal;
    color: #999;
  }
}

.bootstrap-datetimepicker-widget {
  display: block;
}

.table {
  .option-group {
    position: relative;
    display: inline-block;
  }
}

.expandCheck {
  input {
    pointer-events: none;
  }
}
