/*
*= require bootstrap-sass
*= require lib/sb-admin-2
*= require lib/metisMenu.min
*= require sass-bootstrap-glyphicons
*= require font-awsome
*/
@import 'bootstrap';

td {
  max-width: 200px !important;
  word-break: break-all;
}

.search_input{
  width: 300px;
}