/*
 *= require brand_v2/landing_page
*/

@import 'bootstrap-sprockets';
@import 'bootstrap';

.join-banner{
  height: 320px;
  width: 100%;
  background: image-url('temp_join_in.png') no-repeat center;
}
