// Place all the styles related to the campaign_invite controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.operate-money-icon{
  vertical-align: middle;
}

.input-money-icon{
  width: 50px;
}

.money-input-group{
  vertical-align: middle;
  display: inline-table;
}

.per-budget-operate-icon {
    margin-left: 60px;
}