// Place all the styles related to the campaign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr.campaign{
  cursor: pointer;
}

.article-content {
  width: 100%;
  overflow: auto;
}

.comments-list {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 20px;
}

.comments-title {
  font-size: 22px;
}

.comment-text {
  font-size: 18px;
  margin-bottom: 25px;
}

.comment-date {
  margin-bottom: 5px;
}
