// Place all the styles related to the campaign_invite controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.operate-money-icon{
  vertical-align: middle;
  display: table-cell;
}

.input-money-icon{
  width: 50px;
}

.money-input-group{
  vertical-align: middle;
  display: inline-table;
}

.per-budget-operate-icon {
    margin-left: 60px;
}

div#datetimepicker6{
  display: inline-table;
  margin-left: -20px
}

.campaign_start_time, .campaign_end_time{
  display: table-cell;
  vertical-align: middle;
}


.campaign_time_group{
  display: inline-table;
}

.campaign_budget_label{
  display: table-cell;
  vertical-align: middle;
}

.form-group.messeage_to_kol {
    margin-top: -76px;
}