
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust:none;
}

//html, body, .wrapper, .cps_article{
//  height: 100%;
//}

body{
  line-height: 1;
  font-family: "helvetica neue",arial,sans-serif,"Microsoft Yahei";
  color: #666666;
  font-size: 14px;
  background-color: #f0f0f0;
}

.wrapper{
  background-color: #fff;
  padding-top: 0;
  margin: 0 auto;
  max-width: 440px;
  position: relative;
  width: 100%;
  min-width: 320px;
}
.cover{
  background: #f4f4f4 center no-repeat;
  background-size: cover;
  height: 176px;
}
@media screen and (min-width: 321px) {
  .cover{height: 206px;}
}
@media screen and (min-width: 376px) {
  .cover{height: 227px;}
}

.topic-info{
  padding: 0 13px;
  overflow: auto;
  .title{
    font-size: 19px;
    color: #181616;
    padding: 22px 0;
  }
  .author{
    height: 30px;
    line-height: 30px;
    padding-right: 5px;
    .avatar {
       img {
         float: left;
         width: 30px;
         height: 30px;
         border-radius: 30px;
       }
       .name {
         padding-left: 10px;
         font-size: 14px;
         color: #8d8d8d;
       }
    }
  }
}

.section-content{
  padding-top: 10px;
  .box{
    padding: 10px 10px ;
    font-size: 14px;
    color: #181616;
  }
  .text-box{
    line-height: 1.6;
  }
  .img-box img{
    border: 8px;
    width: 100%;
  }
  .product-box{
    a{
      display: block;
      position: relative;
      border: 1px solid #dbdbdb;
      height: 75px;
      .avatar{
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        float: left;
        width: 75px;
        img{
          width: 100%;
        }
      }
      .info{
        position: relative;
        background: #f8f8fa;
        height: 65px;
        padding-top: 10px;
        padding-left: 85px;
        padding-right: 38px;
        float: left;
        font-size: 13px;
        font-weight: bold;
        color: #181616;
        .pro-title{
          line-height: 1.3;
        }
        .price{
          position: absolute;
          bottom: 10px;
          font-weight: 300;
          .commission{
            color: #ecb200;
          }
        }
      }
      .go{
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;
        height: 75px;
        line-height: 75px;
        background: #ececec;
        border-left: 1px solid #dbdbdb;
        width: 28px;
        float: left;
        text-align: center;
        img{
          vertical-align: middle;
          width: 8px;
        }
      }
    }
  }

  .disclaimer{
    padding: 50px 10px 72px;
    text-align: center;
    .title{
      font-size: 11px;
      color: #8d8d8d;
    }
    .content{
      padding-top: 7px;
      font-size: 11px;
      color: #a9a9a9;
      line-height: 1.4;
    }
  }
  .download-app{
    z-index: 10;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #efefef;
    img{
      width: 100%;
      vertical-align: bottom;
    }
  }
}

