.picture {
  height: 340px;
}

.rss-input {
  cursor: text !important;
}

.select2-drop {
  z-index: 21000;
}

.select2-drop-mask {
  z-index: 19999;
}

#newsroomForm .select2-choices {
  border-color: #aaa;

}

#newsroomForm .bootstrap-tagsinput {
  border-color: #aaa;
}

#newsroomForm .select2-container-multi .select2-choices {
  position: static;
}

.release-item .tag-wrapper {
  min-height: 27px;
}

#newsroomForm {
  textarea[name="description"] {
    max-width: 100%;
    max-height: 100px;
    height: 100px;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style: italic;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style: italic;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    font-style: italic;
  }
}

.stream:last-of-type {
  margin-right: 15px;
}

.stream-header i.fa-reorder {
  margin-right: 0px !important;
}