.picture {
  height: 340px;
}

.rss-input {
  cursor: text !important;
}

.select2-drop {
  z-index: 21000;
}

.select2-drop-mask {
  z-index: 19999;
}

#newsroomForm .select2-choices {
  border-color: #aaa;

}

#newsroomForm .bootstrap-tagsinput {
  border-color: #aaa;
}

#newsroomForm .select2-container-multi .select2-choices {
  position: static;
}

#newsroomForm {
  textarea[name="description"] {
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    height: 100px;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style: italic;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style: italic;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    font-style: italic;
  }
}

.stream:last-of-type {
  margin-right: 15px;
}

.stream-header i.fa-reorder {
  margin-right: 0px !important;
}

#releaseForm #website .checkbox {
  label {
    padding-left: 15px !important;
    span {
      display: block;
      margin-left: 5px;
      margin-top: 5px;
    }
  }
}

#release-company {
  select[name="news_room_id"] {
    padding-right: 20px;
  }
  .ui-select {
    i.form-control-feedback {
      top: 25px;
      right: 10px;
    }
  }
}

.pagination {
  .active {
    background-color: #CCD1D9;
  }
}

.modal-dialog {
  z-index: 100000;
}

a.dashboard-btn {
  cursor: pointer;
}

.stream-loading, .empty-stream {
  position: absolute;
  width: 100%;
  top: 55px;
  opacity: 1;
  z-index: 1000;
  .placeholder{
    font-style: italic;
  }
}

.opacity-02 {
  opacity: 0.2;
}

#email-pitch .panel-body {
  padding: 10px;
}

#email-pitch .panel {
  background-color: #fff;
  border: medium none;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.select2-search-field{
  width: 10px;
}

li.posts > a, li.profiles > a{
  cursor: pointer;
}

form#createPost {
  z-index: 10000000 !important;
}

.cancel-addon {
  cursor: pointer;
}

.highlightTextarea{
  div.container {
    width: 100% !important;
    height: 100% !important;
  }
}

.modal-footer {
  #stats {
    display: block;
  }
}

span.canceled {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  color: red;
  text-align: center;
}

.disabled-unavailable {
  opacity: 0.65;
}