.picture {
  height: 340px;
}

.rss-input {
  cursor: text !important;
}

.select2-drop {
  z-index: 21000;
}

.select2-drop-mask {
  z-index: 19999;
}

#newsroomForm .select2-choices {
  border-color: #aaa;

}

#newsroomForm .bootstrap-tagsinput {
  border-color: #aaa;
}

#newsroomForm .select2-container-multi .select2-choices {
  position: static;
}

#newsroomForm {
  textarea[name="description"] {
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    height: 100px;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style: italic;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style: italic;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    font-style: italic;
  }
}

.stream:last-of-type {
  margin-right: 15px;
}

.stream-header i.fa-reorder {
  margin-right: 0px !important;
}

#releaseForm #website .checkbox {
  label {
    padding-left: 15px !important;
    span {
      display: block;
      margin-left: 5px;
      margin-top: 5px;
    }
  }

}

#releaseForm {
  #release-title-block {
    float: left;
    width: 68%;
    margin-bottom: 15px;
  }
  #release-date-block {
    float: right;
    width: 30%;
    margin-bottom: 15px;
  }
}

#release-company {
  select[name="news_room_id"] {
    padding-right: 20px;
  }
  .ui-select {
    i.form-control-feedback {
      top: 25px;
      right: 10px;
    }
  }
}

.pagination {
  .active {
    background-color: #CCD1D9;
  }
}

.modal-dialog {
  z-index: 100000;
}

a.dashboard-btn {
  cursor: pointer;
}

.stream-loading, .empty-stream {
  position: absolute;
  width: 100%;
  top: 55px;
  opacity: 1;
  z-index: 1000;
  .placeholder{
    font-style: italic;
  }
}

.opacity-02 {
  opacity: 0.2;
}

#email-pitch .panel-body {
  padding: 10px;
}

#email-pitch .panel {
  background-color: #fff;
  border: medium none;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.select2-search-field{
  width: 10px;
}

li.posts > a, li.profiles > a{
  cursor: pointer;
}

form#createPost {
  z-index: 10000000 !important;
}

.cancel-addon {
  cursor: pointer;
}

.highlightTextarea{
  div.container {
    width: 100% !important;
    height: 100% !important;
  }
}

.modal-footer {
  #stats {
    display: block;
  }
}

span.canceled {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  color: red;
  text-align: center;
}

.loadinggif {
  background: image-url('loading2.gif') no-repeat right 20px center;
  background-size: 25px 25px;
}

.disabled-unavailable {
  opacity: 0.65;
}

#blast-home-link{
  .tooltip{
    width: 350px;
  }
}

#email-pitch-preview, #twitter-pitch-preview {
  cursor: text;
}


.editable-click, a.editable-click, a.editable-click:hover {
  text-decoration: none;
  border-bottom: none;
}

.editable-parent {
  background-color: #E8F7FF;
  padding: 4px;
}

#summaries li {
  background-color: #E8F7FF;
  cursor: pointer;
}

.make-keyword {
  display: block;
  margin-top: 15px;
  cursor: pointer;
}

// datatables buttons
.DTTT_container a {
  background: #006481;
  color: #ffffff !important;
  border: 1px solid #006481;
}

.DTTT_container a:hover {
  background: #3c9eb6 !important;
  border: 1px solid #3c9eb6 !important;
}

#social-profiles {
  .list-group .item {
    list-style: none;
    border-bottom: 1px solid #E6E9ED;
    border-radius: 0px;
    padding-bottom: 10px;
    span.name {
      font-weight: bold;
    }

    li.identity:nth-of-type(1) {
      border-top: 1px solid #E6E9ED;
      margin-top: 10px;
      padding-top: 10px;
    }
    li.identity {
      padding-top: 10px;
      padding-left: 25px;
      a.disconnect {
        color: #D23030;
        float: right;
      }
    }
    li.identity:hover {
      a.link {
        color: #0077FD;
      }
    }
  }
}

.btn-weibo {
  color:#fff;
  background-color: #fb9114;
  border-color: rgba(0,0,0,0.2)
}

.btn-weibo:hover, .btn-weibo:focus, .btn-weibo:active, .btn-weibo.active, .open>.dropdown-toggle.btn-weibo {
  color: #fff;
  background-color: #e28112;
  border-color: rgba(0,0,0,0.2)
}

.btn-weibo:active, .btn-weibo.active, .open>.dropdown-toggle.btn-weibo {
  background-image: none
}

.btn-weibo.disabled, .btn-weibo[disabled], fieldset[disabled] .btn-weibo, .btn-weibo.disabled:hover,
.btn-weibo[disabled]:hover, fieldset[disabled] .btn-weibo:hover, .btn-weibo.disabled:focus, .btn-weibo[disabled]:focus,
fieldset[disabled] .btn-weibo:focus, .btn-weibo.disabled:active, .btn-weibo[disabled]:active,
fieldset[disabled] .btn-weibo:active, .btn-weibo.disabled.active, .btn-weibo[disabled].active,
fieldset[disabled] .btn-weibo.active {
  background-color: #007bb6;
  border-color: rgba(0,0,0,0.2)
}

.btn-weibo .badge {
  color: #007bb6;
  background-color: #fff
}

.btn-wechat {
  color:#fff;
  background-color: #40b609;
  border-color: rgba(0,0,0,0.2)
}

.btn-wechat:hover, .btn-wechat:focus, .btn-wechat:active, .btn-wechat.active, .open>.dropdown-toggle.btn-wechat {
  color: #fff;
  background-color: #39a006;
  border-color: rgba(0,0,0,0.2)
}

.btn-wechat:active, .btn-wechat.active, .open>.dropdown-toggle.btn-wechat {
  background-image: none
}

.btn-wechat.disabled, .btn-wechat[disabled], fieldset[disabled] .btn-wechat, .btn-wechat.disabled:hover,
.btn-wechat[disabled]:hover, fieldset[disabled] .btn-wechat:hover, .btn-wechat.disabled:focus, .btn-wechat[disabled]:focus,
fieldset[disabled] .btn-wechat:focus, .btn-wechat.disabled:active, .btn-wechat[disabled]:active,
fieldset[disabled] .btn-wechat:active, .btn-wechat.disabled.active, .btn-wechat[disabled].active,
fieldset[disabled] .btn-wechat.active {
  background-color: #007bb6;
  border-color: rgba(0,0,0,0.2)
}

.btn-wechat .badge {
  color: #007bb6;
  background-color: #fff
}

.btn-social {
  padding-right: 15px;
}

.no-padding-bottom {
  padding-bottom: 0px !important;
  span {
    font-style: italic;
  }
}

.post-identities {
  height: 70px;
  background-color: white;
  border-radius: 0 0 4px 4px;
  border-left: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
  label {
    margin-top: 10px;
  }
}

.edit-post-identities {
  background-color: white;
  border-radius: 0 0 4px 4px;
  border-left: 1px solid #aab2bd;
  border-right: 1px solid #aab2bd;
  label {
    margin-top: 10px;
  }

  #twitter-identities, #facebook-identities, #linkedin-identities, #weibo-identities, #wechat-identities {
    border-bottom: 1px solid #aab2bd;
    border-radius: 0 0 4px 4px;
  }
}

.bottom-border-radius {
  border-radius: 0 0 4px 4px;
}

#twitter-identities, #facebook-identities, #linkedin-identities, #weibo-identities, #wechat-identities {
  margin-top: 20px;
}

span.social-networks {
  span {
    cursor: auto;
  }
  span:hover {
    background-color: #AAB2BD;
  }
  span.btn-primary:hover {
    background-color: #006481;;
  }
}

.note, .font-12 {
  font-size: 12px;
}

#blast-pitch .modal-body {
  height: 50px;
}

.calendar {
  padding: 0;
  color: #000;
}
// CSS checkbox
input[type=checkbox].css-checkbox {
  position:absolute; 
  z-index:-1000; 
  left:-1000px; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height:1px; 
  width:1px; 
  margin:-1px; 
  padding:0; 
  border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:34px;
  height:29px; 
  display:inline-block;
  line-height:29px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:29px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -29px;
}

label.css-label {
  background-image: asset-url("csscheckbox_style.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
// END of CSS checkbox

iframe.wysihtml5-sandbox {
  width: 100% !important;
}

.hide, .hide + label + label ~ div {
    display: none;
}

.hide + label + label,
.hide:checked + label + label {
    padding: 0;
    cursor: pointer;
}

.hide:checked + label + label + div {
  display: block;
  margin-left: 20px;
  padding: 10px;
   -webkit-animation:fade ease-in 0.5s;
   -moz-animation:fade ease-in 0.5s;
   animation:fade ease-in 0.5s;
}

.hide + label:before {
  content: "+";
  display: block;
  float: left;
  font-size: 18px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  margin: 2px 5px 0px;
  text-align: center;
  width: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.hide:checked + #campaign-name:before {
  content: "\2212";
}

.campaigns-tab {
  margin: 2% 1%;
  font-size: 16px;
  font-family: "ProximaNova";
  line-height: initial;
}

#campaign-name {
  min-width: 35%;
}

.campaigns-tab + label {
  font-weight: normal;
  font-family: "ProximaNovaSemibold" !important;
}

.campaign-date {
  float: right;
}

.campaigns-tab li {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  max-width: 42.4%;
}

.campaigns-tab table {
  font-size: 14px;
}
.campaigns-tab table i {
  margin-right: 10px;
  color: #3c9eb6;
}

.wechat-tab, .weibo-tab {
  margin: 1% 1%;
  font-size: 16px;
  font-family: "ProximaNova";
  line-height: initial;
}

.wechat-info, .weibo-info {
  margin-top: 1%;
  float: right;
}

.wechat-search, .weibo-search {
  margin-bottom: 1%;
}

.analytics-input {
  display: inline;
  width: 15%;
}

.wechat-tab table,  .weibo-tab table {
  font-size: 14px;
  clear: both;
}
.wechat-tab .targets-author .media-left img, .weibo-tab  .targets-author .media-left img {
  height: 50px;
  width: 50px;
}
.wechat-tab .table.targets td, .wechat-tab .table.targets th,
.weibo-tab .table.targets td, .weibo-tab .table.targets th,
.campaigns-tab .table.targets td, .campaigns-tab .table.targets th {
  text-align: center;
  white-space: nowrap;
}
.wechat-tab .targets-author, .weibo-tab .targets-author, .campaigns-tab .targets-author {
  text-align: left;
}
.wechat-tab .table.targets td:first-child, .wechat-tab .table.targets th:first-child,
.weibo-tab .table.targets td:first-child, .weibo-tab .table.targets th:first-child,
.campaigns-tab .table.targets td:first-child, .campaigns-tab .table.targets th:first-child {
  width: 30%;
}
