/*
 *= require foundation
 *= require app
*/

.feedback .button-feedback {
	width: 130px;
	height: 30px;
	font-size: 14px;
	background-color: rgb(67,67,67);
	color: white;
  position: fixed;
  bottom: 0; right: 10px;
  text-align:center;
	line-height: 30px;
  border-radius:6px 6px 0 0;
}
