/*
 *= require foundation
 *= require app
*/

.feedback .button-feedback {
	width: 130px;
	height: 30px;
	font-size: 14px;
	background-color: rgb(67,67,67);
	color: white;
  position: fixed;
  bottom: 0; right: 10px;
  text-align:center;
	line-height: 30px;
  border-radius:6px 6px 0 0;
}

.partner .container {
	max-width: 960px;
	margin: 0 auto;
	ul>li{display:block;float:left;width: 240px;margin-left:40px;}
	ul>li.first_line{height: 200px; margin-bottom: 10px;}
	ul>li.second_line{height:200px;}
	ul>li>.img_container{width:100%;}
	ul>li.first_line>.img_containier{height: 139px;}
		ul>li.second_line>.img_containier{height: 59px;}
	li.li1>.img_containier{background: image-url("chinaccelerator-logo.png") center center no-repeat;}
	li.li2>.img_containier{background:image-url("smg-logo.png") center center no-repeat;}
	li.li3>.img_containier{background:image-url("mwc-logo.png") center 35px no-repeat;}	

	li.li4>.img_containier{background: image-url("technode-logo.png") center center no-repeat;}
	li.li5>.img_containier{background:image-url("techinasia-logo.png") center center no-repeat;}
	li.li6>.img_containier{background:image-url("omd-logo.png") center center no-repeat;}
	ul>li>p{text-align:center; margin-top: 10px;}

	.read_more .label {
		margin-top: 18px;
		width: 148px;
		height: 40px;
		text-align: center;
		line-height: 30px;
		font-size: 16px;
		margin-left: 48px;
	}

	.read_more_3 .label {
		margin-top: -17px;
		width: 148px;
		height: 40px;
		text-align: center;
		line-height: 30px;
		font-size: 16px;
		margin-left: 48px;
	}
}






