/*
 *= require foundation
 *= require app
*/

@media(min-width: 960px) {
	.partner .container {
		max-width: 960px;
		margin: 0 auto;

		ul {margin: 0 auto;}

		ul>li{display:block;float:left;width: 274px;margin-left:26px;}
		ul>li.first_line{height: 200px; margin-bottom: 10px;}
		ul>li.second_line{height:214px; }
		ul>li>.img_container{width:100%;}
		ul>li.first_line>.img_container{height: 139px;}
			ul>li.second_line>.img_container{height: 59px;}
		li.li1>.img_container{background: image-url("chinaccelerator-logo.png") center center no-repeat;}
		li.li2>.img_container{background:image-url("smg-logo.png") center center no-repeat;}
		li.li3>.img_container{background:image-url("mwc-logo.png") center 35px no-repeat;}

		li.li4>.img_container{background: image-url("technode-logo.png") center center no-repeat;}
		li.li5>.img_container{background:image-url("techinasia-logo.png") center center no-repeat;}
		li.li6>.img_container{background:image-url("omd-logo.png") center center no-repeat;}
		ul>li>p{text-align:center; margin-top: 10px;}

		.read_more .label {
			margin-top: 18px;
			width: 148px;
			height: 40px;
			text-align: center;
			line-height: 30px;
			font-size: 16px;
			margin-left: 68px;
		}

		.read_more_3 .label {
			margin-top: -17px;
			width: 148px;
			height: 40px;
			text-align: center;
			line-height: 30px;
			font-size: 16px;
			margin-left: 68px;
		}
	}

	.landing_country_flag {
		float: right;
	}
}

@media (max-width: 960px) and (min-width: 640px) {
	.partner .container {
		max-width: 960px;
		margin: 0 auto;

		ul {
			margin: 0 auto;
			width: 600px;
		}

		ul>li{display:block;float:left;width: 274px;margin-left:26px;}
		ul>li.first_line{height: 200px; margin-bottom: 10px;}
		ul>li.second_line{height:214px; }
		ul>li>.img_container{width:100%;}
		ul>li.first_line>.img_container{height: 139px;}
			ul>li.second_line>.img_container{height: 59px;}
		li.li1>.img_container{background: image-url("chinaccelerator-logo.png") center center no-repeat;}
		li.li2>.img_container{background:image-url("smg-logo.png") center center no-repeat;}
		li.li3>.img_container{background:image-url("mwc-logo.png") center 35px no-repeat;}

		li.li4>.img_container{background: image-url("technode-logo.png") center center no-repeat;}
		li.li5>.img_container{background:image-url("techinasia-logo.png") center center no-repeat;}
		li.li6>.img_container{background:image-url("omd-logo.png") center center no-repeat;}
		ul>li>p{text-align:center; margin-top: 10px;}

		.read_more .label {
			margin-top: 18px;
			width: 148px;
			height: 40px;
			text-align: center;
			line-height: 30px;
			font-size: 16px;
			margin-left: 68px;
		}

		.read_more_3 .label {
			margin-top: -17px;
			width: 148px;
			height: 40px;
			text-align: center;
			line-height: 30px;
			font-size: 16px;
			margin-left: 68px;
		}
	}

	.landing_country_flag {
		float: right;
		margin-left: 10px !important;
		margin-right: 20px;
	}
}


@media(max-width: 640px)
{

	  .social-login {
      height: 50px !important;
    }

    .social-list .sign_up_with_email{
      height: 42px;
      float: right;
      margin-right: 15px;
      color: #fff;
      text-decoration:underline;
      &:hover {
        color: #fff;
      }
    }

    .wechat_tip{
      float: right;
      margin-top: -14px;
      margin-right: 15px;
      color: #fff;
    }

	.partner .container {
		max-width: 100%;
		margin: 0 auto;

		ul {
			margin: 0 auto;
		}

		ul>li {
			height: 150px;
			width: 274px;
			display: block;
			margin: 0 auto;
		}

		ul>li.second_line{height:220px;}

		ul>li>.img_container{width:100%; height: 139px; margin: 0 auto;}

		li.li1>.img_container{
			background: image-url("chinaccelerator-logo.png") center center no-repeat;
		}

		li.li2>.img_container{
			margin-top: 25px;
			height: 100px;
			background: image-url("smg-logo.png") center center no-repeat;
		}

		li.li3>.img_container{
			margin-top: 10px;
			height: 100px;
			background: image-url("mwc-logo.png") center center no-repeat;
		}

		li.li4>.img_container{
			height: 100px;
			background: image-url("technode-logo.png") center center no-repeat;
		}

		li.li5>.img_container{
			height: 100px;
			background: image-url("techinasia-logo.png") center center no-repeat;
		}

		ul>li.li6 {
			height: 240px;
		}

		li.li6>.img_container{
			height: 100px;
			background: image-url("omd-logo.png") center center no-repeat;
		}

		ul>li>p{
			text-align: center;
		}

		.read_more, .read_more_3{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 148px;
			height: 40px;

			.label {
				width: 148px;
				height: 40px;
				text-align: center;
				line-height: 30px;
				font-size: 16px;
			}
		}
	}

	.landing_country_flag{
		margin: 0 auto !important;
	}
}
