/*
*= require bootstrap-sass
*= require lib/sb-admin-2
*= require lib/metisMenu.min
*= require sass-bootstrap-glyphicons
*= require font-awsome
*= require marketing_dashboard/jqzoom.css
*= require marketing_dashboard/campaigns.scss
*/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

$bg_img: image-url("partners/page_bg.png");

td {
  max-width: 200px !important;
  word-break: break-all;
}

.search_input{
  width: 300px;
}

.pagination {
  margin-top: 0;
}

.table-field {
  i {
    font-style: normal;
    color: #999;
  }
}

.bootstrap-datetimepicker-widget {
  display: block;
}

.table {
  .option-group {
    position: relative;
    display: inline-block;
  }
}

.expandCheck {
  input {
    pointer-events: none;
  }
}
/* For Login Page */
.login-bg{
    background: $bg_img no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
}


.login-dialog-center{
    position: relative;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
}

.dialog-box-main{
    position: absolute;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.dialog-box-main.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-51%, -50%, 0);
    }

    20%, 80% {
        transform: translate3d(-49%, -50%, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-52%, -50%, 0);
    }

    40%, 60% {
        transform: translate3d(-48%, -50%, 0);
    }
}

.login-dialog-box{
    position: absolute;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    display: block;
}

.login-dialog-box-bg{
    background: $bg_img no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;

    -webkit-filter: blur(6px);
    filter: url('/media/blur.svg#blur');
    filter: blur(6px);
}

.login-logo{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.login-inputs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
}

.whiteText{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,0.7);
}

.version-txt{
    position: absolute;
    right: 15px;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 10px;
    
}
/* For Login Page Ends */

