@import 'bootstrap-sprockets';
@import 'bootstrap';

$phone-width: 450px;
$tablet-width: 768px;
$inner-width: 1060px;
$font-color: #181616;
$primary-color: #2fe1dc;
$divider-color: #eae3cc;

@import './passport/mixin';
@import './passport/reset';
@import './passport/global';