.release-item-text {
  max-height: 51px;
  overflow: hidden;
}

.release-item-text ol, ul{
  list-style-position: inside !important;
  text-align: left;
}

.pagination .prev, .pagination .next {
  display: none;
}

.release-item small {
  margin-bottom: 0px;
}