

@font-face {
    font-family: ProximaNova;
    src: asset-url('ProximaNova-Regular.otf');
}
@font-face {
    font-family: ProximaNovaLight;
    src: asset-url('ProximaNova-Light.otf');
}
@font-face {
    font-family: ProximaNovaSemibold;
    src: asset-url('ProximaNova-Semibold.otf');
}
@font-face {
    font-family: ProximaNovaBold;
    src: asset-url('ProximaNova-Bold.otf');
}
@font-face {
    font-family: ProximaNovaBlack;
    src: asset-url('ProximaNova-Black.otf');
}

a {
    color: #006481; 
}


.releases tr {
    border: 0;
}
.releases h4 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 21px;
}
.releases h4 a {
    color: #434A54;
}
.releases tr td:first-of-type {
    min-width: 96px;
}
.release.jumbotron {
    box-shadow: none;
    padding: 0;
}
.release .jumbotron-contents {
    padding: 0;
}
.release.jumbotron .jumbotron-photo img {
    border-radius: 0;
}
.release .post-controls {
    display: inline-block;
}
.release .post-controls > a {
    color: #000000;
    margin-left: 6px;
}
.release .post-controls > a:hover {
    color: #888;
}
.release-item small {
        color: #000000;
    display: inline-block;
    font-family: "ProximaNova";
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}
.release-item h3 {
    margin-bottom: 3px;
}
.release-item h3 a {
    color: #333;
}
#presskit > a {
    width: 33%;
    display: inline-block;
    margin-bottom: 3px;
}
#presskit > a > img {
    width: 100%;
}
/* Sidebar */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #006481;
    border-right: 1px solid #eee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #ffffff;
    padding-bottom:40px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
    padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -275px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 275px;
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
    margin-bottom: 40px;
}
.sidebar-nav li {  
}
.sidebar-nav li.btn-li { 
    margin-top: 18px;
    text-align: center;
}
.sidebar-nav li:first-of-type {
    text-indent: 0;
}
.sidebar-nav > li > a {
    color: #ffffff;
    display: inline-block;
    font-family: "ProximaNovaSemibold";
    font-size: 20px;
    line-height: 25px;
    margin-right: 0;
    padding: 25px 0 25px 40px;
    text-decoration: none;
    width: 100%;
}

.sidebar-nav > li.navlinks > a {
      background: none repeat scroll 0 0 #3c9eb6 ;
}

.sidebar-nav > li > a.collapsed {
    background: transparent;
}
.sidebar-nav > li > a:hover {
    text-decoration: none;
    color: #eeeeee;
      background: none repeat scroll 0 0 #3c9eb6 ;
}
.sidebar-nav > li > a:active,
.sidebar-nav > li > a:focus { 
}
.sidebar-nav > li > a.btn {
    background: none repeat scroll 0 0 #91bc4d;
    border: 0 none;
    border-radius: 10px;
    color: #ffffff;
    font-family: "ProximaNovaSemibold";
    font-size: 16px;
    font-weight: normal;
    height: 44px;
    margin: 0 auto;
    max-width: 200px;
    padding-left: 12px;
    padding-top: 9px;
    width: 80%;
}
.sidebar-nav > li > a .fa {
    color: #ffffff;
    margin-right: 7px;
} 
.sidebar-nav > li > a.btn .fa {
    color: #ffffff;
    margin-right: 2px;
}
.sidebar-nav > .sidebar-brand {
    font-size: 15px; 
    font-family: "ProximaNova";
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}
.sidebar-nav > .sidebar-brand strong{
    font-family: "ProximaNovaLight";
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    color: #ffffff;
}
.sidebar-nav > .sidebar-brand a {
    color: #ffffff;
    text-align: center;
    padding-left: 0;
    padding-bottom: 0px !important;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #eeeeee;
    background: none;
}
.sidebar-nav > .sidebar-brand .logo {
    margin: 22px auto 30px auto;
    width: 165px;
}
.sidebar-nav > li .collapsible {
    padding: 0 0 10px 70px !important;
    font-size: 13px !important;
    border: 0px solid #eee;
}
.sidebar-nav > li #collapseSocial.collapsible,
.sidebar-nav > li #collapseSpokeperson.collapsible { 
    padding: 0 0 15px 30px !important;
}
.sidebar-nav > li #collapseSpokeperson.collapsible {
    padding-top:15px !important;
}
.sidebar-nav .contact-links {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-nav .contact-links li{
    margin-bottom: 8px;
}
.sidebar-nav .contact-links a {
    font-size: 12px;
    font-family: "ProximaNova";
    font-weight: normal;
    line-height: 17px;
    color: #ffffff;
}
.sidebar-nav .contact-links a .fa {
    font-size: 12px; 
    font-weight: normal;
    line-height: 17px;
    color: #ffffff;
    margin-right: 4px;
}
#collapseSpokeperson p {
    line-height: 25px;
    font-size: 12px;
    font-family: "ProximaNovaSemibold";
    font-weight: normal;
}
#collapseSpokeperson p a{
    color: #cbcbcb;
}
#collapseSpokeperson p a:hover{
    color: #ffffff;
}

#collapseContact p{
    font-size: 12px;
    font-family: "ProximaNova";
    font-weight: normal;
    line-height: 17px;
    color: #ffffff;
}
#collapseContact p a {
    color: #cbcbcb;
}
#collapseContact p a:hover {
    color: #ffffff;
}


 strong.subhead{
    font-size: 17px;
    line-height: 25px;
    font-family: "ProximaNovaSemibold";
    font-weight: normal;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 12px;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 275px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 0 40px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Social icons */
@font-face {
    font-family: 'si';
    src: asset-url('socicon.eot');
    src: asset-url('socicon.eot?#iefix') format('embedded-opentype'),
         asset-url('socicon.woff') format('woff'),
         asset-url('socicon.ttf') format('truetype'),
         asset-url('socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: asset-url('socicon.svg') format(svg);
    }
}
.soc {
    overflow:hidden;
    margin:15px 0 0; 
    padding:0;
    list-style:none;
}
.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
    display: inline-block;
    margin: 0 0 4px;
    text-align: center;
}
.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-right: 4px;
    color: #006481;
    background-color: none; 
}
.soc a:hover {
    z-index: 2;
}
.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #ffffff;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #ffffff;
}
.soc-facebook:before {
    content:'b';
}
.soc-google {
    background-color: #ffffff;
}
.soc-google:before {
    content:'c';
}
.soc-pinterest {
    background-color: #ffffff;
}
.soc-pinterest:before {
    content:'d';
}
.soc-linkedin {
    background-color: #ffffff;;
}
.soc-linkedin:before {
    content:'j';
}
.soc-instagram {
    background-color: #ffffff;;
}
.soc-instagram:before {
    content:'x';
}
.soc-rss {
    background-color: #ffffff;
}
.soc-rss:before {
    content:',';
}
.soc-youtube {
    background-color: #ffffff;
}
.soc-youtube:before {
    content:'r';
}
.soc-twitter:hover {
    background-color: #3c9eb6;
}
.soc-facebook:hover {
    background-color: #3c9eb6;
}
.soc-google:hover {
    background-color: #3c9eb6;
}
.soc-instagram:hover {
    background-color: #3c9eb6;
}
.soc-pinterest:hover {
    background-color: #3c9eb6;
}
.soc-linkedin:hover {
    background-color: #3c9eb6;
}
.soc-rss:hover {
    background-color: #3c9eb6;
}
.soc-youtube:hover {
    background-color: #3c9eb6;
}
.release-meta .soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 0px;
    color: #ffffff;
    background-color: none;
}

.media-heading{
    color: #ffffff;
    font-family: "ProximaNovaSemibold";
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
}

/* TWITTER TIMELINE */
.sidebar-nav > li #collapseTweets.collapsible {
    background: none repeat scroll 0 0 #ffffff; 
}

.sidebar-nav > li #collapseTweets.blank {
    background: #006481;
}

.twitter-wrap {
    margin-left: 30px;
    margin-top: -6px;
    width: 223px;
}
.timeline .stream {
    margin: 0 34px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    width: 215px;
}
.p-author .profile .p-name, .custom-timeline-owner-profile .p-name, .cards-base p, .cards-base p a, .timeline-header .custom-timeline-summary, .timeline-header .custom-timeline-summary a:link, .timeline-header .custom-timeline-summary a:visited, .timeline-header .summary, .timeline-header .summary a:link, .timeline-header .summary a:visited, .p-author a.profile:hover .p-name, .p-author a.profile:focus .p-name {
    color: #ffffff !important;
}

/* PAGE CONTENT */
#page-content-wrapper h1{
    color: #000000;
    font-family: "ProximanovaSemibold";
    font-size: 36px;
    line-height: 45px;
}
#page-content-wrapper h3{
    color: #000000;
    font-family: "ProximanovaSemibold";
    font-size: 36px;
    line-height: 45px;
}
#page-content-wrapper h4{
    color: #000000;
      font-family: "ProximanovaBold";
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
}

#page-content-wrapper p{
    font-family: "Proximanova";
    font-size: 18px;
    color: #000000;
    line-height: 25px;
}
#page-content-wrapper p strong{ 
    font-family: "ProximaNovaSemibold"; 
}
#page-content-wrapper .btn-default  {
   background: none repeat scroll 0 0 #91bc4d;
    border: 0 none;
    border-radius: 10px;
    color: #ffffff;
    font-family: "ProximaNovaSemibold";
    font-size: 15px;
    font-weight: normal;
    height: 38px;
    margin: 0 auto;
    max-width: 150px;
    padding-left: 12px;
    padding-top: 9px;
    width: 80%;
}
.thumbnail.release-item{ 
    padding: 0;
    border-radius: 0px;
    box-shadow: 0 0 0;
}
#page-content-wrapper .thumbnail.release-item h3 {
    font-family: "ProximaNovaBold";
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    font-weight: normal;
}
#page-content-wrapper .thumbnail.release-item h3 a{
    color: #000000;
}
#page-content-wrapper .thumbnail.release-item  p {
     color: #000000;
    font-family: "ProximanovaLight";
    font-size: 18px;
    line-height: 25px;
}
.thumbnail.release-item .label-success, .badge-success {
    background-color: #8cc152;
    border-color: #8cc152;
    font-family: "ProximaNovaSemibold";
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 2px 6px;
}
#page-content-wrapper .btn-info, #page-content-wrapper .btn-info:active, #page-content-wrapper .btn-info.active, #page-content-wrapper .btn-info.disabled, #page-content-wrapper .btn-info[disabled] {
    background-color: #3c9eb6;
    border-color: #3c9eb6;
}
#page-content-wrapper .release-item .btn-info{
     font-family: "ProximaNovaSemibold";
    font-size: 16px;
}
#page-content-wrapper nav{
    text-align: center;
}
.pagination > li > a, .pagination > li > span { 
    border: 0 solid #ddd;
    font-family: "ProximaNova";
    font-size: 18px;
    color: #000000;
}
.btn-success.download {
    background-color: #ffffff;
    border-color: #ffffff;
    font-family: "ProximaNovaBold";
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: normal;
} 

.btn-success.download i {
    background: none repeat scroll 0 0 #e76e15;
    border-radius: 25px;
    color: #ffffff;
    font-size: 20px;
    padding: 8px;
}

label,.form-control {
    font-family: "ProximaNova";
     
}

form .btn-primary {
    background-color: #3c9eb6;
    border-color: #3c9eb6;
}

.articlemeta{
    font-size: 12px;
    font-family: "ProximaNova";
    color: #000000;
}
.jumbotron .jumbotron-contents {
    color: #000000;
    font-family: "ProximaNova";
    font-size: 18px;
}

.jumbotron .jumbotron-contents blockquote {
    font-family: "ProximaNova";
    font-size: 18px;
}
blockquote footer, blockquote small, blockquote .small {
    color: #444444; 
    font-family: "ProximaNova";
    font-size: 15px;
}