/*
 *= require website/foundation
 *= require website/app
 *= require website/jquery-ui
 *= require website/normalize
 *= require select2
*/

.select2-container-multi .select2-choices .select2-search-choice {
    margin-top: 10px !important;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding-left: 16px !important;
}

.btn-weibo {
  background-color: #f26c3a;
}

.alert-success {
  height: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.button-feedback {
  width: 120px;
  height: 30px;
  background-color: rgb(67,67,67);
  color: white;
  position: fixed;
  bottom: 0; right: 10px;
  text-align:center;
  padding-top: 3px;
  border-radius:6px;
  &:hover {
    color:white;
  }
}

.send_sms {
  display: inline-block;
  height: 2.3125rem;
  float: left;
  color: white;
  padding: 0 1em;
}

@media (max-width: 700px) {
  .verify-code {
    width: 50%
  }

  .send_sms{
    width: 45%;
    margin-left: 5%;
  }

  .tips {
    .not_unique_number, .mobile_numer_is_blank, .send_sms_failed {
      font-size: 15px;
      color: red;
      margin-bottom: 2px;
      display: none
    }

    .send_sms_success {
      font-size: 15px;
      color: black;
      margin-bottom: 2px;
      display: none
    }
  }

  footer{
    text-align: center;
  }

  ft-copyright{
    display: block;
    margin: 0 auto;
  }

  footer a {
    color: #666666;
    display: block;
    margin: 0 auto;
  }

  .landing_country_flag{
    margin: 0 auto !important;
    float: none;
  }
}

@media (min-width: 700px) {
  .verify-code {
    width: 75%
  }

  .send_sms{
    width: 20%;
    margin-left: 5%;
  }

  .tips {
    .not_unique_number, .mobile_numer_is_blank, .send_sms_failed {
      font-size: 15px;
      color: red;
      margin-bottom: 2px;
      display: none
    }

    .send_sms_success {
      font-size: 15px;
      color: black;
      margin-bottom: 2px;
      display: none
    }
  }

  .landing_country_flag{
    float: right;
  }
}
