<div>
  <div class="agree-flash" style="display:none; font-size: 35px; color: green">操作成功，审核通过</div>
  <div class="reject-flash" style="display:none; font-size: 35px; color: green">操作成功，拒绝通过此审核</div>
  <div class="sms-error-flash" style="display:none; font-size: 35px; color: red">短信发送失败，请重试</div>
  <div class="error-flash" style="display:none; font-size: 35px; color: red">操作失败，请重试</div>
  <div class="require-reject-reason" style="display:none; font-size: 35px; color: red">请输入拒绝原因</div>
</div>

<div>
  <div>
    campaign_invite_id: <span class="id"><%= @campaign_invite.id %></span>
  </div>
  <div>
    <div>截图</div>
    <img src="<%= @campaign_invite.screenshot %>">
  </div>
  <div>
    <div>拒绝原因</div>
    <textarea rows="10" cols="100" placeholder="请输入拒绝原因" class="reject-reason"></textarea>
  </div>
  <button class="agree">通过</button>
  <button class="reject">拒绝</button>

</div>


<style>
  div {
    margin-top: 10px;
  }

  button {
    margin-top: 20px;
  }

  button a {
    color: white !important;
  }

  button.reject {
    margin-left: 250px;
  }
</style>

<script>
$(function() {
  campaign_invite_id = $(".id").text();
  $(".agree").click(function() {
    $.ajax({
      method: "POST",
      url: "/campaign_invite/change_img_status",
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
       data: {"status": "agree", "id": campaign_invite_id}
    })
      .done(function(data) {
        if(data['result'] == 'agree'){
          $(".agree-flash").css("display", "block");
          $(".agree-flash").siblings().hide();
          $(".agree").css("display", "none");
          $(".reject").css("display", "none");
        }
        else {
          $(".error-flash").css("display", "block");
          $(".error-flash").siblings().hide();
        }
      });
    });

  $(".reject").click(function() {
    $.ajax({
      method: "POST",
      url: "/campaign_invite/change_img_status",
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
       data: al{"status": "reject", "id": campaign_invite_id}
    })
      .done(function(data) {
        if(data['result'] == 'reject') {
          $(".reject-flash").css("display", "block");
          $(".reject-flash").siblings().hide();
          $(".agree").css("display", "none");
          $(".reject").css("display", "none");
        }
        else {
          $(".error-flash").css("display", "block");
          $(".error-flash").siblings().hide();
        }
      });
    });
});
</script>
