<div class="campaigns-tab-title">
  <img src="<%= AppAssets.path('monetize_campaigns.png') %>" >
  <span><%= polyglot.t('dashboard_kol.campaigns_tab.title') %></span>
</div>
<div id="campaigns-list">
</div>
<div class="campaigns-tab-footer">
  <div class="campaigns-tab-back">
    <div class="campaigns-tab-btn">
      <a id="back_to_score_btn" href="#">Back</a>
    </div>
  </div>
</div>
