<div class="dashboard-kol-tab-title">
  <img src="<%= AppAssets.path('monetize_campaigns.png') %>" >
  <span><%= polyglot.t('dashboard_kol.campaigns_tab.title') %></span>
</div>
<div id="campaigns-list">
</div>
<div class="dashboard-kol-tab-footer">
  <div class="campaigns-tab-back">
    <div class="dashboard-kol-tab-btn">
      <a id="back_to_score_btn" href="#"><%= polyglot.t('dashboard_kol.buttons.back') %></a>
    </div>
  </div>
</div>
