<div class="campaigns-tables-title">
  <span><%= polyglot.t('dashboard_kol.campaigns_tab.tables_title') %></span>
</div>
<div id="campaigns-list">
</div>
<div class="dashboard-kol-tab-footer">
  <button id="back_to_score_btn" class="btn btn-primary pull-left" type="submit"><i class="fa fa-chevron-left"></i> <%= polyglot.t('dashboard_kol.buttons.back') %></button>

</div>
