<div id='social-influence-power' class='dashboard-module'>
</div>

<div id='default-dashboard-campaign' class='dashboard-module'>
</div>

<div id='default-dashboard-discover' class='dashboard-module'>
  <div class='discover-header'>
    <h3>Discover</h3>
  </div>
  <div class="discover-body-container row">
    <ul>
      <li class='discover-item clearfix'>
        <div class="discover-item-header clearfix">
          <div class="discover-item-header-left">
            <div class="discover-item-header-left-icon">
              <img src="http://www.wiredincarmel.com/wp-content/uploads/2013/04/pinterest-icon-40x40.jpg" alt="" />
            </div>
            <div class="discover-item-header-left-pr">
              <h5>Kathryn Bailey</h5>
              <p>
                4 Nov
              </p>
            </div>
          </div>
          <div class="discover-item-header-right">
            <div class="move2BottomContainer">
              <a href="#" class='move2Bottom'><i class='glyphicon glyphicon-share-alt'></i>&nbsp;Share</a>
              <a href="#" class='move2Bottom'><i class='glyphicon glyphicon-thumbs-up'></i>&nbsp;Like</a>
            </div>
            <a href="#" alt='dislike'><i class='glyphicon glyphicon-remove'></i></a>
          </div>
        </div>
        <div class="discover-item-body">
          <p>
            <a>
              Grape is a REST-like API micro-framework for Ruby. It's designed to run on Rack or complement existing web application frameworks such as Rails and Sinatra by providing a simple DSL to easily develop RESTful APIs. It has built-in support for common conventions, including multiple formats, subdomain/prefix...
            </a>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
