<div class="discover-item-header clearfix">
  <div class="discover-item-header-left">
    <div class="discover-item-header-left-pr">
      <h5><a href='<%- url %>'><%= title %></a></h5>
      <p>
        <%- datetime %>
      </p>
    </div>
  </div>
  <div class="discover-item-header-right">
    <div class="move2BottomContainer">
      <a href="#" class='move2Bottom'><i class='glyphicon glyphicon-share-alt'></i>&nbsp;Share</a>
      <a href="#" class='move2Bottom'><i class='glyphicon glyphicon-thumbs-up'></i>&nbsp;Like</a>
    </div>
    <a href="#" alt='dislike'><i class='glyphicon glyphicon-remove'></i></a>
  </div>
</div>
<div class="discover-item-body">
  <p>
    <%- digest %>...
  </p>
</div>

