  <div class="influence-item-header clearfix">

    <div id="influence-charts-left" class='influence-charts'>

    </div>
    <div id="influence-charts-right" class='influence-charts'>

    </div>
  </div>
