<% if(isFail) { %>
  <div class="influence-item-header">
    No data!
  </div>
<% } %>
  <div class="influence-item-bottom clearfix">
    <div class="influence-item-bottom-list influence-item-bottom-list-first clearfixc">
      <div class="influence-item-bottom-list-c clearfix">
        <div class="influence-item-bottom-list-img">
          <img src="<%= AppAssets.path('dashboard-icon1.png') %>" alt="" />
        </div>
        <div class="influence-item-bottom-list-p">
          <p>0</p>
          <span>Upcoming Campaigns</span>
        </div>
      </div>
    </div>
    <div class="influence-item-bottom-list">
      <div class="influence-item-bottom-list-c clearfix">
        <div class="influence-item-bottom-list-img">
          <img src="<%= AppAssets.path('dashboard-icon2.png') %>" alt="" />
        </div>
        <div class="influence-item-bottom-list-p">
          <p>0</p>
          <span>Completed Campaigns</span>
        </div>
      </div>
    </div>
    <div class="influence-item-bottom-list">
      <div class="influence-item-bottom-list-c clearfix">
        <div class="influence-item-bottom-list-img">
          <img src="<%= AppAssets.path('dashboard-icon3.png') %>" alt="" />
        </div>
        <div class="influence-item-bottom-list-p">
          <p>0</p>
          <span>Total<br class='display-none-br' /> Income</span>
        </div>
      </div>
    </div>
  </div>
