<div class="influence-header">
  <h3>Social Influence Power</h3>
  <% if(items.length > 0){ %>
    <div class="btn-group influence-dropdown">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class='glyphicon glyphicon-align-justify'></i>&nbsp;Switch Social Account <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% _.each(items, function(item) { %>
        <li><a href="#" id="<%= item.id %>"><%= item.provider %>: <%= item.name %></a></li>
        <% }) %>
      </ul>
    </div>
  <% } %>
</div>
<div class="influence-item-container">
  <div class="influence-item">

  </div>
</div>
