<div>
  <div class="header dashboard-kol">
    <%= polyglot.t('dashboard_kol.score_tab.header') %>
  </div>
  <div class="button dashboard-kol">
    <button class="btn btn-green dashboard-kol-btn" id="previous-step"><%= polyglot.t("dashboard_kol.buttons.previous") %></button>
    <button class="btn btn-green dashboard-kol-btn" id="next-step"><%= polyglot.t("dashboard_kol.buttons.next") %></button>
  </div>
</div>
