  <div class='trick_for_no_data'>
    <p><%- polyglot.t('dashboard_kol.no_data') %></p>
  </div>
  <div class="influence-item-header clearfix">
    <div class="today mock_charts_common">
      <p>
        <span>
          2001
        </span>
        Today
      </p>
    </div>
    <div class='influence-charts mock_charts_common mock_charts_1' style='float: left;margin-left: 100px;'>

    </div>
    <div class='influence-charts mock_charts_common mock_charts_2' style='float: right;margin-right: 30px;'>

    </div>
  </div>

  <div class="influence-item-bottom clearfix">
    <div class="influence-item-bottom-list influence-item-bottom-list-first clearfixc">
      <div class="influence-item-bottom-list-c clearfix">
        <div class="influence-item-bottom-list-img">
          <img src="<%= AppAssets.path('dashboard-icon1.png') %>" alt="" />
        </div>
        <div class="influence-item-bottom-list-p">
          <p>0</p>
          <span>Upcoming Campaigns</span>
        </div>
      </div>
    </div>
    <div class="influence-item-bottom-list">
      <div class="influence-item-bottom-list-c clearfix">
        <div class="influence-item-bottom-list-img">
          <img src="<%= AppAssets.path('dashboard-icon2.png') %>" alt="" />
        </div>
        <div class="influence-item-bottom-list-p">
          <p>0</p>
          <span>Completed Campaigns</span>
        </div>
      </div>
    </div>
    <div class="influence-item-bottom-list">
      <div class="influence-item-bottom-list-c clearfix">
        <div class="influence-item-bottom-list-img">
          <img src="<%= AppAssets.path('dashboard-icon3.png') %>" alt="" />
        </div>
        <div class="influence-item-bottom-list-p">
          <p>0</p>
          <span>Total<br class='display-none-br' /> Income</span>
        </div>
      </div>
    </div>
  </div>
