  <div class='trick_for_no_data'>
    <p><%- polyglot.t('dashboard_kol.no_data') %></p>
  </div>
  <div class="influence-item-header  clearfix">

    <div class='influence-charts mock_charts_1 mock_charts_common'>

    </div>
    <div class='influence-charts mock_charts_2 mock_charts_common'>

    </div>
  </div>
