<div class="campaigns-tables-title my_value_title">
  <span><%= polyglot.t('dashboard_kol.score_tab.tables_title2') %></span>
</div>
<div class="panel-group" id="value-data-group" role="tablist" aria-multiselectable="true">
</div>
<!--social modal-->
<div class="modal modal-account" id='modal-account' role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
