<td><%= name %></td>
<td><%= contacts.length %></td>
<td><a class="btn btn-danger btn-xs" href="#"><i class="fa fa-close"></i> <%= polyglot.t("smart_release.targets_step.media_tab.delete") %></a></td>
