<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>

<p><%= link_to "Accept invitation", root_url+"signin/#accept/"+@token %></p>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
