<div class="row">
  <div class="col-lg-12">
    <div class="panel blast-release">
      <div class="panel-body">
        <div class="blast-content">
          <div role="tabpanel">
            <div class="top-menu"></div>
            <div class="rb-tab-content"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
