<div id="blast-pitch" class="tab-pane active" role="tabpanel">
<h5><i class="fa fa-send-o"></i> Pitch</h5>
<p>Tuzu viela keb ul aki keosu mitwap guw tigetum gurtaj luntojzu ra. Seki ni dedcuku reus zar wevoj teutu adaka jevresjug tokgumkik gowkapli ezfujwo idiw vet uta noh. Bapu adtis te radazi cemi leviade gom no zec otilin kuzil ag se cudiigi tuz.</p>
<div class="well">
  <span class="badge badge-success">31</span> Targets will be contacted via Email <i class="fa fa-envelope"></i>
  <a href="#email-targets-list" data-toggle="collapse">
    <small>See list <i class="fa fa-chevron-down"></i></small>
  </a>
  <div id="email-targets-list" class="collapse">
    <br>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Outlet</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td>Dustin Perry</td>
          <td>290</td>
          <td><a class="btn btn-danger btn-xs" href="#"><i class="fa fa-close"></i> Delete</a></td>
        </tr>
        
        <tr>
          <td>Bobby Lloyd</td>
          <td>714</td>
          <td><a class="btn btn-danger btn-xs" href="#"><i class="fa fa-close"></i> Delete</a></td>
        </tr>
        
        <tr>
          <td>Jeffery Floyd</td>
          <td>20</td>
          <td><a class="btn btn-danger btn-xs" href="#"><i class="fa fa-close"></i> Delete</a></td>
        </tr>
        
      </tbody>
    </table>
    Save as a list <input type="text" style="width: 140px; display: inline;" placeholder="List name..." class="form-control input-sm"> <button disabled="" class="btn btn-primary btn-sm">Save</button>
  </div>
</div>
<div class="well">
  <span class="badge badge-success">27</span> Targets will be contacted via Twitter <i class="fa fa-envelope"></i>
  <a href="#twitter-targets-list" data-toggle="collapse">
    <small>See list <i class="fa fa-chevron-down"></i></small>
  </a>
  <div id="twitter-targets-list" class="collapse">
    <br>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Handle</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td>Marc Rice</td>
          <td>@galutve</td>
          <td><a class="btn btn-danger btn-xs" href="#"><i class="fa fa-close"></i> Delete</a></td>
        </tr>
        
        <tr>
          <td>Olga Adkins</td>
          <td>@icke</td>
          <td><a class="btn btn-danger btn-xs" href="#"><i class="fa fa-close"></i> Delete</a></td>
        </tr>
        
        <tr>
          <td>Esther Pierce</td>
          <td>@co</td>
          <td><a class="btn btn-danger btn-xs" href="#"><i class="fa fa-close"></i> Delete</a></td>
        </tr>
        
      </tbody>
    </table>
    Save as a list <input type="text" style="width: 140px; display: inline;" placeholder="List name..." class="form-control input-sm"> <button disabled="" class="btn btn-primary btn-sm">Save</button>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading"><i class="fa fa-envelope"></i> Email pitch</div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label>Subject line</label>
        <input type="text" placeholder="Enter a catchy subject line..." class="form-control">
      </div>
      <div class="form-group">
        <label>Your email address</label>
        <input type="text" placeholder="Enter an email address..." class="form-control">
      </div>
      <div class="form-group">
        <label>Pitch text</label>
        <textarea style="width: 100%; height: 200px;" class="form-control">Hi @[First Name],

Here's a press release you might find interesting:

"@[Title]"

@[Summary]

Please let me know your thoughts.

Regards,
Parsa
        </textarea>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Summary length: </label>
            <span id="summary-slider-amount">2 sentences</span>
            <div id="summary-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 20%;"></span></div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Available merge tags</label>
            <br>
            <label class="label label-default"><a href="#">First Name</a></label>
            <label class="label label-default"><a href="#">Last Name</a></label>
            <label class="label label-default"><a href="#">Summary</a></label>
            <label class="label label-default"><a href="#">Related Articles</a></label>
            <label class="label label-default"><a href="#">Outlet</a></label>
            <label class="label label-default"><a href="#">Link</a></label>
            <label class="label label-default"><a href="#">Title</a></label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading"><i class="fa fa-twitter"></i> Twitter pitch</div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label>Pitch text</label>
        <textarea style="width: 100%; height: 140px;" class="form-control">Hey @[Name] here's a press release you might find interesting: @[Link]
        </textarea>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Suggested hashtags </label>
            <br>
            
              <a href="#"><label class="label label-info">#worjowfeg</label></a>
            
              <a href="#"><label class="label label-info">#is</label></a>
            
              <a href="#"><label class="label label-info">#wanzavzu</label></a>
            
              <a href="#"><label class="label label-info">#sun</label></a>
            
              <a href="#"><label class="label label-info">#uhihu</label></a>
            
              <a href="#"><label class="label label-info">#awogana</label></a>
            
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Available merge tags</label>
            <br>
            <label class="label label-default"><a href="#">Handle</a></label>
            <label class="label label-default"><a href="#">Name</a></label>
            <label class="label label-default"><a href="#">Random Greeting</a></label>
            <label class="label label-default"><a href="#">Link</a></label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<button style="font-size: 20px; margin-top: 20px;" class="btn btn-block btn-success"><i class="fa fa-rocket"></i> Pitch! <small style="font-size: 13px;">(costs one Robin8)</small></button>
</div>
