<div id="blast-targets" class="tab-pane active" role="tabpanel">
<h5><i class="fa fa-bullseye"></i> Targets</h5>
<p>Kozuh segko doabgop inoluzis ka neitajan alho ranepe tihtafe dibipu ni demin biraswo sobzatoc. Saj vivdovava zalubip bidfut johbon hagic zimro pah za rod lufpetji wogce hembowil am vimozci.</p>
<ul class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="tab" href="#targets-blogs" aria-expanded="true"><i class="fa fa-rss"></i> Blogs</a></li>
  <li><a data-toggle="tab" href="#targets-social" aria-expanded="true"><i class="fa fa-twitter"></i> Social</a></li>
  <li><a data-toggle="tab" href="#targets-search" aria-expanded="true"><i class="fa fa-search"></i> Search</a></li>
  <li><a data-toggle="tab" href="#targets-list" aria-expanded="true"><i class="fa fa-list"></i> Media List</a></li>
</ul>
<div class="tab-content">
  <div id="targets-blogs" class="tab-pane active" role="tabpanel">
    
  </div>
  <div id="targets-social" class="tab-pane" role="tabpanel">
    
  </div>
  <div id="targets-search" class="tab-pane" role="tabpanel">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-search"></i><strong> Search contacts database</strong></h1>
      </div>
      <div class="panel-body">
        <form role="form" class="form">
          <div class="form-group">
            <label>Keywords</label>
            <input type="text" autocomplete="off" placeholder="Enter keywords" class="typeahead form-control">
          </div>
          <div class="form-group">
            <label>Contact name</label>
            <input type="text" autocomplete="off" placeholder="Contact's first and last name" class="typeahead form-control">
          </div>
          <div class="form-group">
            <label>Outlet</label>
            <input type="text" autocomplete="off" placeholder="Outlet website or blog name" class="typeahead form-control">
          </div>
          <div class="form-group form-inline">
            <label>Location</label>
            <br>
            <input type="text" autocomplete="off" placeholder="City" class="typeahead form-control">
            <input type="text" autocomplete="off" placeholder="State/Province" class="typeahead form-control">
            <input type="text" autocomplete="off" placeholder="Country" class="typeahead form-control">
          </div>
          <button class="btn btn-success pull-right btn-small" type="submit" id="social-search">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div id="targets-list" class="tab-pane" role="tabpanel">
    <div style="box-shadow: none; border: 1px solid #ccc;" class="well">
      <form class="form">
        <div class="form-group">
          <label>Add a previously saved list</label>
          <div style="display: inline;" class="ui-select">
            <select class="form-control">
              <option value="1">First list</option>
              <option value="2">Second list</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label>Upload a new list</label>
          <button class="btn btn-sm btn-primary"><i class="fa fa-upload"></i>  Upload</button>
          <br><small>Supported formats: CSV, XLS, XLSX and TSV <i title="" data-html="true" data-placement="right" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="Uploaded file must have exactly &lt;strong&gt;three&lt;/strong&gt; columns, formatted as &lt;strong&gt;first name, last name, email address&lt;/strong&gt;"></i></small>
        </div>
      </form>
    </div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>List Name</th>
          <th>Contacts</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td>Lalelub</td>
          <td>148</td>
          <td><a class="btn btn-danger btn-xs" href="#"><i class="fa fa-close"></i> Delete</a></td>
        </tr>
        
        <tr>
          <td>Labvetl</td>
          <td>859</td>
          <td><a class="btn btn-danger btn-xs" href="#"><i class="fa fa-close"></i> Delete</a></td>
        </tr>
        
        <tr>
          <td>Miliohk</td>
          <td>286</td>
          <td><a class="btn btn-danger btn-xs" href="#"><i class="fa fa-close"></i> Delete</a></td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
<button class="btn btn-primary pull-right" id="next-step"><i class="fa fa-chevron-right"></i> Next</button>
</div>
