.page-activity-pay {
  .pay-activity-wrap {
    background-color: #fff;
    padding: 30px;

    .pay-type {
      font-size: 18px;
      color: #9b9a9a;
    }

    .pay-by-balance, .pay-by-alipay {
      .pay-by-balance-text, .pay-by-alipay-text  {
        font-size: 22px;
      }
      .balance-amount, .alipay-pay-tip {
        font-size: 18px;
        color: #9b9a9a;
      }

      .recharge {
        font-size: 18px;
        color: #2dcad0;
        text-decoration: none;
      }

      .check-balance, .check-alipay {
        width: 24px;
        height: 24px;
        display: block;
        border: solid 1px #9b9a9a;
        border-radius: 12px;
        cursor: pointer;
        float: right;
        margin-top: 5px;
        margin-right: 50px;

        .ok-sign {
          display: inline-block;
          width: 24px;
          height: 24px;
          position: relative;
          right: 1px;
          top: -1px;
        }
      }

      .checked-img {
        background-image: url(~radio_checked.png);
      }

      .check-credit {
        width: 24px;
        height: 24px;
        display: block;
        border: solid 1px #9b9a9a;
        cursor: pointer;
        float: right;
        margin-top: 5px;
        margin-right: 50px;

        .ok-sign {
          display: inline-block;
          width: 24px;
          height: 24px;
          position: relative;
          right: 1px;
          top: -1px;
        }

        .checked-img {
          background-color: #00cacf;
        }
      }
    }

    .total-pay-status {
      margin: 40px 0 20px;
      text-align: center;
      span {
        margin: 0 40px;
      }
    }

    .total-pay-amount {
      text-align: center;
      .pay-amount-text {
        font-size: 20px;
      }
      .need-pay-amount {
        font-size: 20px;
      }
    }
  }

  .payCampaignSubmit {
    margin-top: 50px;
    text-align: center;
  }
}
