<small><%- scheduled_date %></small>
<span class="editable" data-type="textarea" data-pk="1" data-url="/post" data-title="Enter username"><%- text %></span>
<div class="pull-right" style="display: inline-block;">
  <span class="social-networks">
    <a href="#" class="btn btn-xs" data-toggle="tooltip" title="Post to @aylien"><i class="fa fa-twitter"></i></a>
    <a href="#" class="btn btn-xs" data-toggle="tooltip" title="Post to Aylien page"><i class="fa fa-facebook"></i></a>
    <a href="#" class="btn btn-xs" data-toggle="tooltip" title="Post to Aylien company page" disabled><i class="fa fa-linkedin"></i></a>
    <a href="#" class="btn btn-xs" data-toggle="tooltip" title="Post to Aylien page" disabled><i class="fa fa-google-plus"></i></a>
  </span>
  <a href="#" class="btn btn-xs btn-default" style="margin-left: 4px;" data-toggle="tooltip" title="Edit post"><i class="fa fa-pencil"></i></a>
  <a href="#" class="btn btn-xs btn-danger" data-toggle="tooltip" title="Delete post"><i class="fa fa-close"></i></a>
</div>