<h5><%= polyglot.t("social.posts.title") %></h5>
<p><%= polyglot.t("social.posts.description1") %></p>
<p><%= polyglot.t("social.posts.description2") %> </p>
<br>

<div id="today-posts"></div>
<div id="tomorrow-posts"></div>
<div id="other-posts"></div>

