<h5>Review Scheduled Posts</h5>
<p>
  Below is a list of your scheduled post(s) to your social profiles.  To schedule a post, just go to the "Say Something" box next to the Robin8 logo, located on the top of the dashboard. 
</p>
<p>To delete a scheduled post, just click on the delete button on this page. </p>
<br>

<div id="today-posts"></div>
<div id="tomorrow-posts"></div>
<div id="other-posts"></div>

