<h5>Review Scheduled Posts</h5>
<br>

<div id="nothing-scheduled" style="display: none;">
  <small>NOTHING SCHEDULED</small>
</div>
<div id="today">
  <small>Today</small>
</div>

<ul class="list-group"></ul>