<div class="panel panel-default panel-custom">
  <ul class="nav nav-tabs panel-heading" role="tablist">
    <li role="presentation" class="active profiles"><a data-target="#social-profiles" aria-controls="social-profiles" role="tab" data-toggle="tab">Social Profiles</a></li>
  </ul>

  <div class="panel-body">
    <div role="tabpanel">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="social-profiles">  </div>
        <div role="tabpanel" class="tab-pane" id="social-scheduled">  </div>
      </div>
  </div>
</div>
