<div class="panel panel-default panel-custom">
  <ul class="nav nav-tabs panel-heading" role="tablist">
    <li role="presentation" class="active posts"><a data-target="#social-scheduled" aria-controls="social-scheduled" role="tab" data-toggle="tab"><%= polyglot.t("social.scheduled_posts") %></a></li>
    <li role="presentation" class="profiles"><a data-target="#social-profiles" aria-controls="social-profiles" role="tab" data-toggle="tab"><%= polyglot.t("social.social_profiles") %></a></li>
  </ul>

  <div class="panel-body">
    <div role="tabpanel">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="social-scheduled">  </div>
        <div role="tabpanel" class="tab-pane" id="social-profiles">  </div>
      </div>
  </div>
</div>