<h4><i class="fa fa-file"></i> Files</h4>
<hr>
<ul class="files_list clearfix">
</ul>
  
<div class="image-preview-multiple">
  <input type="hidden" role="uploadcare-uploader"
    data-file-types="pdf doc docx"
    data-multiple="true"
    data-file=""
  >
</div>