<div>
  <a href="<%= attachment.url %>" class='file'><i class='fa fa-file'></i></a>
  <a href="javascript:void(0)" class="delete"><i class="fa fa-close delete-item"></i></a>
  <span class='label'><%= attachment.name %></span>
</div>
