<h4><i class="fa fa-file"></i> Files</h4> 
<hr>
<ul class="files_list clearfix">
  <li>
    <ul id="files" class="files_list clearfix"> </ul>
  </li>
  <li style="line-height: 100px;" >
    <div class="image-preview-multiple-plus">
      <input type="hidden" role="uploadcare-uploader"
             data-file-types="doc docx key numbers pages pdf ppt pptx rtf xls xlsx"
             data-multiple="true"
             data-file=""
      >
   </div>
  </li>
</ul>