<h4><i class="fa fa-photo"></i> Photos</h4>
<hr>
<ul class="photos_list clearfix">
</ul>
  
<div class="image-preview-multiple">
  <input type="hidden" role="uploadcare-uploader"
    data-images-only=""
    data-multiple="true"
    data-photo=""
  >
</div>