<h4><i class="fa fa-play-circle"></i> Videos</h4>
<hr>
<ul class="videos_list clearfix">
  <li>
    <ul id="videos" class="videos_list clearfix"> </ul>
  </li>
  <li style="line-height: 100px; height: 100px;">
    <div id="upload-tooltip" data-toggle="tooltip" title="The following file types are accepted: <br> .avi .mp4 .ogv .mov">
      <div class="image-preview-multiple-plus">
        <input type="hidden" role="uploadcare-uploader"
               data-file-types="avi mp4 ogv mov"
               data-multiple="true"
               data-video=""
        >
     </div>
  </div>
  </li>
</ul>