<div class="text-center" id="image-uploader-custom">
  <div class="text-center" id="image-uploader-logo">
    <img src="//placehold.it/200" id="logo-image">
  </div>
  <h6><%= polyglot.t("uploading.different_photo") %></h6>
  <input type="hidden" id="avatar-upload" role="uploadcare-uploader"
    data-max-size="3145728"
    data-images-only="true"/>
</div>