<div class="text-center" id="image-uploader-custom">
  <img src="//placehold.it/200" id="logo-image" class="avatar" alt="avatar" style="width: 200px; height: 200px;">
  <h6>Upload a different photo...</h6>
  <input type="hidden" id="avatar-upload" role="uploadcare-uploader"
    data-crop="340x340 upscale"
    data-max-size="3145728"
    data-images-only="true"/>
</div>