<h4><i class="fa fa-photo"></i> Photos</h4>
<hr>
<ul class="photos_list clearfix">
</ul>
  
<div class="image-preview-multiple">
  <input type="hidden" role="uploadcare-uploader"
    data-images-only=""
    data-multiple="true"
    data-photo=""
  >
</div>
<h4><i class="fa fa-play-circle"></i> Videos</h4>
<hr>
<ul class="videos_list clearfix">
</ul>
  
<div class="image-preview-multiple">
  <input type="hidden" role="uploadcare-uploader"
    data-file-types="avi mp4 ogv mov"
    data-multiple="true"
    data-video=""
  >
</div>
<h4><i class="fa fa-file"></i> Files</h4>
<hr>
<ul class="files_list clearfix">
</ul>
  
<div class="image-preview-multiple">
  <input type="hidden" role="uploadcare-uploader"
    data-file-types="pdf doc docx"
    data-multiple="true"
    data-file=""
  >
</div>