.icon-weixin,
.icon-weibo,
.icon-twitter,
.icon-facebook {
  width: 28px;
  height: 28px;
  background-size: 100%;
  display: inline-block;
  background-position: center center;
}

.icon-weixin {
  background-image: image-url("icon-weixin.png");
}

.icon-weibo {
  background-image: image-url("icon-weibo.png");
}

.icon-twitter {
  background-image: image-url("icon-twitter.png");
}

.icon-facebook {
  background-image: image-url("icon-facebook.png");
}

.icon-correct {
  width: 45px;
  height: 48px;
  background-size: 100%;
  display: inline-block;
  background-image: image-url("icon-corrent.png");
  background-position: center center;
}

.icon-user,
.icon-search,
.icon-ranking,
.icon-brand,
.icon-login {
  width: 30px;
  height: 30px;
  font-style: normal;
  background-size: 100%;
  display: inline-block;
  background-position: center center;
}

.icon-user {
  background-image: image-url("icon-user.png");
}

.icon-search {
  background-image: image-url("icon-search.png");
}

.icon-ranking {
  background-image: image-url("icon-ranking.png");
}

.icon-brand {
  background-image: image-url("icon-brand.png");
}

.icon-login {
  background-image: image-url("icon-login.png");
}

.arrow-down {
  width: 50px;
  height: 24px;
  display: inline-block;
  background: image-url('robin8_landingpage_sprites.png') no-repeat 0 -52px;
}
