<form class="navbar-form navbar-left navbar-search navbar-search-sm" role="search">
  <div class="inner-addon right-addon">
    <i class="fa fa-twitter"></i>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-linkedin gray"></i>
    <i class="fa fa-google-plus gray"></i>
    <input type="text" class="form-control" placeholder="Say something..."/>
  </div>
</form>
<form class="navbar-form navbar-left navbar-search navbar-search-lg" role="search">
  <textarea id="say-text" type="text" class="form-control" placeholder="Say something..."></textarea>
  <span class="label label-success label-sm post-counter" id="say-counter" 
        style="position: absolute; bottom: 50px; right: 13px;">140</span>
  <div class="post-settings row">
    <div class="col-xs-4" style="width: 22%;">
      <div class="checkbox">
        <label>
          <input type="checkbox" id='shrink-links'> <strong>Shrink links</strong>
        </label>
      </div>
    </div>
    <div class="col-xs-4 social-networks" style="width: 26%;">
      <a href="#" class="btn" data-toggle="tooltip" title="Post to @aylien"><i class="fa fa-twitter"></i></a>
      <a href="#" class="btn" data-toggle="tooltip" title="Post to Aylien page"><i class="fa fa-facebook"></i></a>
      <a href="#" class="btn" data-toggle="tooltip" title="Post to Aylien company page"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="btn" data-toggle="tooltip" title="Post to Aylien page"><i class="fa fa-google-plus"></i></a>
    </div>
    <div class="col-xs-4" style="width: 52%;">
      <a class="btn btn-success pull-right btn-sm" style="margin-left: 6px;">Post</a>
      <a class="btn btn-default pull-right btn-sm schedule"><i class="fa fa-calendar"></i> Schedule</a>
      <div class="form-group pull-right" style="display: none;">
        <div class='input-group date' id='schedule-datetimepicker'>
          <input type='text' class="form-control input-sm"/>
          <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
        <a class="btn btn-danger pull-right btn-sm cancel-schedule" style="margin-left: 6px;"><i class="fa fa-close"></i></a>
      </div>
    </div>
  </div>
</form>