/*!
 * Robin8 UI 公共样式
 * 02.01.2016 20:41
 * sandmanman@qq.com
 */

@import "font";

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  border: 1px solid #CCC!important;
}

html,
body {
  background: #ebf3f5;
}

body {
  color: #181616;
  // font-family: SimHei, "Segoe UI", Helvetica, Arial, "Microsoft YaHei", Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 16px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  padding: 30px 0;
}

.page {
  padding: 30px 0;
}

.container {
  position: relative;
  width: $inner-width;
  max-width: 100%;
  margin: 0 auto;
}

.container-fluid {
  min-width: $inner-width;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 2px solid #e8e8e8;
}

.table > thead > tr > th {
  border-bottom: 2px solid #e8e8e8;
}

:-ms-clear {
  display: none;
}

.slash {
  color: #bfc1c0;
  margin: 0 5px;
}

.avater-small {
  width: 97px;
  height: 97px;
  display: inline-block;
  border-radius: 1000px;
}

.r-card,
.panel {
  margin-bottom: 40px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  box-shadow: 3.5px 6.062px 13px 0px rgba(0, 0, 0, 0.05);
}

.r-card-body {
  padding: 20px 40px;
}

.panel .panel-body {
  padding: 20px 40px 40px 40px;
}

.panel-heading {
  padding: 20px 40px;
  line-height: 36px;

  .panel-title {
    font-size: 16px;
    line-height: 36px;
  }
  .switch {
    float: right;
    margin-left: 30px;
    color: #9b9a9a;
    font-size: 14px;
    margin-top: 5px;
    height: 35px;
  }
  .stat-num {
    font-size: 20px;
    position: relative;
    top: 2px;
  }
  .caret-arrow {
    margin-left: 10px;
    background-position: 0 -76px;
  }
  .collapsed .caret-arrow {
    background-position: 0 -52px;
  }
  .quick-btn-group {
    float: right;
    margin-top: 6px;
  }
  .quick-btn {
    width: 131px;
    height: 31px;
    line-height: 31px;
  }
  .slash {
    margin: 0 10px;
    color: #c3c5c6;
  }
}

.money {
  font-size: 13px;
  position: relative;
  right: 2px;
  bottom: 2px;
  display: inline-block;
}

.avail-amount {
  position: relative;
  bottom: 1px;
  display: inline-block;
}

.caret-arrow {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(~robin8_ui_sprites.png);
  background-repeat: no-repeat;

  &.left {
    background-position: 0 -100px;
  }
  &.right {
    background-position: 0 -124px;
  }
  &.up {
    background-position: 0 -76px;
  }
  &.down {
    background-position: 0 -52px;
  }
}

.what {
  display: inline-block;
  width: 15px;
  height: 15px;
  overflow: hidden;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  background-color: #b9bdbe;
  border-radius: 1000px;
}

.icon-medium {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(~robin8_ui_sprites.png);
  background-repeat: no-repeat;
}

.icon-search {
  background-position: 0 -388px;
}

.icon-modify {
  background-position: 0 -285px;
}

.btn {
  padding: 0;
  line-height: 36px;
  outline: none !important;
  box-shadow: 3.5px 6.062px 13px 1px rgba(0, 0, 0, 0.15);
}

.btn-common {
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
  outline: none !important;
  &.btn-default{
    background-color: #ddd;
  }
}

.panelKolsTable.table > tbody > tr > td{
  line-height: 1.8;
}

.btn.btn-line {
  background: transparent;
}

.btn-grey {
  color: #181616;
  border: 1px solid #bbb;
  border-radius: 3px;
}
.btn-grey:hover {
  color: #2dcad0;
  border: 1px solid #2dcad0;
}
.btn-blue,
.btn-red {
  color: #fff;
}
.btn-blue {
  border: 1px solid #2dcad0;
  background: #2dcad0;
}
.btn-blue.btn-line {
  color: #2dcad0;
}
.btn-blue:hover {
  color: #fff;
  border: 1px solid #28b6bb;
  background: #28b6bb;
}
.btn-red {
  border: 1px solid #e45d34;
  background: #e45d34;
}
.btn-red.btn-line {
  color: #e45d34;
}
.btn-red:hover {
  color: #fff;
  border: 1px solid #e14b1e;
  background: #e14b1e;
}
.btn-default {
  width: 82px;
}
.btn-big {
  width: 180px;
}
.btn-lg {
  width: 330px;
}
.btn.disabled,
.btn[disabled] {
  opacity: .45;
}
.breadcrumb {
  padding: 0;
  background-color: transparent;

  a {
    color: #181616;
  }
  .caret-arrow {
    margin-right: 5px;
  }
}
.label {
  display: inline-block;
  font-size: 13px;
  padding: 3px 6px;
  vertical-align: middle;
}
.label-orange {
  background-color: #F26E15;
}
.r-global-header {
  margin-bottom: 0;
  max-height: 56px;
  color: #fff;
  background: url(~robin8_header_bg.jpg) no-repeat center top #2c2a2b;
  border-radius: 0;
  border: none;

  .logo {
    float: left;
    width: 89px;
    height: 60px;
    overflow: hidden;
    line-height: 9999px;
    background: url(~robin8_logo.png) no-repeat center;
    background-image: -webkit-image-set(url(~robin8_logo.png) 1x, url(~robin8_logo@2x.png) 2x);
  }

  .navbar-user {
    .username {
      display: block;
      color: #fff;
      line-height: 56px;
      font-weight: 400;
      .caret-arrow {
        position: relative;
        top: 5px;
        margin-left: 10px;
        width: 18px;
        height: 18px;
        background-position: 0 0;
      }
    }
    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }
}

.form-common-label{
  display: block;
  color: #9b9a9a;
  font-size: 14px;
  font-weight: 400;
}

.no-scroll {
  overflow: hidden;
}

.sns-icon {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  &.icon-weibo {
    background-image: url(~icon-weibo.png);
  }
  &.icon-public_wechat,  &.icon-wechat {
    background-image: url(~icon-wechat.png);
  }
  &.icon-qq {
    background-image: url(~icon-qq.png);
  }
}

@mixin maskable {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

@import "lib/pagination.scss";
@import "lib/switchery.scss";
@import "lib/datetimepicker.scss";
@import "lib/activity_card.scss";
@import "lib/base_selector.scss";
@import "lib/city_selector.scss";
@import "lib/tag_selector.scss";
@import "lib/sns_selector.scss";
@import "lib/price_range_selector.scss";
@import "lib/jqcloud.scss";
