/*!
 * brand-home
 * 2016/04/27
 */

.page-home {
  padding: 0;
}

.brand-header {
  // height: 154px;
  padding-top: 20px;
  color: #fff;
  text-align: center;
  // background: url(~robin8_header_bg.jpg) no-repeat center bottom #2c2a2b;
  background-color: #ebf3f5;

  .brand-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      // box-shadow: 10.5px 18.187px 19px 0px rgba(0, 0, 0, 0.55);
    }
  }

  .brand-name {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;

    .caret-arrow {
      margin-left: 10px;
      background-position: 0 -28px;
    }
  }

  .brand-content {
    margin-top: 15px;
  }

  .brand-info-panel {
    padding: 0 40px;
  }
  .brand-info-status {
    margin-top: 20px;
    .item {
      line-height: 24px;
      font-size: 14px;
      color: #000;
      .recharge-btn {
        width: 60px;
        line-height: 24px;
        margin-left: 10px;
      }
    }
  }
}

.brand-activities {
  .balance {
    margin-left: 70px;
  }

  .recharge-btn {
    color: #fff;
    margin-left: 30px;
    height: 31px;
    line-height: 31px;
  }
}

.red_color{
  color: red;
}
