/*!
 * brand-home
 * 2016/04/27
 */

.page-home {
  padding: 0;

}

.brand-header {
  height: 154px;
  color: #fff;
  text-align: center;
  background: url(~robin8_header_bg.jpg) no-repeat center bottom #2c2a2b;

  .brand-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 132px;
    height: 100px;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 5px;
      box-shadow: 10.5px 18.187px 19px 0px rgba(0, 0, 0, 0.55);
    }
  }

  .brand-name {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;

    .caret-arrow {
      margin-left: 10px;
      background-position: 0 -28px;
    }
  }

  .brand-content {
    margin-top: 15px;
  }
}

.brand-activities {
  .balance {
    margin-left: 70px;
  }

  .recharge-btn {
    color: #fff;
    margin-left: 30px;
    height: 31px;
    line-height: 31px;
  }
}


.brand-activity-card {
  position: relative;
  margin-bottom: 40px;
  padding: 0 70px 0 55px;
  height: 188px;
  overflow: hidden;
  background-color: #403e3f;
  background-image: linear-gradient(to right, #403e3f, #2f2d2e);

  .summary {
    color: #d8d8d8;
  }

  .campaign-type{
    color: #f26d45;
  }

  .brand-activity-coverphoto {
    position: absolute;
    left: 0;
    top: 0;
    height: 100% !important;

    a {
      display: block;
      width: 300px;
      height: 250px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .campaign-status-img {
    position: absolute;
    left: -1px;
    z-index: 2;
    width: 64px;
    height: 64px;
  }

  .brand-activity-content {
    margin-left: 280px;

    .activity-title {
      margin-top: 25px;
      margin-bottom: 0;
      width: 350px;
      height: 22px;
      text-overflow: ellipsis;
      color: #fff;
      font-size: 18px;
    }
    .summary {
      margin-top: 20px;
      color: #9b9a9a;
      font-size: 14px;
      word-break: break-all;
    }
    .date{
      font-size: 12px;
    }
    .link {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
    .edit-campaign-btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 82px;
      height: 36px;
      border: 1px solid #e45d34;
      color: #e45d34;
      box-shadow: none;

      &:hover {
        color: #fff;
        border: 1px solid #e14b1e;
        background: #e14b1e;
      }
    }
    .detail-link,
    .stop-btn {
      float: right;
    }
    .detail-link {
      width: 14px;
      color: #fff;
      line-height: 14px;
      opacity: .7;
      &:hover {
        text-decoration: none;
      }
    }
    .stat-info {
      margin: 20px 0 0;
      padding-top: 8px;
      overflow: hidden;
      text-align: center;
      border-top: 1px solid rgba(255, 255, 255, 0.2);

      .txt {
        display: block;
        color: #9b9a9a;
        font-size: 12px;
      }

      .stat-num {
        color: #fff;
        font-size: 18px;
        font-family: FuturaStd-Medium;
      }

      .remain-time {
        padding-left: 30px;
        text-align: center;
      }

      .symbol {
        margin-right: 5px;
        font-size: 14px;
        font-weight: 400;
      }

      li {
        position: relative;
        list-style: none;
        float: left;

        .cl-recruiters-count {
          padding-right: 42px;
          text-align: center;
        }

        .cl-total-budget {
          text-align: center;
          padding-left: 5px;
        }

        &:after {
          position: absolute;
          right: 0;
          bottom: 0;
          content: '/';
          color: #bfc1c0;
        }

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
        // &:after {
        //   display: none !important;
        // }
      }

      &.grid-4 {
        li {
          width: 150px;

          &:first-child {
            width: 100px;
          }

          &:last-child {
            width: 80px;
          }
        }
      }

      &.grid-3 {
        li {
          width: 195px;

          &:first-child {
            width: 260px;
          }

          &:last-child {
            width: 110px;
          }
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.closure {
    background-color: #fff;
    background-image: none;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);

    .activity-title,
    .link,
    .detail-link,
    .stat-info .stat-num {
      color: #181616;
    }
    .link {
      border-bottom: 1px solid #181616;
    }
    .stat-info {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .summary{
      color: #686868;
    }
  }
}
