@import "./activity_detail_base.scss";

.activity-stat-bigshow-panel,
.activity-result-stat-bigshow-panel {
  .panel-body {
    padding-top: 40px;
  }
}

.state-text {
  width: 100%;
  margin-bottom: 40px;
 .content {
    position: relative;
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
 }
  .remaining-time {
    color: #F26E15;
  }
}

.bottom-tips {
  margin-top: -10px;
  text-align: right;
}

.kols-list-wrapper {
  table {
    th {
      text-align: center;

      &:first-child {
        padding-left: 0;
        text-align: left;
      }
    }
    td {
      height: 112px;
    }
  }
  .grey {
    color: #666;
  }
  .panel-heading {
    line-height: inherit;
  }
  .panel-body {
    padding: 20px 0 0 0;
  }
  .profile {
    position: relative;
    width: 240px;
    text-align: left;
    padding: 16px 16px 16px 85px;
    line-height: 80px;
    display:table-cell;

    .avatar {
      position: absolute;
      left: 0;
      top: 24px;
      box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      width: 64px;
      height: 64px;
    }
    .name {
      display: inline-block;
      line-height: 24px;
    }
  }
  .reason {
    min-width: 180px;
  }
  .pagination {
    display: block;
    text-align: center;
    margin: 0;
    line-height: 0;
    padding-left: 0;
    padding-right: 0;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    ul {
      position: relative;
      display: inline-block;
      left: auto;
      > li {
        float: left;
        position: relative;
        right: auto;
      }
    }
  }
}

.kol-stat-wrapper {
  display: block;
  width: 100%;
  height: 200px;

  .kol-stat-container {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
  .stat-overview {
    text-align: center;
    margin-bottom: 25px;
    ul {
      display: inline-block;
      &:after {
        content: "";
        clear: both;
        display: block;
      }
      li {
        float: left;
        width: 110px;
        height: 100px;
        text-align: center;
        position: relative;
      }
      li + li {
        &:after {
          content: "/";
          display: block;
          position: absolute;
          left: -5px;
          top: 50%;
          color: #bfc1c0;
        }
      }
    }
    h5 {
      margin-bottom: 5px;
      color: #666;
    }
    .bold {
      font-size: 42px;
    }
  }
  .kol-form {
    position: relative;
    width: 100%;
    text-align: center;
    .kol-submit {
      width: 220px;
      height: 45px;
      line-height: 45px;
      background-color: #35CDD2;
      border-color: #35CDD2;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      font-size: 18px;
    }
  }
}