<!DOCTYPE html>
<html>
<head>
  <title>Robin8</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= env_stylesheet_link_tag(
    static: 'application_static',
    hot: 'application_non_webpack',
    media: 'all')
  %>

  <%= env_javascript_include_tag(
    hot: [
      'http://localhost:3500/vendor-bundle.js',
      'http://localhost:3500/app-bundle.js'
    ]) %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
