<!DOCTYPE html>
<html>
<head>
  <title>Robin8</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'public_pages', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'public_pages', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-60261179-1']);
    _gaq.push(['_setDomainName', document.domain]);
    _gaq.push(['_trackPageview']);
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60261179-1', 'auto');
    ga('send', 'pageview');

  </script>


 <script src="https://apis.google.com/js/client.js"></script>
    <script>
      // Enter the API key from the Google Develoepr Console - to handle any unauthenticated
      // requests in the code.
      // The provided key works for this sample only when run from
      // https://google-api-javascript-client.googlecode.com/hg/samples/requestSample.html
      // To use in your own application, replace this API key with your own.
      var apiKey = 'AIzaSyA0sbatS1W5JWGICc3uNz7bioFU-nB2KZs';
      function makeRequest() {
        gapi.client.setApiKey(apiKey);
        function writeResponse(resp) {
          var responseText;
          if (resp.error && resp.error.errors[0].debugInfo == 'QuotaState: BLOCKED') {
            responseText = 'Invalid API key provided. Please replace the "apiKey" value with your own.';
          } else {
            responseText = 'Short URL ' + shortUrl + ' expands to ' + resp.longUrl;
          }
          var infoDiv = document.getElementById('info');
          infoDiv.innerHTML = '';
          infoDiv.appendChild(document.createTextNode(responseText));
        }
        var shortUrl = document.getElementById('shortUrl').value;
        var restRequest = gapi.client.request({
           'path': '/urlshortener/v1/url',
           'params' : {'shortUrl' : shortUrl}
        });
        restRequest.execute(writeResponse);
      }
    </script>


</head>
<body id="main">
<p>Enter a short URL and click "Expand URL" to get the full URL.</p>
<label for="shortUrl">Short URL </label>
<input id="shortUrl" type="text" value="http://goo.gl/fbsS" />
<button onclick="makeRequest();">
  Expand URL
</button>
<div style="margin-top:0.5em;"><span id="info">Results</span></div>



<!-- load bitly javascript sdk -->
<script type="text/javascript" src="http://bit.ly/javascript-api.js?version=latest&login=o_1kj2k3og6&apiKey=R_f9edc1bfe86f3ed758207c0a3e948e86">
</script>
<!-- end load bitly javascript sdk -->
<%= yield %>

</body>
</html>