<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>ROBIN8 | Welcome</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <meta property="og:title" content="ROBIN8" />
  <meta property="og:description" content="he next generation PR platform powered by artificial intelligence" />
  <meta property="og:image" content="/assets/ROBIN8-logo.png" />

  <%= stylesheet_link_tag    'website' %>
  <%= javascript_include_tag 'website' %>

</head>
<body>

<%= yield%>

<footer>
  <div class="row">
    <div class="small-12 medium-3 columns ft-logo right">
      <%=image_tag "ROBIN8-logo.png"%>
    </div>
    <div class="small-12 medium-9 columns left">
      &copy;2015 MyPRGenie Inc. All rights reserved. <br class="show-for-medium-only" /> <a href="/about" class="ft-link privacy">About</a> <a href="/team" class="ft-link privacy">Team</a> <a href="/contact" class="ft-link privacy">Contact</a> <a  href="/terms" class="ft-link privacy">Privacy &amp; Terms</a>
    </div>
  </div>
</footer>

</div>
</body>

<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
            _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//v2.zopim.com/?xiJhoA8OtbBwE082Q8DsjbzLgEr5AdM0';z.t=+new Date;$.
                type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
</html>















