@import "../shared/form.scss";
@import "../shared/modal.scss";


.campaign-target-group {
  padding: 38px 0;
  width: 100%;
  position: relative;

  .campaign-target {
    text-align: center;

    label{
      display: block;
      color: #9b9a9a;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .target-result{
      margin-top: 25px;
    }

    .target-btn{
      width: 110px;
      height: 36px;
      color: #ffffff;
      background-color: #36cdd3;
      font-size: 14px;
    }

  }

  .target-sns {
    .target-item {
      width: 32px;
      height: 32px;
      margin: -6px 3px 0 3px;
      display: inline-block;
    }
  }

  .target-city-label{
    text-align: center;
    white-space: normal;
    word-break: break-word;
  }

  // .influence-score-selector {
  //   margin-top: 25px;
  // }

  // select.influence_score{
  //   height: 27px;
  //   width: 182px;
  //   appearance: none;
  //   background: url(~select_arr.png) no-repeat white;
  //   background-position: 159px 7px;
  //   -webkit-appearance: none; /* Chrome*/
  //   -moz-appearance: none;/* Firefox */
  //   font-size: 12px;
  //   text-indent: 12px;
  //   background-color: #ffffff;
  //   border: 1px solid #181616;
  //   border-radius: 2px;
  // }
}

.page-invite {
  .arrow-right {
    position: absolute;
    right: 20px;
    top: 50%;
    &:hover {
      &:before {
        border-left-color: red;
      }
      &:before, &:after {
        cursor: pointer;
      }
    }
  }
  .arrow-right:after, .arrow-right:before {
    left: 100%;
    top: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
  }

  .arrow-right:after {
    border-left-color: #fff;
    border-width: 4px;
    margin-top: -4px;
  }
  .arrow-right:before {
    border-left-color: #ccc;
    border-width: 6px;
    margin-top: -6px;
  }

  .creat-activity-basic-intro {
    .form-control-file #uploadButton {
      top: 110px;
    }
    .cover-photo {
      height: 361px;
      .inner {
        height: 361px;
      }
    }
  }

  .search-list-form {
    h3 {
      text-align: center;
      margin: 0 0 30px 0;
    }
  }

  .select-list-form, .search-list-form {
    .content {
      padding: 40px;
      position: relative;
    }
  }

  .kol-list-wrap {
    .btn-line {
      padding: 0 15px;
      line-height: 32px;
      text-align: center;
      width: 80px;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
    .disabled {
      .btn {
        color: #999;
      }
    }
    .kol-list-empty {
      padding: 20px 30px 10px 30px;
      text-align: center;
    }

    table {
      width: 100%;
      th {
        font-weight: 400;
        padding: 10px 0;
      }
      thead {
        border-bottom: 2px solid #eee;
      }
      tr + tr {
        border-top: 2px solid #eee;
      }
      td {
        position: relative;
        height: 90px;
      }
    }
  }
}