<table class="table table-hover targets">
  <thead>
    <tr>
      <th>Influencer</th>
      <th>Followers</th>
      <th>&nbsp;&nbsp;Reach <i data-toggle="tooltip" 
        class="fa fa-question-circle"
        data-placement="top" 
        title="Reach is a measure for<br /> an influencer's follower base size<br />
          relative to other influencers"></i>&nbsp;&nbsp;
      </th>
      <th>&nbsp;&nbsp;Amplif. <i data-toggle="tooltip" 
        class="fa fa-question-circle"
        data-placement="top" 
        title="Amplification indicates how likely<br /> 
          an influencer's follower base<br /> is to reshare content"></i>&nbsp;&nbsp;
      </th>
      <th>Relevance</th>
      <th>Pitch?</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
